
  <div class="d-flex gap-3 gap-lg-8 " >
    <ng-container *ngFor="let stats of dashboardStats">
      <span class="menu-link d-flex align-items-center">
        <div class="symbol symbol-30px ">
          <span class="symbol-label">
           <span [inlineSVG]="stats.icon"   class="svg-icon svg-icon-3 svg-icon-primary"></span>
          </span>
      </div>
      <a  class="btn btn-sm  border border-transparent btn-color-gray-600 fw-bold px-2">{{stats.label}}  </a>
    </span>
    </ng-container>


  </div>
