.no-bg{
        border-radius: 10px;
}
.update-label{
        position: absolute;
        bottom: 3%;
        left: 10px;
}
.image-input-wrapper {
        background-size: contain;
        background-position: center;
      }
      
      .image-input {
        position: relative;
      }
      
      .btn-icon {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .profile-image {
        width: 125px;
        height: 125px;
        border: 1px solid #28a745; /* Border color for visibility */
        border-radius: 50%; /* Make it circular if desired */
        object-fit: cover; /* Ensure the image covers the container */
      }