<div class="profile-header d-flex flex-column align-items-center gap-2 gap-lg-3 py-4 pt-lg-5 pb-lg-5">
    <img
      class="profile-avatar rounded-circle border border-3 border-success w-100px h-100px"
      src="../../../assets/media/avatars/300-7.jpg"
      alt="Jenny Klabber"
    >
    <div class="profile-name d-flex align-items-center gap-2">
      <div class="text-dark fs-2 fw-bolder">Jenny Klabber</div>
      <!-- SVG Icon -->
      <app-keenicon name="verify" type="solid" class="fs-1 text-info"></app-keenicon>
    </div>
    <div class="profile-details d-flex flex-wrap justify-content-center gap-1 gap-lg-4 small">
      <div class="detail-item d-flex gap-1 align-items-center">
        <i class="ki-filled ki-abstract-41 text-primary small"></i>
        <span class="text-primary fw-medium fs-7">KeenThemes</span>
      </div>
      <div class="detail-item d-flex gap-1 align-items-center">
        <i class="ki-filled ki-geolocation text-primary small"></i>
        <span class="text-primary fw-medium fs-7">SF, Bay Area</span>
      </div>
      <div class="detail-item d-flex gap-1 align-items-center">
        <i class="ki-filled ki-sms text-primary small"></i>
        <a class="text-primary fw-medium fs-7" href="mailto:jenny@kteam.com">jennyteam.com</a>
      </div>
    </div>
  </div>
  