/* Company certificates styles */
.badge-outline-gray {
  border: 1px solid #e4e6ef;
  background-color: transparent;
  color: #5e6278;
  padding: 0.5rem 0.75rem;
  border-radius: 0.475rem;
  display: inline-block;
}
