<div class="card mb-5 mb-xl-10 shadow-none border-1 border border-gray-300 rounded-2">
  <!-- Card Header -->
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_signin_method"
  >
    <div class="card-title  m-0">
      <h3 class="fw-bold m-0">{{ 'ACCOUNT_SETTINGS.CHANGE_PASSWORD' | translate }}</h3>
    </div>
  </div>

  <!-- Card Content -->
  <div id="kt_account_signin_method" class="collapse">
    <!-- Card Body -->
    <div class="card-body border-top p-9">
      <!-- Password Section -->
      <div class="d-flex flex-wrap justify-content-between align-items-center mb-10">
        <!-- Display Mode -->
        <div id="kt_signin_password" *ngIf="!isEditing()">
          <div class="fs-6 fw-bold mb-1">{{ 'ACCOUNT_SETTINGS.PASSWORD' | translate }}</div>
          <div class="fw-semibold text-gray-600">************</div>
        </div>
 <!-- Messages Display -->
        <!-- Edit Mode -->
        <div id="kt_signin_password_edit" class="flex-row-fluid" *ngIf="isEditing()">
          <!-- Form -->
          <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
            <div class="row mb-1">
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="currentpassword" class="form-label fs-6 fw-bold mb-3">
                    {{ 'ACCOUNT_SETTINGS.CURRENT_PASSWORD' | translate }}
                  </label>
                  <div class="position-relative">
                    <input
                      [type]="showOldPassword() ? 'text' : 'password'"
                      pInputText
                      class="form-control form-control-lg form-control-solid"
                      id="currentpassword"
                      [(ngModel)]="oldPassword"
                      name="currentpassword"
                      required
                    />
                    <i
                      class="position-absolute top-50 translate-middle-y cursor-pointer"
                      [ngClass]="{
                        'bi bi-eye-slash': showOldPassword(),
                        'bi bi-eye': !showOldPassword(),
                        'end-0 pe-3': !isRtl(),
                        'start-0 ps-3': isRtl()
                      }"
                      (click)="toggleOldPasswordVisibility()"
                    ></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="newpassword" class="form-label fs-6 fw-bold mb-3">
                    {{ 'ACCOUNT_SETTINGS.NEW_PASSWORD' | translate }}
                  </label>
                  <div class="position-relative">
                    <input
                      [type]="showNewPassword() ? 'text' : 'password'"
                      pInputText
                      class="form-control form-control-lg form-control-solid"
                      id="newpassword"
                      [(ngModel)]="newPassword"
                      name="newpassword"
                      required
                    />
                    <i
                      class="position-absolute top-50 translate-middle-y cursor-pointer"
                      [ngClass]="{
                        'bi bi-eye-slash': showNewPassword(),
                        'bi bi-eye': !showNewPassword(),
                        'end-0 pe-3': !isRtl(),
                        'start-0 ps-3': isRtl()
                      }"
                      (click)="toggleNewPasswordVisibility()"
                    ></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="confirmpassword" class="form-label fs-6 fw-bold mb-3">
                    {{ 'ACCOUNT_SETTINGS.CONFIRM_NEW_PASSWORD' | translate }}
                  </label>
                  <div class="position-relative">
                    <input
                      [type]="showConfirmPassword() ? 'text' : 'password'"
                      pInputText
                      class="form-control form-control-lg form-control-solid"
                      id="confirmpassword"
                      [(ngModel)]="confirmPassword"
                      name="confirmpassword"
                      required
                    />
                    <i
                      class="position-absolute top-50 translate-middle-y cursor-pointer"
                      [ngClass]="{
                        'bi bi-eye-slash': showConfirmPassword(),
                        'bi bi-eye': !showConfirmPassword(),
                        'end-0 pe-3': !isRtl(),
                        'start-0 ps-3': isRtl()
                      }"
                      (click)="toggleConfirmPasswordVisibility()"
                    ></i>
                  </div>
                </div>
                <!-- Password Match Validation Message -->
            <div class="text-danger mb-3" *ngIf="!passwordsMatch() && isEditing()">
              {{ 'ACCOUNT_SETTINGS.PASSWORDS_DO_NOT_MATCH' | translate }}
            </div>

              </div>
            </div>

            
            <div class="form-text mb-5">
              {{ 'ACCOUNT_SETTINGS.PASSWORD_RULES' | translate }}
            </div>

            <div class="d-flex">
              <button
                type="submit"
                class="btn btn-primary me-2 px-6"
                [disabled]="!passwordsMatch() || passwordForm.invalid "
              >
                {{ 'ACCOUNT_SETTINGS.UPDATE_PASSWORD' | translate }}
              </button>
              <button
                type="button"
                class="btn btn-color-gray-500 btn-active-light-primary px-6"
                (click)="cancelEdit()"
              >
                {{ 'ACCOUNT_SETTINGS.CANCEL' | translate }}
              </button>
            </div>
          </form>
        </div>

        <!-- Action Buttons -->
        <div id="kt_signin_password_button" *ngIf="!isEditing()">
          <button
          
            class="btn btn-light btn-sm btn-active-light-primary"
            (click)="editPassword()"
          >
            {{ 'ACCOUNT_SETTINGS.CHANGE_PASSWORD' | translate }}
          </button>
        </div>
      </div>

     
    </div>
  </div>
</div>
