<!-- Loading Indicator -->
<p-progressBar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
  [style]="{ height: '4px' }"
></p-progressBar>

<!-- Toolbar -->
<div id="kt_app_toolbar" class="app-toolbar pt-10 mb-0">
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
    <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
      <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
        <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0">
          ISIC Codes
        </h1>
        <div class="fw-semibold fs-7 my-0 text-muted" *ngIf="isicnodes && isicnodes.length >0">{{ isicnodes.length || 0 }} ISIC Code(s)</div>
      </div>

      <!-- Actions -->
     
      <!--end::Actions-->
    </div>
  </div>
</div>

<!-- Content -->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title">
          <div class="d-flex align-items-center position-relative my-1">
            <i class="pi pi-search fs-3 position-absolute ms-5"></i>
            <input
              type="text"
              pInputText
              class="form-control w-250px ps-12"
              placeholder="Search ISIC Codes"
              (input)="applyFilter($event)"
            />
          </div>
        
        </div>
        <div class="card-tooltip">
          <div class="d-flex align-items-center gap-2 gap-lg-3">
            <a (click)="showDialog()" class="btn btn-md btn-flex btn-primary">
              <i class="ki-outline ki-plus text-white fs-4"></i>
              Create
            </a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <ng-container *ngIf="(isLoading$ | async) === false  && isicnodes">
          <p-messages *ngIf="hasSuccessMessage" [(value)]="messages" [enableService]="false"></p-messages>
          <p-treeTable
            #tt
            [value]="isicnodes"
            [scrollable]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="['data.code', 'data.label', 'data.status', 'data.nameEn', 'data.nameAr']"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Name (EN)</th>
                <th>Name (AR)</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr [ttRow]="rowNode">
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{ rowData.code }}
                </td>
                <td>{{ rowData.nameEn }}</td>
                <td>{{ rowData.nameAr }}</td>
                <td>{{ rowData.status }}</td>
                <td>
                  <a
                    pTooltip="Edit ISIC Code"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    (click)="editIsicCode(rowNode)"
                  >
                    <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                  </a>
                  <a
                    pTooltip="Delete ISIC Code"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                    (click)="deleteIsicCode(rowNode)"
                  >
                  <i _ngcontent-ng-c540217837="" class="ki-duotone ki-trash fs-2"><span _ngcontent-ng-c540217837="" class="path1"></span><span _ngcontent-ng-c540217837="" class="path2"></span><span _ngcontent-ng-c540217837="" class="path3"></span><span _ngcontent-ng-c540217837="" class="path4"></span><span _ngcontent-ng-c540217837="" class="path5"></span></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- No Data Message -->
<ng-container *ngIf="(isLoading$ | async) === false && isicnodes?.length === 0">
  <div class="d-flex align-items-center justify-content-center h-400px text-muted">
    No Available Data
  </div>
</ng-container>

<!-- Dialog for Create/Update -->
<p-dialog
  [header]="isUpdate ? 'Edit ISIC Code' : 'Add ISIC Code'"
  [modal]="true"
  [(visible)]="displayDialog"
  [style]="{ width: '40rem' }"
>
  <p-messages *ngIf="hasErrorMessage" [(value)]="messages" [enableService]="false"></p-messages>
  <span class="text-muted mb-3 d-block">
    {{ isUpdate ? 'Edit ISIC Code Details' : 'Add ISIC Code Details' }}.
  </span>

  <form [formGroup]="isicForm">
    <div class="mb-3 row">
      <label for="code" class="col-sm-3 col-form-label">Code</label>
      <div class="col-sm-9">
        <input pInputText id="code" class="form-control" formControlName="code" autocomplete="off" />
        <div *ngIf="code && code.errors && (code.touched || code.dirty)">
          <div *ngIf="code.errors['required']" class="text-danger">
            Code is required.
          </div>
          <div *ngIf="code.errors['serverError']" class="text-danger">
            {{ code.errors['serverError'] }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="nameEn" class="col-sm-3 col-form-label">Name (EN)</label>
      <div class="col-sm-9">
        <input pInputText id="nameEn" class="form-control" formControlName="nameEn" autocomplete="off" />
        <div *ngIf="nameEn && nameEn.errors && (nameEn.touched || nameEn.dirty)">
          <div *ngIf="nameEn.errors['required']" class="text-danger">
            Name in English is required.
          </div>
          <div *ngIf="nameEn.errors['serverError']" class="text-danger">
            {{ nameEn.errors['serverError'] }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="nameAr" class="col-sm-3 col-form-label">Name (AR)</label>
      <div class="col-sm-9">
        <input pInputText id="nameAr" class="form-control" formControlName="nameAr" autocomplete="off" />
        <div *ngIf="nameAr && nameAr.errors && (nameAr.touched || nameAr.dirty)">
          <div *ngIf="nameAr.errors['required']" class="text-danger">
            Name in Arabic is required.
          </div>
          <div *ngIf="nameAr.errors['serverError']" class="text-danger">
            {{ nameAr.errors['serverError'] }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="status" class="col-sm-3 col-form-label">Status</label>
      <div class="col-sm-9">
        <p-dropdown
          id="status"
          formControlName="status"
          [options]="statusOptions"
          placeholder="Select Status"
          class="w-100"
        ></p-dropdown>
        <div *ngIf="status && status.errors && (status.touched || status.dirty)">
          <div *ngIf="status.errors['required']" class="text-danger">
            Status is required.
          </div>
          <div *ngIf="status.errors['serverError']" class="text-danger">
            {{ status.errors['serverError'] }}
          </div>
        </div>
      </div>
    </div>
    
    <div class="mb-3 row">
      <label for="parentId" class="col-sm-3 col-form-label">Parent ISIC Code</label>
      <div class="col-sm-9">
      
        
        <p-treeSelect
        id="parentId"
        [options]="isicTreeData"
       [(ngModel)]="selectedNode"
       [ngModelOptions]="{standalone: true}"
        placeholder="Select Parent"
        class="w-100"
        optionLabel="label"  
        optionValue="value"   
        [showClear]="true"
        [filter]="true"
        filterBy="label"     
      ></p-treeSelect>
        <div *ngIf="parentId && parentId.errors && (parentId.touched || parentId.dirty)">
          <div *ngIf="parentId.errors['serverError']" class="text-danger">
            {{ parentId.errors['serverError'] }}
          </div>
        </div>
      </div>
    </div>
    
  </form>

  <div class="d-flex justify-content-end gap-2">
    <button
      type="submit"
      [disabled]="isicForm.invalid || (isLoading$ | async)"
      (click)="submit()"
      class="btn btn-primary btn-sm"
    >
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Save</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
    <button (click)="onCancel()" class="btn btn-outline-secondary btn-sm">
      Cancel
    </button>
  </div>
</p-dialog>