<div class="sub-head">
    <div class=" header-middle sub-head-tabs">
        <div class="list-menu d-flex gap-md-0 gap-0 h-100 ">
          <ng-container *ngFor="let mainTittle of side_bar_data ">
            <ng-container *ngFor="let menu of mainTittle?.menu">
              <a class="menu-link-admin min-w-100px  position-relative" [class.active]="(menu?.menuValue === base) " [routerLink]="menu.route" >
                <span class="menu-element">
                  <span
                    class="d-flex text-decoration-none justify-content-center align-items-center ">
                    <span class="feature-name">{{ menu?.menuValue | titlecase }}</span></span>
                </span>

                <span class="menu-arrow d-lg-none"></span>
              </a>
              <div class="menu-item">
                <div class="menu-content" style="padding: 0;"><div class="menu-separator"></div></div>
             </div>
              <!-- <div class="white-bar" >

              </div> -->
            </ng-container>
          </ng-container>

        </div>
      </div>






</div>
