.sub-head{
    background-color: #012641;
    width: 100%;
    position: fixed;
    height: 40px;
    top: 60px;
    z-index: 10;
}
.sub-head-tabs{
    width: 97%;
    margin: auto;
    margin-top: 5px;
    height: 37px;
    z-index: 10;
}
.menu-link-admin{
    padding: 7px 20px 0px 20px;
    color: #fff;
}

.menu-link-admin.active{
    background-color: #fff;
    color: #000;
    border-radius: 7px 7px 0 0px;
    border: 1px solid #fff;
}
.feature-name{
    font-weight: 500;
}
.white-bar{
  position: absolute;
  width: 100%;
  right: 0;
  top: 40px;
  left: 0;
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #DBDFE9;

}

.sub-bar{
  display: block;
  width: 97% ;
  margin: 7px auto 0px auto;
}
