<div
class="
d-flex 
flex-wrap 
flex-lg-nowrap 
justify-content-between
gap-4 
gap-lg-10 pt-6 pb-lg-10 pt-lg-20 align-items-center"
>
<div
  
  class="page-title d-flex align-items-center me-3 pt-9 pt-lg-5 mb-lg-5"
>
  <div
    
    class="btn btn-icon btn-custom h-65px w-65px me-6"
  >
    <a href="#" class="btn btn-icon pulse pulse-secondary">
      <i class="ki-duotone ki-book fs-1"><span class="path1"></span><span class="path2"></span></i>
      <span class="pulse-ring border-2"></span>
    </a>
  </div>
  <h1
    
    class="d-flex fw-bolder fs-2 flex-column justify-content-center my-0"
  >
    <div class="step-title-container mx-2">
      <div class="text-white step-title">
        {{ 'INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate }}
        
      </div>
    </div>
  </h1>
</div>

</div>