<div
class="
d-flex 
flex-column pt-6 pb-lg-10 pt-lg-20"
>
<div class="d-flex align-items-center pt-1">
  <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <li class="breadcrumb-item text-white fw-bold lh-1">
      <a href="/" class="text-white text-hover-secondary">
        <i class="ki-outline ki-home text-white fs-3"></i>
      </a>
    </li>
    <li class="breadcrumb-item">
      <i class="ki-outline {{lang === 'ar' ? 'ki-left' : 'ki-right'}} fs-4 text-white mx-n1"></i>
    </li>
    <li class="breadcrumb-item text-white  fw-bold lh-1">
      {{"DASHBOARD" | translate}}
    </li>
    <li class="breadcrumb-item">
      <i class="ki-outline {{lang === 'ar' ? 'ki-left' : 'ki-right'}} fs-4 text-white mx-n1"></i>
    </li>
    <li class="breadcrumb-item text-white fw-bold lh-1">
      {{"MY_KNOWLEDGE_BASE" | translate}}
    </li>
  </ul>
</div>
<div class="d-flex flex-wrap 
flex-lg-nowrap 
justify-content-between
gap-4 
gap-lg-10  align-items-center">
<div
  
  class="page-title d-flex align-items-center me-3 pt-9 pt-lg-5 mb-lg-5"
>
  <div
    
    class="btn btn-icon btn-custom h-65px w-65px me-6"
  >
    <a href="#" class="btn btn-icon pulse pulse-secondary">
      <i class="ki-duotone ki-book fs-1"><span class="path1"></span><span class="path2"></span></i>
      <span class="pulse-ring border-2"></span>
    </a>
  </div>
  <h1
    
    class="d-flex fw-bolder fs-2 flex-column justify-content-center my-0"
  >
    <div class="step-title-container mx-2">
      <div class="text-white step-title">
        {{ 'INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate }}
        
      </div>
    </div>
  </h1>
</div>
<div class="d-flex gap-4 gap-lg-13">
  <!--begin::Item-->
  <div class="d-flex flex-column rounded p-6 hover-scale">           
   <div class="d-flex align-items-center mb-2">
     <i class="ki-solid ki-check-circle text-success mx-2 fs-2"></i>
     <span class="text-white fw-bolder fs-2x" [appCountUp]="statistics.published" [duration]="3000" >{{ statistics.published  }}</span>
   </div>
   <div class="text-white opacity-75 fw-bold fs-6">
     Posted Knowledge
   </div>                   
 </div>
 <!--end::Item-->

 <!--begin::Item-->
 <div class="d-flex flex-column rounded p-6 hover-scale">           
   <div class="d-flex align-items-center mb-2">
     <i class="ki-solid ki-timer text-warning mx-2 fs-2"></i>
     <span class="text-white fw-bolder fs-2x">{{ statistics.scheduled }}</span>
   </div>
   <div class="text-white opacity-75 fw-bold fs-6">
     Scheduled Knowledge
   </div>                   
 </div>
 <!--end::Item-->

 <!--begin::Item-->
 <div class="d-flex flex-column rounded p-6 hover-scale">           
   <div class="d-flex align-items-center mb-2">
     <i class="ki-duotone ki-abstract-26 text-danger fs-2 mx-2"><span class="path1"></span><span class="path2"></span></i>
     <span class="text-white fw-bolder fs-2x">{{ statistics.draft }}</span>
   </div>
   <div class="text-white opacity-75 fw-bold fs-6">
    Draft Knowledge
   </div>                   
 </div>
 <!--end::Item-->
</div></div>

</div>