<div class="py-4">
<ng-container *ngIf="user$ | async as _user">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px mx-4">
       <ng-container *ngIf="!_user.company else companyLogo">
        <img alt="Logo" *ngIf="_user.profile_photo_url" [src]="_user.profile_photo_url" class="object-fit-contain " />
       </ng-container>
       <ng-template #companyLogo>
        <img alt="Logo" [src]="_user.company?.logo" class="object-fit-cover object-position-100-30" />
       </ng-template>
       <span *ngIf="(_user && !_user.profile_photo_url && !_user.company) " class="symbol-label bg-primary fs-4 text-white">
        <span> {{ _user.first_name.charAt(0) }} </span>
        <span style="padding: 0 -20px;"> {{ _user.last_name.charAt(0) }} </span>
       </span>
       <span *ngIf="_user.company &&  !_user.company?.logo" class="symbol-label bg-primary fs-4 text-white">
        <span> {{ _user.first_name.charAt(0) }} </span>
        <span style="padding: 0 -20px;"> {{ _user.last_name.charAt(0) }} </span>
       </span>
    
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          <ng-container>
          {{_user.first_name}} {{_user.last_name}}
        </ng-container>
        </div>
      <div>
        <ng-container *ngIf="_user.roles.includes('client') && !_user.roles.includes('insighter') && !_user.roles.includes('company') && !_user.roles.includes('company-insighter')">
          <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ">
            {{ 'HOME.CLIENT' | translate }}
          </span>
          </ng-container>
          <ng-container *ngIf="_user.roles.includes('insighter') && !_user.roles.includes('company')">
            <span class="badge badge-light-info fw-bolder fs-8 px-2 py-1 ">
            {{ 'HOME.INSIGHTER' | translate }}
          </span>
          </ng-container>
          <ng-container *ngIf="!_user.roles.includes('insighter') && _user.roles.includes('company')">
            <span class="badge badge-light-warning fw-bolder fs-8 px-2 py-1 ">
            {{ 'HOME.COMPANY' | translate }}
          </span>
          </ng-container>
          <ng-container *ngIf="!_user.roles.includes('insighter') && _user.roles.includes('company-insighter')">
            <span class="badge badge-light-warning fw-bolder fs-8 px-2 py-1 ">
            {{ _user.company?.legal_name }}  {{ 'HOME.INSIGHTER' | translate }}
          </span>
          </ng-container>
      </div>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>


  <div class="menu-item px-5" *ngIf="_user.roles.includes('insighter') || _user.roles.includes('company') || _user.roles.includes('company-insighter')">
    <a [routerLink]="'/app/add-knowledge/stepper'" class="menu-link px-5 text-info" (click)="closeDropdown.emit()">
      {{ 'KNOWLEDGE.ADD_KNOWLEDGE' | translate }}
      <i class="ki-duotone ki-plus fs-5 me-2 text-info"><span class="path1"></span><span class="path2"></span></i>
    </a>
   
  </div>
<div class="menu-item px-5" *ngIf="_user.roles.includes('insighter') || _user.roles.includes('company') || _user.roles.includes('company-insighter')">
  <a [routerLink]="'/app/insighter-dashboard/my-knowledge'" class="menu-link px-5" (click)="closeDropdown.emit()">
    {{ 'INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate }}
  </a>
</div>

  <div class="menu-item px-5">
    <a [routerLink]="'/app/profile/'" class="menu-link px-5" (click)="closeDropdown.emit()">
      {{ 'HOME.MY_PROFILE' | translate }}
    </a>
  </div>

<ng-container *ngIf="_user.roles.includes('insighter') || _user.roles.includes('company') || _user.roles.includes('company-insighter')">
  
  <div class="menu-item px-5">
    <a [routerLink]="'/app/insighter-dashboard/my-dashboard'" class="menu-link px-5" (click)="closeDropdown.emit()">
      {{ 'OVERVIEW' | translate }}
    </a>
  </div>
    
  <div class="menu-item px-5">
    <a [routerLink]="'/app/insighter-dashboard/my-requests'" class="menu-link px-5" (click)="closeDropdown.emit()">
      {{ 'INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate }}
    </a>
  </div>



  <div class="menu-item px-5" *ngIf="_user.roles.includes('company') ">
    <a [routerLink]="'/app/insighter-dashboard/my-company-settings'" class="menu-link px-5" (click)="closeDropdown.emit()">
      {{ 'MY_COMPANY.TITLE' | translate }}
    </a>
  </div>


</ng-container>
 



  <div
    class="menu-item px-5"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom"
    data-submenu-id="accountSettings"
  >
  
    <a *ngIf="_user.roles.includes('insighter') || _user.roles.includes('company') || _user.roles.includes('company-insighter')" class="menu-link px-5 cursor-pointer" [routerLink]="'/app/insighter-dashboard/account-settings/general-settings'" (click)="closeDropdown.emit()">
      <span class="menu-title">{{ 'HOME.ACCOUNT_SETTINGS' | translate }}</span>
    </a>
  </div>

  <div class="menu-item px-5" *ngIf="_user.roles.includes('client') && !_user.roles.includes('insighter') && !_user.roles.includes('company') && !_user.roles.includes('company-insighter')">
    <a [routerLink]="'/app/insighter-register/vertical'" class="menu-link px-5 fw-boldest gradient-text-insighter" (click)="closeDropdown.emit()">
      {{ 'HOME.BECOME_INSIGHTER' | translate }}
    </a>
  </div>

  <div class="separator my-2"></div>

  <div
    class="menu-item px-5"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom"
    data-submenu-id="language"
  >
    <a class="menu-link px-5 cursor-pointer">
      <span class="menu-title position-relative">
        {{ 'HOME.LANGUAGE' | translate }}
        <span
          class="
            fs-8
            rounded
            bg-light
            px-3
            py-2
            position-absolute
            translate-middle-y
            top-50
            end-0
          "
        >
          {{ language.name }}{{ " " }}
          <img
            class="w-15px h-15px rounded-1 mx-2"
            [src]="language.flag"
            alt="metronic"
          />
        </span>
      </span>
    </a>

    <div class="menu-sub menu-sub-dropdown w-175px py-4" [ngClass]="{'show': submenuStates['language'], 'ltr': !isRTL, 'rtl': isRTL}" [style.display]="submenuStates['language'] ? 'block' : 'none'">
      <div
        *ngFor="let l of langs"
        class="menu-item px-3 cursor-pointer"
        (click)="selectLanguage(l.lang); closeDropdown.emit()"
      >
        <a
          class="menu-link d-flex px-5"
          [ngClass]="l.lang === language.lang ? 'active' : ''"
        >
          <span class="symbol symbol-20px mx-4">
            <img class="rounded-1" [src]="l.flag" alt="metronic" />
          </span>
          {{ l.name }}
        </a>
      </div>
    </div>
  </div>



  <div class="menu-item px-5">
    <a (click)="logout(); closeDropdown.emit()" class="menu-link px-5 cursor-pointer">
      {{ 'HOME.SIGN_OUT' | translate }}
    </a>
  </div>
</ng-container>

</div>