.notifications{
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  border-bottom: 1px dashed #E4E7F0;
  border-top: 1px dashed #E4E7F0;
}
.sub-bar{
  position: fixed;
  top: 106px;
  z-index: 11;
  overflow-x: scroll;
  left: 30px;
}

.div-dashbar{
  position: fixed;
  top: 105px;
  z-index: 11;
  left: 30px;
}