<!-- Initial Modal Content -->
<ng-container *ngIf="step === 1">
  <div class="card border-0 shadow-none">
    <div class="card-body">
      <div class="mb-5">
        <h2 class="text-xl font-bold mb-3">
          <ng-container *ngIf="hasRole(['company']) || hasRole(['company-insighter'])">
            {{ 'DEACTIVATE_ACCOUNT.MODAL.TITLE_COMPANY' | translate }}
          </ng-container>
          <ng-container *ngIf="hasRole(['insighter'])">
            {{ 'DEACTIVATE_ACCOUNT.MODAL.TITLE_INSIGHTER' | translate }}
          </ng-container>
        </h2>
        <p class="text-gray-600">
          <ng-container *ngIf="hasRole(['company']) || hasRole(['company-insighter'])">
            {{ 'DEACTIVATE_ACCOUNT.MODAL.DESCRIPTION_COMPANY' | translate }}
          </ng-container>
          <ng-container *ngIf="hasRole(['insighter'])">
            {{ 'DEACTIVATE_ACCOUNT.MODAL.DESCRIPTION_INSIGHTER' | translate }}
          </ng-container>
        </p>
       
      </div>
      
      <div class="form-group">
        <label class="form-label required">{{ 'DEACTIVATE_ACCOUNT.MODAL.REASON_LABEL' | translate }}</label>
        <textarea 
          class="form-control" 
          rows="4" 
          [(ngModel)]="deactivationReason"
          [placeholder]="'DEACTIVATE_ACCOUNT.MODAL.REASON_PLACEHOLDER' | translate"
        ></textarea>
      </div>

      <div class="d-flex justify-content-end mt-5">
        <button 
          type="button" 
          class="btn btn-danger w-100" 
          [disabled]="!deactivationReason || isLoading"
          (click)="deactivateAccount()"
        >
          <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="hasRole(['company']) || hasRole(['company-insighter'])">
              {{ 'DEACTIVATE_ACCOUNT.MODAL.CONFIRM_BUTTON_COMPANY' | translate }}
            </ng-container>
            <ng-container *ngIf="hasRole(['insighter'])">
              {{ 'DEACTIVATE_ACCOUNT.MODAL.CONFIRM_BUTTON_INSIGHTER' | translate }}
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isLoading">
            {{ 'COMMON.PLEASE_WAIT' | translate }}
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Success State -->
<ng-container *ngIf="step === 2">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <div class="text-success font-bold text-xl mb-3">
          {{ 'DEACTIVATE_ACCOUNT_SUCCESS_MESSAGE' | translate }}
        </div>
        <i class="pi pi-check-circle text-success" style="font-size: 3rem"></i>
      </div>
    </div>
  </div>
</ng-container> 