<p-progressBar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
  [style]="{ height: '4px' }"
></p-progressBar>

<div id="kt_app_toolbar" class="app-toolbar pt-10 mb-0">
  <div
    id="kt_app_toolbar_container"
    class="app-container container-fluid d-flex align-items-stretch"
  >
    <div
      class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100"
    >
      <div
        class="page-title d-flex flex-column justify-content-center gap-1 me-3"
      >
        <h1
          class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0"
        >
          HS Codes
        </h1>
        <div class="fw-semibold fs-7 my-0 text-muted">
          {{ listOfHSCodes.length }} HS Codes
        </div>
      </div>

      <div class="d-flex align-items-center gap-2 gap-lg-3">
        <p-dialog
          [header]="isEditMode ? 'Edit HSCode' : 'Add HSCode'"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '40rem' }"
        >
          <p-messages
            *ngIf="hasErrorMessage"
            [(value)]="messages"
            [enableService]="false"
          ></p-messages>
          <span class="text-muted mb-3 d-block">
            {{ isEditMode ? 'Edit HSCode Details' : 'Add HSCode Details' }}.
          </span>

          <form [formGroup]="hscodeForm">
            <div class="mb-3 row">
              <label for="code" class="col-sm-3 col-form-label"
                >Code</label
              >
              <div class="col-sm-9">
                <input
                  pInputText
                  id="code"
                  class="form-control"
                  formControlName="code"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    code &&
                    code.errors &&
                    (code.touched || code.dirty)
                  "
                >
                  <div
                    *ngIf="code.errors['required']"
                    class="text-danger"
                  >
                    Code is required.
                  </div>
                  <div
                    *ngIf="code.errors['serverError']"
                    class="text-danger"
                  >
                    {{ code.errors['serverError'] }}
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label
                for="arabicName"
                class="col-sm-3 col-form-label"
                >Arabic Name</label
              >
              <div class="col-sm-9">
                <input
                  pInputText
                  id="arabicName"
                  class="form-control"
                  formControlName="arabicName"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    arabicName &&
                    arabicName.errors &&
                    (arabicName.touched || arabicName.dirty)
                  "
                >
                  <div
                    *ngIf="arabicName.errors['required']"
                    class="text-danger"
                  >
                    Arabic Name is required.
                  </div>
                  <div
                    *ngIf="arabicName.errors['serverError']"
                    class="text-danger"
                  >
                    {{ arabicName.errors['serverError'] }}
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label
                for="englishName"
                class="col-sm-3 col-form-label"
                >English Name</label
              >
              <div class="col-sm-9">
                <input
                  pInputText
                  id="englishName"
                  class="form-control"
                  formControlName="englishName"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    englishName &&
                    englishName.errors &&
                    (englishName.touched || englishName.dirty)
                  "
                >
                  <div
                    *ngIf="englishName.errors['required']"
                    class="text-danger"
                  >
                    English Name is required.
                  </div>
                  <div
                    *ngIf="englishName.errors['serverError']"
                    class="text-danger"
                  >
                    {{ englishName.errors['serverError'] }}
                  </div>
                </div>
              </div>
            </div>

              <div class="mb-3 row">
                <label for="isic_code_id" class="col-sm-3 col-form-label">ISIC Code</label>
                <div class="col-sm-9">
                  <p-treeSelect
                    id="isic_code_id"
                    [options]="isicTreeData"
                    [(ngModel)]="selectedNode"
                    placeholder="Select Parent ISIC Code"
                    [ngModelOptions]="{standalone: true}"
                    class="w-100"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    [filter]="true"
                    filterBy="label"
                  ></p-treeSelect>
                  <!-- <div *ngIf="isic_code_id && isic_code_id.errors && (isic_code_id.touched || isic_code_id.dirty)">
                    <div *ngIf="isic_code_id.errors['required']" class="text-danger">
                      ISIC Code is required.
                    </div>
                    <div *ngIf="isic_code_id.errors['serverError']" class="text-danger">
                      {{ isic_code_id.errors['serverError'] }}
                    </div>
                  </div> -->
                </div>
              </div>
              

            <div class="mb-3 row">
              <label for="status" class="col-sm-3 col-form-label"
                >Status</label
              >
              <div class="col-sm-9">
                <p-dropdown 
                id="status" 
                [options]="statusOptions" 
                formControlName="status"
                appendTo="body"
                placeholder="Select Status">
            </p-dropdown>
                
                <div
                  *ngIf="
                    status &&
                    status.errors &&
                    (status.touched || status.dirty)
                  "
                >
                  <div
                    *ngIf="status.errors['required']"
                    class="text-danger"
                  >
                    Status is required.
                  </div>
                  <div
                    *ngIf="status.errors['serverError']"
                    class="text-danger"
                  >
                    {{ status.errors['serverError'] }}
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="d-flex justify-content-end gap-2">
            <button
              type="submit"
              [disabled]="hscodeForm.invalid || (isLoading$ | async) || !this.selectedNode"
              (click)="submit()"
              class="btn btn-primary btn-sm"
            >
              <ng-container
                *ngIf="(isLoading$ | async) === false"
              >
                <span class="indicator-label">Save</span>
              </ng-container>
              <ng-container *ngIf="isLoading$ | async">
                <span
                  class="indicator-progress"
                  [style.display]="'block'"
                >
                  Please wait
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </ng-container>
            </button>
            <button
              (click)="onCancel()"
              class="btn btn-outline-secondary btn-sm"
            >
              Cancel
            </button>
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title">
          <div
            class="d-flex align-items-center position-relative my-1"
          >
            <i class="pi pi-search fs-3 position-absolute ms-5"></i>
            <input
              type="text"
              pInputText
              class="form-control  w-250px ps-12"
              placeholder="Search HS Codes"
              (input)="applyFilter($event)"
            />
          </div>
        </div>

        <div class="card-toolbar">
          <a
            (click)="showDialog()"
            class="btn btn-md btn-flex btn-primary"
          >
            <i class="ki-outline ki-plus text-white fs-4"></i>
            Create
          </a>
        </div>
      </div>
      <div class="card-body pt-0">
        <ng-container
          *ngIf="(isLoading$ | async) === false && listOfHSCodes.length > 0"
        >
          <p-messages
            *ngIf="hasSuccessMessage"
            [(value)]="messages"
            [enableService]="false"
          ></p-messages>
          <p-table
            #dt
            [value]="listOfHSCodes"
            [paginator]="false"
            [rows]="10"
            [globalFilterFields]="[
              'name',
              'names.en',
              'names.ar',
              'code',
              'status'
            ]"
            class="table-p"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Name (English)</th>
                <th>Name (Arabic)</th>
                <th>Status</th>
                <th class="w-10">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hscode>
              <tr>
                <td>{{ hscode.code }}</td>
                <td>{{ hscode.names.en }}</td>
                <td>{{ hscode.names.ar }}</td>
                <td> <div class="badge fs-8 fw-bold" [ngClass]="{
                    'badge-light-success': hscode.status === 'Active',
                    'badge-light-danger': hscode.status === 'Inactive'
                  }">
                    {{ hscode.status }}
                  </div></td>
                <td>
                  <a
                    pTooltip="Edit HSCode"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    (click)="editHSCode(hscode)"
                  >
                    <i
                      class="ki-duotone ki-pencil fs-2"
                      ><span class="path1"></span
                      ><span class="path2"></span
                    ></i>
                  </a>
                  <a
                    pTooltip="Delete HSCode"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                    (click)="deleteHSCode(hscode.id)"
                  >
                    <i
                      class="ki-duotone ki-trash fs-2"
                      ><span class="path1"></span
                      ><span class="path2"></span
                      ><span class="path3"></span
                      ><span class="path4"></span
                      ><span class="path5"></span
                    ></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-container
  *ngIf="(isLoading$ | async) === false && listOfHSCodes.length === 0"
>
  <div
    class="d-flex align-items-center justify-content-center h-400px text-muted"
  >
    No Available Data
  </div>
</ng-container>
