<div class="dashboard-widgets-flex">
    <!--begin::Card 1 - Today's Meetings-->
    <div class="dashboard-card">
        <div class="card h-lg-100 light-meetning-gradient-bg">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">         
                <div class="m-0">
                    <i class="ki-outline ki-calendar-tick text-gray-700 fs-2tx"></i>           
                </div>                           
                <div class="d-flex flex-column my-7">
                    <span class="fw-semibold fs-3x lh-1 ls-n2">{{ todayMeetingsCount }}</span> 
                    <div class="m-0">
                     <span class="fw-semibold fs-6 text-gray-500">Meetings Today</span>  
                    </div>       
                </div>  
            </div>
        </div>
    </div>
    <!--end::Card 1-->

    <!--begin::Card 2 - Pending Requests-->
    <div class="dashboard-card">        
        <div class="card h-lg-100 light-requests-gradient-bg">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">         
                <div class="m-0">
                    <i class="ki-outline ki-question-2 text-gray-700 fs-2tx"></i>                     
                </div>                           
                <div class="d-flex flex-column my-7">
                    <span class="fw-semibold fs-3x lh-1 ls-n2">{{ pendingRequestsCount }}</span> 
                    <div class="m-0"><span class="fw-semibold fs-6 text-gray-500">Pending Requests</span></div>       
                </div>  
            </div>
        </div>
    </div>
    <!--end::Card 2-->

    <!--begin::Card 3 - Knowledge Sold-->
    <div class="dashboard-card">        
        <div class="card h-lg-100 light-knowledge-gradient-bg">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">         
                <div class="m-0">
                    <i class="ki-outline ki-book text-gray-700 fs-2tx"></i>                     
                </div>                           
                <div class="d-flex flex-column my-7">
                    <span class="fw-semibold fs-3x lh-1 ls-n2">---</span> 
                    <div class="m-0">
                        <span class="fw-semibold fs-6 text-gray-500">Knowledge Sold</span>  
                    </div>       
                </div>  
                <span class="badge badge-light-info fs-base">Coming Soon</span>  
            </div>
        </div>
    </div>
    <!--end::Card 3-->



    <!--begin::Card 5 - Published Knowledge-->
    <div class="dashboard-card">        
        <div class="card h-lg-100 light-published-gradient-bg">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">         
                <div class="m-0">
                    <i class="ki-outline ki-abstract-26 text-gray-700 fs-2tx"></i>                     
                </div>                           
                <div class="d-flex flex-column my-7">
                    <span class="fw-semibold fs-3x lh-1 ls-n2">---</span> 
                    <div class="m-0">
                        <span class="fw-semibold fs-6 text-gray-500">Published Knowledge</span>  
                    </div>       
                </div>  
                <span class="badge badge-light-info fs-base">Coming Soon</span>  
            </div>
        </div>
    </div>
    <!--end::Card 5-->
        <!--begin::Card 4 - Wallet-->
        <div class="dashboard-card">        
            <div class="card h-lg-100 light-wallet-gradient-bg">
                <div class="card-body d-flex justify-content-between align-items-start flex-column">         
                    <div class="m-0">
                        <i class="ki-outline ki-dollar text-gray-700 fs-2tx"></i>                     
                    </div>                           
                    <div class="d-flex flex-column my-7">
                        <span class="fw-semibold fs-3x lh-1 ls-n2">---</span> 
                        <div class="m-0">
                            <span class="fw-semibold fs-6 text-gray-500">in Wallet</span>  
                        </div>       
                    </div>  
                    <span class="badge badge-light-info fs-base">Coming Soon</span>  
                </div>
            </div>
        </div>
        <!--end::Card 4-->
</div>