.app-toolbar{
    background-image: url('https://res.cloudinary.com/dsiku9ipv/image/upload/v1728124322/Artboard_3_anigtm.png');
    background-size: cover;
    background-position: 10% 90%;
}
.hs-code:placeholder-shown{
   font-size: 1rem !important;
    
}
a.btn-link {
    cursor: pointer;
  }

  .px-40{
    padding: 0 60px;
  }
  .max-w-80{
    max-width: 90%;
  }
  .star{
    
    margin: 10px 0;
    svg{
        height: 20px;
        width: 20px;
    }
  }
  .star-2{
    
    margin: 2px 0;
    svg{
        height: 20px;
        width: 20px;
    }
  }

  .sidebar{
    border-left: 1px solid #DFDFDF;
    width: 30%;
  }
  .channel-stats-bg {
    background-image: url('https://keenthemes.com/static/metronic/tailwind/dist/assets/media/images/2600x1600/bg-3.png');
    background-size: cover; 
    background-position: 9rem -4rem; 
    background-repeat: no-repeat;
    height: 100%;

    /* Adjust background positioning for RTL if needed */
  }
  .bg{
    background-image: url('../../../../assets/media/auth/adbg-1.webp');
    background-size: cover;
    background-position: -150% 0;
  }
.list-style-container{
  max-width: 55%;
  margin: 0 auto;
}
.grid-style-container{
  max-width: 60%;
}

.list-card{
  border: 1px solid #DFDFDF;
  padding: 24px;
  border-radius: 10px;
  margin-top: 10px;
}
.separator{
  display: none;
}

