<div class="container-fluid bg-white p-5 rounded-lg" style="border-radius: 10px;">
  <div class="row">
    <div class="col-12">
      <!-- Tab Navigation -->
      <!-- <div class="row mb-4">
        <div class="col-12">
          <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x" role="tablist">
            <li class="nav-item">
              <a class="nav-link" 
                 [class.active]="activeTab === 'received'"
                 (click)="navigateToTab('received')"
                 role="tab"
                 tabindex="0"
                 (keydown.enter)="navigateToTab('received')">
                <i class="ki-duotone ki-entrance-left me-2">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                {{ 'MEETINGS.RECEIVED_MEETINGS' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 [class.active]="activeTab === 'sent'"
                 (click)="navigateToTab('sent')"
                 role="tab"
                 tabindex="0"
                 (keydown.enter)="navigateToTab('sent')">
                <i class="ki-duotone ki-exit-right me-2">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                {{ 'MEETINGS.SENT_MEETINGS' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div> -->
      
      <!-- Tab Content (Router Outlet) -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>