.actions-btn{
    max-height: 47px !important;
}
.mt70{
    margin-top: 70% !important;
}
.h-2{
    height: 20px !important;
}
.w-2{
    width: 40px !important;
}
::ng-deep .charity-tooltip .tooltip-inner {
  max-width: 800px; /* Bootstrap default is ~200px; increase to avoid wrapping */
  white-space: normal;
}

::ng-deep .charity-tooltip .tooltip-list {
  padding-left: 1rem;
  margin: 0;
  list-style-position: inside;
  text-align: start;
}

::ng-deep .charity-tooltip .tooltip-list li {
  margin-bottom: 0.3rem;
  white-space: nowrap;
}

@media (max-width: 576px) {
  ::ng-deep .charity-tooltip .tooltip-list li {
    white-space: normal;
  }
}