.actions-btn{
    max-height: 47px !important;
}
.mt70{
    margin-top: 70% !important;
}
.h-2{
    height: 20px !important;
}
.w-2{
    width: 40px !important;
}
.tooltip-inner {
  white-space: normal;
}
.tooltip-list {
  padding-left: 1rem;
  margin: 0;
  list-style-position: inside;
  text-align: start;
}

.tooltip-list li {
  margin-bottom: 0.3rem;
}