<div class="sidebar" [class.sidebar-hidden]="isSidebarHidden">
  <button class="toggle-btn" (click)="toggleSidebar()">&#9776; Menu</button>
  <ul>
    <li>
      <div class="menu-item menu-accordion menu-fit">
        <!--begin:Menu link--><span  routerLink="/admin-dashboard/admin/dashboard/main-dashboard/Departments"  routerLinkActive="active" class="menu-link"
          ><span class="menu-icon"
            >
            <div class="symbol symbol-30px ">
              <span class="symbol-label">
               <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs027.svg'"   class="svg-icon svg-icon-3 svg-icon-primary"></span>
              </span>
          </div>
          </span
          ><span class="menu-title">Departments</span
          ><span class="menu-badge"></span></span
        ><!--end:Menu link-->
      </div>
    </li>
 
  </ul>
</div>
