<div class="sidebar" [class.sidebar-hidden]="isSidebarHidden">
  <button class="toggle-btn" (click)="toggleSidebar()">&#9776; Menu</button>
  <ul>
    <li>
      <div class="menu-item menu-accordion menu-fit">
        <!--begin:Menu link--><span class="menu-link"
          ><span class="menu-icon"
            ><i class="ki-outline ki-element-11 fs-4 text-gray-700"></i></span
          ><span class="menu-title">Grid</span
          ><span class="menu-badge"></span></span
        ><!--end:Menu link-->
      </div>
    </li>
    <li>
      <div class="menu-item">
        <!--begin:Menu link--><span class="menu-link"
          ><span class="menu-icon"
            ><i class="ki-outline ki-subtitle fs-4 text-danger"></i></span
          ><span class="menu-title">Form</span
          ><span class="menu-badge"
            ></span></span
        ><!--end:Menu link-->
      </div>
    </li>
    <li>
        <div class="menu-item">
          <!--begin:Menu link--><span class="menu-link"
            ><span class="menu-icon"
              ><i class="ki-outline ki-subtitle fs-4 text-danger"></i></span
            ><span class="menu-title">Form</span
            ><span class="menu-badge"
              ></span></span
          ><!--end:Menu link-->
        </div>
      </li>
      <li>
        <div class="menu-item">
          <!--begin:Menu link--><span class="menu-link"
            ><span class="menu-icon"
              ><i class="ki-outline ki-subtitle fs-4 text-danger"></i></span
            ><span class="menu-title">Form</span
            ><span class="menu-badge"
              ></span></span
          ><!--end:Menu link-->
        </div>
      </li>
  </ul>
</div>
