<div class="action-buttons d-flex align-items-center justify-content-end flex-grow-1 flex-lg-grow-0  gap-2 mb-lg-0">
    <button class=" mb-2 btn btn-sm btn-primary d-flex align-items-center gap-2">
      <app-keenicon type="outline" name="calendar-2" class="fs-2 text-gray-300"></app-keenicon>
      <span>Schedule</span>
    </button>
    <button class="mb-2 btn btn-light btn-sm btn-secondary d-flex align-items-center gap-2">
      <app-keenicon type="outline" name="question" class="fs-2 text-gray-600"></app-keenicon>
      <span>Service</span>
    </button>
    <button class=" mb-2 btn btn-sm btn-light d-flex align-items-center">
      <app-keenicon type="outline" name="messages" class="fs-2 text-gray-600"></app-keenicon>
    </button>
  </div>
  