<div class="pb-8 pb-lg-10">
  <h2 class="fw-bolder text-gray-900" *ngIf="defaultValues.publish_status === 'unpublished'">
    {{'KNOWLEDGE_SAVED_AS_DRAFT' | translate}}
  </h2>
  <h2 class="fw-bolder text-gray-900" *ngIf="defaultValues.publish_status === 'published'">
    {{'KNOWLEDGE_PUBLISHED' | translate}}
  </h2>
  <h2 class="fw-bolder text-gray-900" *ngIf="defaultValues.publish_status === 'scheduled'">
    {{'KNOWLEDGE_SCHEDULED' | translate}}
  </h2>
</div>
<div class="mb-0">
  <div class="fs-6 text-gray-600 mb-5" *ngIf="defaultValues.publish_status === 'unpublished'">
    {{'KNOWLEDGE_DRAFT_MESSAGE' | translate}}
  </div>
  <div class="fs-6 text-gray-600 mb-5" *ngIf="defaultValues.publish_status === 'published'">
    {{'KNOWLEDGE_PUBLISHED_MESSAGE' | translate}}
  </div>
  <div class="fs-6 text-gray-600 mb-5" *ngIf="defaultValues.publish_status === 'scheduled'">
    {{'KNOWLEDGE_SCHEDULED_MESSAGE' | translate}}
  </div>
  <div
    class="
      notice
      d-flex
      bg-light-success
      rounded
      border-success border border-dashed
      p-6
    "
  >
  <lottie-player src="https://lottie.host/fe2c060d-6387-4674-a21f-55d6e9a8f0c0/9Aun5jI4fu.json" background="##FFFFFF" speed="1" style="width: 150px; height: fit-content;" loop autoplay direction="1" mode="normal"></lottie-player>
    <span class="svg-icon fs-2tx text-warning me-4"></span>
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-bold">
        <h4 class="text-gray-800 fw-bolder">{{'WHATS_NEXT' | translate}}</h4>
       
        <div class="d-flex gap-3 mt-4">
          <button class="btn btn-sm btn-primary" [routerLink]="['/app/my-knowledge-base/view-my-knowledge/', defaultValues.knowledgeId]">
            {{'VIEW_KNOWLEDGE' | translate}}
          </button>
          <button class="btn btn-sm btn-light" [routerLink]="['/app/insighter-dashboard/my-knowledge/general']">
            {{'GO_TO_LIBRARY' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 

<!-- New fancy box to encourage adding more knowledge -->
<div
  class="
    notice
    d-flex
    bg-light-primary
    rounded
    border-info border border-dashed
    p-16
    mt-6
  "
>
 <div class="d-flex align-items-center jsutify-content-center px-6">
  <img src="./assets/media/illustrations/sketchy-1/Add-File.png" style="width: 100px; height: fit-content;">
 </div>
  <span class="svg-icon fs-2tx text-primary me-4"></span>
  <div class="d-flex flex-stack flex-grow-1">
    <div class="fw-bold">
      <h4 class="text-gray-800 fw-bolder">{{'KEEP_GROWING' | translate}}</h4>
   
      <div class="d-flex gap-3 mt-4">
        <button class="btn btn-sm btn-primary" (click)="navigateToStepper()">
          {{'ADD_NEW_KNOWLEDGE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
