.aside-sign-up{
  border-top-left-radius: 20px;
  margin-top: 30px;
}
.bg-light{
  background-image: url('../../../../../assets/media/auth/bg11-dark.webp');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.text-inline-start{
  text-align: start;
}

  /* Slide-in animation for forms */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in {
    animation: slideIn 0.2s ease-out forwards;
  }
  
  /* Optional: Slide-out animation */
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  .slide-out {
    animation: slideOut 0.2s ease-in forwards;
  }
  
  /* Adjust form visibility */
  form {
    transition: all 0.2s ease-in-out;
  }

