.aside-sign-up{
  border-top-left-radius: 20px;
  margin-top: 30px;
}
.bg-light{
  background-image: url('../../../../../assets/media/auth/bg11-dark.webp');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.text-inline-start{
  text-align: start;
}
.height-logo{
  height: 70px;
  @media screen and (max-width:768px) {
    height: 50px;
  }
}
.word-nowrap{
  white-space: nowrap;
}
.top-round{
 border-bottom-left-radius: 0; 
 border-bottom-right-radius: 0;
 @media screen and (min-width:2300px) {
  margin-top: 100px;
  position: static;
  border-bottom-left-radius: 1rem; 
  border-bottom-right-radius: 1rem;
 }

 @media screen and (max-width:1213px) {
  position: static;
  border-bottom-left-radius: 1rem; 
  border-bottom-right-radius: 1rem;
 }
}
.card-position {
  align-self: flex-end;
  @media screen and (min-width:2300px) {
   align-self: center;
   }
  
   @media screen and (max-width:1213px) {
    align-self: center;
   }
}
  /* Slide-in animation for forms */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in {
    animation: slideIn 0.2s ease-out forwards;
  }
  
  /* Optional: Slide-out animation */
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  .slide-out {
    animation: slideOut 0.2s ease-in forwards;
  }
  
  /* Adjust form visibility */
  form {
    transition: all 0.2s ease-in-out;
  }

