<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
  <div id="kt_app_toolbar" class="app-toolbar py-6">
    <div
      id="kt_app_toolbar_container"
      class="app-container container-xxl d-flex align-items-start"
    >
      <div class="d-flex flex-column flex-row-fluid">
        <div class="d-flex align-items-center pt-1">
          <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
            <li class="breadcrumb-item text-white fw-bold lh-1">
              <a href="/" class="text-white text-hover-secondary">
                <i class="ki-outline ki-home text-white fs-3"></i>
              </a>
            </li>
            <li class="breadcrumb-item">
              <i class="ki-outline ki-right fs-4 text-white mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-white fw-bold lh-1">
              Create Insight
            </li>
          </ul>
        </div>
        <div
          class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10 pt-6 pb-18 py-lg-13"
        >
          <div
            _ngcontent-ng-c3838248432=""
            class="page-title d-flex align-items-center me-3 mb-4 pt-9 pt-lg-5 mb-lg-15"
          >
            <div
              _ngcontent-ng-c3838248432=""
              class="btn btn-icon btn-custom h-65px w-65px me-6"
            >
            <a href="#" class="btn btn-icon pulse pulse-secondary">
                <i class="ki-duotone text-gray-100 ki-element-11 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                  <span class="pulse-ring border-2"></span>
                </a>
          
            </div>
            <h1
              _ngcontent-ng-c3838248432=""
              class="d-flex fw-bolder fs-2 flex-column justify-content-center my-0"
            >
              <div class="step-title-container">
                <ng-container [ngSwitch]="activeStep">
                  <span *ngSwitchCase="1" class="text-white step-title">
                    Step 1: Initiate Insight
                    <div class="text-gray-400 py-2 fs-7">
                        Read more about this step!
                    </div>
                  </span>
                  <span *ngSwitchCase="2" class="text-white step-title">
                    Step 2: Library Documents
                    <div class="text-gray-400 py-2 fs-7">
                        Read more about this step!
                    </div>
                  </span>
                  <span *ngSwitchCase="3" class="text-white step-title">
                    Step 3: Insight Documents
                    <div class="text-gray-400 py-2 fs-7">
                        Read more about this step!
                    </div>
                  </span>
                  <span *ngSwitchCase="4" class="text-white step-title">
                    Step 4: Package
                    <div class="text-gray-400 py-2 fs-7">
                        Read more about this step!
                    </div>
                  </span>
                  <span *ngSwitchCase="5" class="text-white step-title">
                    Step 5: Tags & Keywords
                    <div class="text-gray-400 py-2 fs-7">
                        Read more about this step!
                    </div>
                  </span>
                </ng-container>
              </div>
          
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-container container-xxl ">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
      <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content">
          <div class="card flex justify-center">
            <div class=" py-15 px-10 m-auto w-100">
                <p-steps class="cursor-pointer"
                [model]="items" 
                [activeIndex]="activeStep - 1" 
                [readonly]="false" 
                
                (activeIndexChange)="onActiveIndexChange($event)">
              </p-steps>
              

              <ng-container [ngSwitch]="activeStep">
                <app-step-1  *ngSwitchCase="1" (next)="goToStep(2)" class="mil-up"></app-step-1>
                <app-step-2  *ngSwitchCase="2" (next)="goToStep(3)" (back)="goToStep(1)" class="mil-up"></app-step-2>
                <app-step-3  *ngSwitchCase="3" (back)="goToStep(2)" (next)="goToStep(4)" class="mil-up"></app-step-3>
                <app-step-4  *ngSwitchCase="4" (back)="goToStep(3)" (next)="goToStep(5)" class="mil-up"></app-step-4>
                <app-step-5  *ngSwitchCase="5" (back)="goToStep(4)"></app-step-5>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
