.app-toolbar{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/webartpath.appspot.com/o/eurebag.png?alt=media&token=a1f04c50-fbd0-41da-8110-4f778da0e1a1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-content{
    transform: translate(10px, -50px);
    border-radius: 10px;
}
.btn-custom {
    background-color: #0182d51a !important;
    border-bottom: 3px solid #0fe1ff !important;
}


.step-title-container {
  position: relative;
  overflow: hidden;
  min-height: 2.5rem;
}

.step-title {
  display: block;
  animation: slideInUpFade 0.5s ease-out forwards;
}

@keyframes slideInUpFade {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutUpFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}
