<p-progressBar
  *ngIf="isLoading"
  mode="indeterminate"
  [style]="{ height: '4px' }"
></p-progressBar>

<div *ngIf="!isLoading">
  <h3>{{ roleName }}</h3>
  <p>Select permissions for this role:</p>

  <div class="permissions-list">
    <p-checkbox
    class="pt-2"
      *ngFor="let permission of permissions"
      [name]="'permission' + permission.id"
      [value]="permission.id"
      label="{{ permission.display_name }}"
      [(ngModel)]="selectedPermissions"
    ></p-checkbox>
  </div>

  <div class="d-flex justify-content-end gap-2 mt-3">
    <button
      (click)="save()"
      class="btn btn-primary btn-sm"
      [disabled]="isLoading"
    >
      Save
    </button>
    <button (click)="cancel()" class="btn btn-outline-secondary btn-sm">
      Cancel
    </button>
  </div>
</div>
