.app-toolbar{
    background-image: url('../../../assets/media/misc/eurebag.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-container{
    transform: translate(10px, -50px);
    border-radius: 10px;
}
.btn-custom {
    background-color: #0182d51a !important;
    border-bottom: 3px solid #0fe1ff !important;
}

.dashboard-container {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;

  
}

.content-container {
    margin-top: 2rem;
    flex: 1;
    background: white;
    border-radius: 6px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav-line-tabs{
    li a {
        font-weight: 400;
        [dir="rtl"] & {
            padding-right: 0;
            padding-left: 1.5rem;
            margin-right: 0;
            margin-left: 1.5rem;
        }
    }
}

[dir="rtl"] .dashboard-container {
    padding: 2rem;
}

[dir="rtl"] .content-container {
    margin: 2rem;
}