<p-toast></p-toast>

<!-- Mobile Sidebar -->
<p-sidebar [(visible)]="isMobileSidebarVisible" position="left" [modal]="true" [showCloseIcon]="true" 
           [style]="{width: '280px'}" (onHide)="closeMobileSidebar()" 
           [class]="'mobile-sidebar'">
  <div class="mobile-nav-content">
    <div class="navigation-cards">
      <!-- Dashboard Card -->
      <div class="p-card navigation-card">
        <div class="p-card-header">
          <h3>{{ 'INSIGHTER.DASHBOARD.NAV.DASHBOARD' | translate }}</h3>
        </div>
        <div class="p-card-body">
          <div class="nav-item" [routerLink]="['my-dashboard']" *ngIf="!(isClient$ | async)" routerLinkActive="active" 
               (click)="closeMobileSidebar()">
            <div class="item-icon">
              <i class="ki-outline ki-abstract-28"></i>
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.OVERVIEW' | translate }}
            </div>
          </div>
          <div class="nav-item" [routerLink]="['my-requests']" routerLinkActive="active" *ngIf="!(isClient$ | async)"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
              <i class="ki-outline ki-question-2"></i>
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate }}
            </div>
          </div>
          <div class="nav-item" [routerLink]="['my-knowledge']" routerLinkActive="active"  *ngIf="!(isClient$ | async)"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.23926 0.25H4.78125C5.32661 0.25 5.77033 0.693936 5.77051 1.23926V15.7607C5.77033 16.3061 5.32661 16.75 4.78125 16.75H1.23926C0.694045 16.7498 0.250177 16.306 0.25 15.7607V1.23926C0.250177 0.694045 0.694045 0.250177 1.23926 0.25Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M7.2601 3.79175H10.4476C10.993 3.79175 11.4377 4.23568 11.4378 4.78101V15.7605C11.4378 16.306 10.9931 16.7498 10.4476 16.7498H7.2601C6.71478 16.7496 6.27084 16.3059 6.27084 15.7605V4.78101C6.27102 4.23579 6.71489 3.79192 7.2601 3.79175Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M12.9268 8.04175H15.7607C16.306 8.04192 16.7498 8.48579 16.75 9.03101V15.7605C16.75 16.3059 16.3061 16.7496 15.7607 16.7498H12.9268C12.3814 16.7496 11.9375 16.3059 11.9375 15.7605V9.03101C11.9377 8.48579 12.3815 8.04192 12.9268 8.04175Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M3.01041 2.375C3.16559 2.375 3.29166 2.50107 3.29166 2.65625V12.2188C3.29166 12.3739 3.16559 12.5 3.01041 12.5C2.85523 12.5 2.72916 12.3739 2.72916 12.2188V2.65625C2.72916 2.50107 2.85523 2.375 3.01041 2.375Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M2.47916 14.0625H3.54166C3.69684 14.0625 3.82291 14.1886 3.82291 14.3438C3.82291 14.4989 3.69684 14.625 3.54166 14.625H2.47916C2.32398 14.625 2.19791 14.4989 2.19791 14.3438C2.19791 14.1886 2.32398 14.0625 2.47916 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M8.85416 5.91675C9.00934 5.91675 9.13541 6.04282 9.13541 6.198V12.2185C9.13541 12.3737 9.00934 12.4998 8.85416 12.4998C8.69898 12.4998 8.57291 12.3737 8.57291 12.2185V6.198C8.57291 6.04282 8.69898 5.91675 8.85416 5.91675Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M8.32291 14.0625H9.38541C9.54059 14.0625 9.66666 14.1886 9.66666 14.3438C9.66666 14.4989 9.54059 14.625 9.38541 14.625H8.32291C8.16773 14.625 8.04166 14.4989 8.04166 14.3438C8.04166 14.1886 8.16773 14.0625 8.32291 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M14.3438 10.1667C14.4989 10.1667 14.625 10.2928 14.625 10.448V12.2185C14.625 12.3737 14.4989 12.4998 14.3438 12.4998C14.1886 12.4998 14.0625 12.3737 14.0625 12.2185V10.448C14.0625 10.2928 14.1886 10.1667 14.3438 10.1667Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M13.8125 14.0625H14.875C15.0302 14.0625 15.1562 14.1886 15.1562 14.3438C15.1562 14.4989 15.0302 14.625 14.875 14.625H13.8125C13.6573 14.625 13.5313 14.4989 13.5312 14.3438C13.5312 14.1886 13.6573 14.0625 13.8125 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  </svg>

            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate }}
            </div>
          </div>
          <div class="nav-item" [routerLink]="['my-downloads']" routerLinkActive="active"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
              <i class="ki-outline ki-file-down"></i>
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.MY_DOWNLOADS' | translate }}
            </div>
          </div>
          <div class="nav-item" [routerLink]="['read-later']" routerLinkActive="active"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
              <i class="ki-outline ki-bookmark"></i>
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.READ_LATER' | translate }}
            </div>
          </div>
          <div class="nav-item" [routerLink]="['my-orders']" routerLinkActive="active"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
                <svg width="26" height="38" viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.45703 14.8477H5.62109C6.26229 14.8477 6.78497 15.3696 6.78516 16.0107V33.083C6.78516 33.7243 6.2624 34.2471 5.62109 34.2471H1.45703C0.81588 34.2469 0.293945 33.7242 0.293945 33.083V16.0107C0.294131 15.3697 0.815994 14.8478 1.45703 14.8477Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M3.53976 17.3459C3.72202 17.3462 3.86984 17.4947 3.86984 17.677V28.9192C3.86984 29.1015 3.72202 29.25 3.53976 29.2502C3.35732 29.2502 3.20871 29.1016 3.20871 28.9192V17.677C3.20871 17.4946 3.35732 17.3459 3.53976 17.3459Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M2.91519 31.0869H4.16422C4.34654 31.0871 4.49429 31.2356 4.49429 31.418C4.49407 31.6001 4.3464 31.7479 4.16422 31.748H2.91519C2.73289 31.748 2.58436 31.6002 2.58414 31.418C2.58414 31.2355 2.73275 31.0869 2.91519 31.0869Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M8.5112 14.8477H12.6753C13.3165 14.8477 13.8391 15.3696 13.8393 16.0107V33.083C13.8393 33.7243 13.3166 34.2471 12.6753 34.2471H8.5112C7.87005 34.2469 7.34811 33.7242 7.34811 33.083V16.0107C7.3483 15.3697 7.87016 14.8478 8.5112 14.8477Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M10.594 17.3459C10.7762 17.3462 10.924 17.4947 10.924 17.677V28.9192C10.924 29.1015 10.7762 29.25 10.594 29.2502C10.4115 29.2502 10.2629 29.1016 10.2629 28.9192V17.677C10.2629 17.4946 10.4115 17.3459 10.594 17.3459Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M9.96936 31.0869H11.2184C11.4007 31.0871 11.5485 31.2356 11.5485 31.418C11.5482 31.6001 11.4006 31.7479 11.2184 31.748H9.96936C9.78705 31.748 9.63853 31.6002 9.63831 31.418C9.63831 31.2355 9.78692 31.0869 9.96936 31.0869Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M15.5898 15.0817L19.619 14.0307C20.2395 13.8688 20.877 14.2419 21.039 14.8623L25.3481 31.3818C25.51 32.0023 25.1361 32.6401 24.5156 32.802L20.4863 33.853C19.8659 34.0146 19.2289 33.6406 19.0671 33.0202L14.7579 16.5007C14.5963 15.8804 14.9696 15.2437 15.5898 15.0817Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M18.2357 16.9734C18.4121 16.9276 18.5927 17.034 18.6387 17.2104L21.4763 28.0886C21.5223 28.265 21.4167 28.446 21.2404 28.4922C21.0639 28.5383 20.8826 28.432 20.8365 28.2554L17.9989 17.3772C17.9529 17.2007 18.0592 17.0194 18.2357 16.9734Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <path d="M21.0996 30.427L22.3082 30.1117C22.4847 30.0658 22.6651 30.1723 22.7112 30.3487C22.7569 30.5251 22.6514 30.7053 22.4751 30.7514L21.2665 31.0667C21.0901 31.1127 20.9091 31.0072 20.8629 30.8309C20.8168 30.6543 20.9231 30.473 21.0996 30.427Z" fill="white" stroke="#499AFE" stroke-width="0.587848"/>
                    <g clip-path="url(#clip0_545_160)">
                    <path d="M18.7661 11.9064C15.6877 9.89071 11.6914 9.58155 8.07592 11.0794C7.1604 11.458 6.2892 11.9484 5.4772 12.5378L8.18556 12.5486C8.30748 12.5491 8.41263 12.6027 8.48014 12.6871C8.53634 12.7574 8.56653 12.849 8.55864 12.949C8.54136 13.1694 8.34636 13.3473 8.12304 13.3464L3.86232 13.3294L4.76601 9.29015C4.81475 9.07225 5.03153 8.9216 5.2502 8.95373C5.46879 8.98591 5.6065 9.18859 5.55768 9.40666L4.99245 11.9332C5.87122 11.2912 6.8157 10.7579 7.8088 10.3471C11.6779 8.74435 15.9545 9.07522 19.2488 11.2323C19.2818 11.2538 19.3101 11.2799 19.3333 11.3089C19.4369 11.4385 19.4422 11.6307 19.3333 11.7827C19.2 11.9689 18.9461 12.0242 18.7661 11.9064Z" fill="#499AFE"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_545_160">
                    <rect width="12.381" height="13.3449" fill="white" transform="translate(12.2257 2.41992) rotate(51.3547)"/>
                    </clipPath>
                    </defs>
                    </svg>
                      
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.MY_ORDERS' | translate }}
            </div>
          </div>
          <!-- Meetings Expandable Item -->
          <div class="nav-item expandable" [class.expanded]="isMeetingsExpanded">
            <div class="nav-item-main" (click)="toggleMeetings()">
              <div class="item-icon">
                <i class="ki-outline ki-calendar"></i>
              </div>
              <div class="item-label">
                {{ 'INSIGHTER.DASHBOARD.NAV.MEETINGS' | translate }}
              </div>
              <div class="expand-icon">
                <i class="ki-outline ki-down"></i>
              </div>
            </div>
            <div class="sub-nav" [class.show]="isMeetingsExpanded">
              <div class="sub-nav-item"  [routerLink]="['my-consulting-schedule']" routerLinkActive="active" *ngIf="!(isClient$ | async)"
                   (click)="closeMobileSidebar()">
                <div class="sub-item-icon">
                  <i class="ki-outline ki-calendar"></i>
                </div>
                <div class="sub-item-label">
                  {{ 'INSIGHTER.DASHBOARD.NAV.MY_CONSULTING_SCHEDULE' | translate }}
                </div>
              </div>
              <div class="sub-nav-item" [routerLink]="['my-meetings/received']" routerLinkActive="active"  *ngIf="!(isClient$ | async)"
                   (click)="closeMobileSidebar()">
                <div class="sub-item-icon">
                  <i class="ki-outline ki-message-text-2"></i>
                </div>
                <div class="sub-item-label">
                  {{ 'INSIGHTER.MEETINGS.TABS.RECEIVED' | translate }}
                </div>
              </div>
              <div class="sub-nav-item" [routerLink]="['my-meetings/sent']" routerLinkActive="active"
                   (click)="closeMobileSidebar()">
                <div class="sub-item-icon">
                  <i class="ki-outline ki-send"></i>
                </div>
                <div class="sub-item-label">
                  {{ 'INSIGHTER.MEETINGS.TABS.SENT' | translate }}
                </div>
              </div>
            </div>
          </div>
         
          <div class="nav-item" [routerLink]="['my-company-settings']" routerLinkActive="active" *ngIf="hasCompanyRole$ | async"
               (click)="closeMobileSidebar()">
            <div class="item-icon">
              <i class="ki-outline ki-people"></i>
            </div>
            <div class="item-label">
              {{ 'INSIGHTER.DASHBOARD.NAV.MY_COMPANY' | translate }}
            </div>
          </div>
          
          <!-- Settings Expandable Item -->
          <div class="nav-item expandable" [class.expanded]="isSettingsExpanded" *ngIf="!(isClient$ | async)">
            <div class="nav-item-main" (click)="navigateToSettings()">
              <div class="item-icon">
                <i class="ki-outline ki-setting-2"></i>
              </div>
              <div class="item-label">
                {{ 'INSIGHTER.DASHBOARD.NAV.SETTINGS' | translate }}
              </div>
              <div class="expand-icon" (click)="toggleSettings(); $event.stopPropagation()">
                <i class="ki-outline ki-down"></i>
              </div>
            </div>
            <div class="sub-nav" [class.show]="isSettingsExpanded">
              <div class="sub-nav-item" [routerLink]="['account-settings/general-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isClient$ | async)"
                   (click)="closeMobileSidebar()">
                <div class="sub-item-icon">
                  <i class="ki-outline ki-user-edit"></i>
                </div>
                <div class="sub-item-label">
                  {{ 'INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate }}
                </div>
              </div>
              <div class="sub-nav-item" [routerLink]="['account-settings/payment-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              (click)="closeMobileSidebar()" *ngIf="(isInsighter$ | async) || (isCompany$ | async)">
           <div class="sub-item-icon">
             <i class="ki-outline ki-credit-cart"></i>
           </div>
           <div class="sub-item-label">
             {{ 'INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS' | translate }}
           </div>
         </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>

<div class="flex-column flex-row-fluid pt-sm-160px" id="kt_app_wrapper" > 
  <div id="kt_app_toolbar" class="app-toolbar d-none d-sm-block"  style="padding-top: 90px;">
    <div
      id="kt_app_toolbar_container"
      class="app-container container-xxl d-flex align-items-start"
     
    >
      <div class=" flex-column flex-row-fluid d-flex">
   
        <!-- here header or statistics -->
        <app-overview-statistics *ngIf="isRouteActive('my-dashboard')"></app-overview-statistics>
        <app-requests-statistics *ngIf="isRouteActive('my-requests')"></app-requests-statistics>
        <app-knowledge-statistics *ngIf="isRouteActive('my-knowledge')"></app-knowledge-statistics>
        <app-downloads-statistics *ngIf="isRouteActive('my-downloads')"></app-downloads-statistics>
        <app-read-later-statistics *ngIf="isRouteActive('read-later')"></app-read-later-statistics>
        <app-my-orders-statistics *ngIf="isRouteActive('my-orders')"></app-my-orders-statistics>
        <app-meetings-statistics *ngIf="isRouteActive('my-meetings') && !isSubRouteActive('my-meetings', 'sent')"></app-meetings-statistics>
        <app-sent-meetings-statistics *ngIf="isSubRouteActive('my-meetings', 'sent')"></app-sent-meetings-statistics>
        <app-consulting-schedule-header *ngIf="isRouteActive('my-consulting-schedule')"></app-consulting-schedule-header>
        <app-account-settings-header *ngIf="isRouteActive('general-settings')"></app-account-settings-header>
        <app-payment-settings-header *ngIf="isRouteActive('payment-settings')"></app-payment-settings-header>
        <app-wallet-statistics *ngIf="isRouteActive('wallet')"></app-wallet-statistics>
        <app-company-statistics *ngIf="isRouteActive('my-company-settings') && (hasCompanyRole$ | async)"></app-company-statistics>
      </div>
    </div>
  </div>

  <div class="app-container w-100 pt-sm-30px">
    <div class="app-main flex-column flex-row-fluid">
      <div class="d-flex flex-column flex-column-fluid">
        <div class="d-flex flex-column flex-sm-row">
          
          <!-- Desktop Side Navigation (hidden on mobile) -->
          <div class="side-nav-container" [class.collapsed]="isNavCollapsed" *ngIf="!isMobileView">
            <div class="navigation-cards">
              <!-- Dashboard Card -->
              <div class="p-card navigation-card">
                <div class="p-card-header">
                  <h3 *ngIf="!isNavCollapsed">{{ 'INSIGHTER.DASHBOARD.NAV.DASHBOARD' | translate }}</h3>
                  <!-- Collapse Toggle Button -->
                  <button type="button" class="nav-toggle-btn btn btn-sm btn-icon btn-active-color-primary" (click)="toggleNavCollapse()" 
                          [attr.title]="isNavCollapsed ? 'Expand Menu' : 'Collapse Menu'">
                    <i class="ki-outline ki-burger-menu fs-2 text-info"></i>
                  </button>
                </div>
                <div class="p-card-body">
                  <div class="nav-item"   [routerLink]="['my-dashboard']" routerLinkActive="active" 
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.OVERVIEW' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.OVERVIEW' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-abstract-28"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.OVERVIEW' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['my-requests']" routerLinkActive="active" *ngIf="!(isClient$ | async)"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-question-2"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['my-knowledge']" routerLinkActive="active"  *ngIf="!(isClient$ | async)"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.23926 0.25H4.78125C5.32661 0.25 5.77033 0.693936 5.77051 1.23926V15.7607C5.77033 16.3061 5.32661 16.75 4.78125 16.75H1.23926C0.694045 16.7498 0.250177 16.306 0.25 15.7607V1.23926C0.250177 0.694045 0.694045 0.250177 1.23926 0.25Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M7.2601 3.79175H10.4476C10.993 3.79175 11.4377 4.23568 11.4378 4.78101V15.7605C11.4378 16.306 10.9931 16.7498 10.4476 16.7498H7.2601C6.71478 16.7496 6.27084 16.3059 6.27084 15.7605V4.78101C6.27102 4.23579 6.71489 3.79192 7.2601 3.79175Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M12.9268 8.04175H15.7607C16.306 8.04192 16.7498 8.48579 16.75 9.03101V15.7605C16.75 16.3059 16.3061 16.7496 15.7607 16.7498H12.9268C12.3814 16.7496 11.9375 16.3059 11.9375 15.7605V9.03101C11.9377 8.48579 12.3815 8.04192 12.9268 8.04175Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M3.01041 2.375C3.16559 2.375 3.29166 2.50107 3.29166 2.65625V12.2188C3.29166 12.3739 3.16559 12.5 3.01041 12.5C2.85523 12.5 2.72916 12.3739 2.72916 12.2188V2.65625C2.72916 2.50107 2.85523 2.375 3.01041 2.375Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M2.47916 14.0625H3.54166C3.69684 14.0625 3.82291 14.1886 3.82291 14.3438C3.82291 14.4989 3.69684 14.625 3.54166 14.625H2.47916C2.32398 14.625 2.19791 14.4989 2.19791 14.3438C2.19791 14.1886 2.32398 14.0625 2.47916 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M8.85416 5.91675C9.00934 5.91675 9.13541 6.04282 9.13541 6.198V12.2185C9.13541 12.3737 9.00934 12.4998 8.85416 12.4998C8.69898 12.4998 8.57291 12.3737 8.57291 12.2185V6.198C8.57291 6.04282 8.69898 5.91675 8.85416 5.91675Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M8.32291 14.0625H9.38541C9.54059 14.0625 9.66666 14.1886 9.66666 14.3438C9.66666 14.4989 9.54059 14.625 9.38541 14.625H8.32291C8.16773 14.625 8.04166 14.4989 8.04166 14.3438C8.04166 14.1886 8.16773 14.0625 8.32291 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M14.3438 10.1667C14.4989 10.1667 14.625 10.2928 14.625 10.448V12.2185C14.625 12.3737 14.4989 12.4998 14.3438 12.4998C14.1886 12.4998 14.0625 12.3737 14.0625 12.2185V10.448C14.0625 10.2928 14.1886 10.1667 14.3438 10.1667Z" stroke="#3799FF" stroke-width="0.5"/>
  <path d="M13.8125 14.0625H14.875C15.0302 14.0625 15.1562 14.1886 15.1562 14.3438C15.1562 14.4989 15.0302 14.625 14.875 14.625H13.8125C13.6573 14.625 13.5313 14.4989 13.5312 14.3438C13.5312 14.1886 13.6573 14.0625 13.8125 14.0625Z" stroke="#3799FF" stroke-width="0.5"/>
  </svg>

                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.MY_KNOWLEDGE' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['my-downloads']" routerLinkActive="active"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_DOWNLOADS' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_DOWNLOADS' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-file-down"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.MY_DOWNLOADS' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['read-later']" routerLinkActive="active"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.READ_LATER' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.READ_LATER' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-bookmark"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.READ_LATER' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['my-orders']" routerLinkActive="active"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_ORDERS' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_ORDERS' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.14258 10.6165H4.40723C4.91003 10.6165 5.32023 11.0258 5.32031 11.5286V24.9153C5.32016 25.418 4.90998 25.8274 4.40723 25.8274H1.14258C0.639893 25.8273 0.230625 25.418 0.230469 24.9153V11.5286C0.230552 11.0258 0.639848 10.6165 1.14258 10.6165Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M2.77472 12.5754C2.91761 12.5754 3.03422 12.6914 3.03448 12.8342V21.6497C3.03448 21.7927 2.91777 21.9094 2.77472 21.9094C2.63189 21.9092 2.51593 21.7926 2.51593 21.6497V12.8342C2.51619 12.6916 2.63205 12.5757 2.77472 12.5754Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M2.285 23.3499H3.2645C3.40739 23.3499 3.524 23.4658 3.52426 23.6086C3.52426 23.7517 3.40755 23.8684 3.2645 23.8684H2.285C2.14217 23.8681 2.02621 23.7515 2.02621 23.6086C2.02648 23.466 2.14233 23.3501 2.285 23.3499Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M6.67377 10.6165H9.93842C10.4412 10.6165 10.8514 11.0258 10.8515 11.5286V24.9153C10.8513 25.418 10.4412 25.8274 9.93842 25.8274H6.67377C6.17108 25.8273 5.76181 25.418 5.76166 24.9153V11.5286C5.76174 11.0258 6.17104 10.6165 6.67377 10.6165Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M8.30594 12.5754C8.44883 12.5754 8.56544 12.6914 8.5657 12.8342V21.6497C8.5657 21.7927 8.44899 21.9094 8.30594 21.9094C8.16311 21.9092 8.04715 21.7926 8.04715 21.6497V12.8342C8.04741 12.6916 8.16327 12.5757 8.30594 12.5754Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M7.81619 23.3499H8.79568C8.93858 23.3499 9.05519 23.4658 9.05545 23.6086C9.05545 23.7517 8.93874 23.8684 8.79568 23.8684H7.81619C7.67336 23.8681 7.5574 23.7515 7.5574 23.6086C7.55767 23.466 7.67352 23.3501 7.81619 23.3499Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M11.8857 10.8111L15.0447 9.98706C15.5312 9.86015 16.0314 10.1527 16.1584 10.6392L19.5373 23.5924C19.6641 24.0789 19.3705 24.5786 18.884 24.7055L15.7251 25.5295C15.2387 25.6563 14.7393 25.3635 14.6123 24.8771L11.2334 11.9239C11.1066 11.4374 11.3993 10.938 11.8857 10.8111Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M13.9595 12.2943C14.0978 12.2583 14.2399 12.341 14.2762 12.4792L16.5013 21.0092C16.5374 21.1476 16.4539 21.29 16.3155 21.3261C16.1772 21.3619 16.0356 21.2783 15.9995 21.1401L13.7744 12.6101C13.7387 12.472 13.8215 12.3306 13.9595 12.2943Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <path d="M16.2051 22.8434L17.1529 22.5962C17.2912 22.5601 17.4333 22.6429 17.4696 22.781C17.5057 22.9194 17.4222 23.0618 17.2838 23.0979L16.336 23.3452C16.1977 23.381 16.0561 23.2974 16.02 23.1591C15.9843 23.021 16.0671 22.8797 16.2051 22.8434Z" fill="white" stroke="#499AFE" stroke-width="0.460934"/>
                        <g clip-path="url(#clip0_545_160)">
                        <path d="M14.7558 8.83856C12.5858 6.93723 9.51663 6.26065 6.54572 7.0287C5.79351 7.22268 5.06349 7.50831 4.36862 7.87727L6.47037 8.18146C6.56499 8.19516 6.64077 8.2483 6.68397 8.32123C6.71993 8.38194 6.73336 8.45635 6.7163 8.53317C6.67881 8.7024 6.50798 8.81924 6.33468 8.7941L3.02827 8.31551L4.17116 5.27791C4.23281 5.11404 4.41759 5.02075 4.58386 5.06958C4.75008 5.11845 4.83486 5.29086 4.77313 5.45485L4.05828 7.35484C4.81074 6.95233 5.60233 6.64144 6.4183 6.431C9.59759 5.60913 12.882 6.33317 15.2043 8.36787C15.2275 8.38824 15.2467 8.41153 15.2615 8.43665C15.3278 8.54857 15.3109 8.69837 15.2098 8.8045C15.086 8.93448 14.8828 8.94969 14.7558 8.83856Z" fill="#499AFE"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_545_160">
                        <rect width="9.70799" height="10.4638" fill="white" transform="translate(10.7138 0.758545) rotate(59.3625)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                        
                      
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.MY_ORDERS' | translate }}
                    </div>
                  </div>
                  <div class="nav-item" [routerLink]="['my-meetings/sent']" routerLinkActive="active" *ngIf="!isNavCollapsed && (isClient$ | async)"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.SENT' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.SENT' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-calendar"></i>
                    </div>
                    <div class="item-label" >
                        {{ 'INSIGHTER.DASHBOARD.NAV.MEETINGS' | translate }}
                    </div>
                  </div>
                  <!-- Meetings Expandable Item -->
                  <div class="nav-item expandable" [class.expanded]="isMeetingsExpanded" *ngIf="!isNavCollapsed && !(isClient$ | async)">
                    <div class="nav-item-main" (click)="toggleMeetings()">
                      <div class="item-icon">
                        <i class="ki-outline ki-calendar"></i>
                      </div>
                      <div class="item-label">
                        {{ 'INSIGHTER.DASHBOARD.NAV.MEETINGS' | translate }}
                      </div>
                      <div class="expand-icon">
                        <i class="ki-outline ki-down"></i>
                      </div>
                    </div>
                    <div class="sub-nav" [class.show]="isMeetingsExpanded">
                      <div class="sub-nav-item"  [routerLink]="['my-consulting-schedule']" routerLinkActive="active" *ngIf="!(isClient$ | async)"
                      pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_CONSULTING_SCHEDULE' | translate) : '' }}"
                      tooltipPosition="right"
                      appendTo="body">
                        <div class="sub-item-icon">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.66669 1.16669V2.91669" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.33331 1.16669V2.91669" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.04169 5.30249H11.9584" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.2058 9.19919L9.14084 11.2642C9.05918 11.3459 8.98333 11.4975 8.96583 11.6084L8.855 12.3959C8.81416 12.6817 9.0125 12.88 9.29834 12.8392L10.0858 12.7284C10.1967 12.7109 10.3542 12.635 10.43 12.5534L12.495 10.4884C12.8508 10.1325 13.02 9.71836 12.495 9.19336C11.9758 8.6742 11.5617 8.84335 11.2058 9.19919Z" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.9084 9.4967C11.0834 10.1267 11.5734 10.6167 12.2034 10.7917" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7 12.8334H4.66667C2.625 12.8334 1.75 11.6667 1.75 9.91669V4.95835C1.75 3.20835 2.625 2.04169 4.66667 2.04169H9.33333C11.375 2.04169 12.25 3.20835 12.25 4.95835V7.00002" stroke="#9C9FA1" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.99739 7.99168H7.00263" stroke="#9C9FA1" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.83833 7.99168H4.84357" stroke="#9C9FA1" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.83833 9.74168H4.84357" stroke="#9C9FA1" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                        </div>
                        <div class="sub-item-label">
                          {{ 'INSIGHTER.DASHBOARD.NAV.MY_CONSULTING_SCHEDULE' | translate }}
                        </div>
                      </div>
                      <div class="sub-nav-item" [routerLink]="['my-meetings/received']" routerLinkActive="active"  *ngIf="!(isClient$ | async)"
                      pTooltip="{{ isNavCollapsed ? ('INSIGHTER.MEETINGS.TABS.RECEIVED' | translate) : '' }}"
                      tooltipPosition="right"
                      appendTo="body">
                        <div class="sub-item-icon">
                          <i class="ki-outline ki-message-text-2"></i>
                        </div>
                        <div class="sub-item-label">
                          {{ 'INSIGHTER.MEETINGS.TABS.RECEIVED' | translate }}
                        </div>
                      </div>
                      <div class="sub-nav-item" [routerLink]="['my-meetings/sent']" routerLinkActive="active"
                      pTooltip="{{ isNavCollapsed ? ('INSIGHTER.MEETINGS.TABS.SENT' | translate) : '' }}"
                      tooltipPosition="right"
                      appendTo="body">
                        <div class="sub-item-icon">
                          <i class="ki-outline ki-send"></i>
                        </div>
                        <div class="sub-item-label">
                          {{ 'INSIGHTER.MEETINGS.TABS.SENT' | translate }}
                        </div>
                      </div>
                     
                    </div>
                  </div>
                  
                  <!-- Collapsed Meeting Items (shown as separate items when collapsed) -->
                  <div *ngIf="isNavCollapsed">
                    <div class="nav-item" [routerLink]="['my-consulting-schedule']" routerLinkActive="active" 
                         *ngIf="!(isClient$ | async)" [attr.title]="('INSIGHTER.DASHBOARD.NAV.MY_CONSULTING_SCHEDULE' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_CONSULTING_SCHEDULE' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body">
                      <div class="item-icon">
                        <i class="ki-outline ki-calendar"></i>
                      </div>
                    </div>
                    <div class="nav-item" [routerLink]="['my-meetings/received']" routerLinkActive="active" 
                         *ngIf="!(isClient$ | async)" [attr.title]="('INSIGHTER.MEETINGS.TABS.RECEIVED' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.MEETINGS.TABS.RECEIVED' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body">
                      <div class="item-icon">
                        <i class="ki-outline ki-message-text-2"></i>
                      </div>
                    </div>
                    <div class="nav-item" [routerLink]="['my-meetings/sent']" routerLinkActive="active"
                         [attr.title]="('INSIGHTER.MEETINGS.TABS.SENT' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.MEETINGS.TABS.SENT' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body">
                      <div class="item-icon">
                        <i class="ki-outline ki-send"></i>
                      </div>
                    </div>
                  </div>
                 
                  <div class="nav-item" [routerLink]="['my-company-settings']" routerLinkActive="active" *ngIf="hasCompanyRole$ | async"
                       [attr.title]="isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_COMPANY' | translate) : null"
                       pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.MY_COMPANY' | translate) : '' }}"
                       tooltipPosition="right"
                       appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-people"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.MY_COMPANY' | translate }}
                    </div>
                  </div>
                  <div *ngIf="(isInsighter$ | async) || (isCompany$ | async) "  class="nav-item" [routerLink]="['wallet']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                  [pTooltip]="('INSIGHTER.DASHBOARD.NAV.WALLET' | translate)"
                  tooltipPosition="right"
                  appendTo="body">
                    <div class="item-icon">
                      <i class="ki-outline ki-wallet"></i>
                    </div>
                    <div class="item-label" *ngIf="!isNavCollapsed">
                      {{ 'INSIGHTER.DASHBOARD.NAV.WALLET' | translate }}
                    </div>
                  </div>
                  <!-- Settings Expandable Item -->
                   <ng-container *ngIf="!(isClient$ | async)">
                  <div class="nav-item expandable" [class.expanded]="isSettingsExpanded" *ngIf="!isNavCollapsed">
                    <div class="nav-item-main" (click)="navigateToSettings()">
                      <div class="item-icon">
                        <i class="ki-outline ki-setting-2"></i>
                      </div>
                      <div class="item-label">
                        {{ 'INSIGHTER.DASHBOARD.NAV.SETTINGS' | translate }}
                      </div>
                      <div class="expand-icon" (click)="toggleSettings(); $event.stopPropagation()">
                        <i class="ki-outline ki-down"></i>
                      </div>
                    </div>
                    <div class="sub-nav" [class.show]="isSettingsExpanded">
                     
                      <div class="sub-nav-item" [routerLink]="['account-settings/general-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isClient$ | async)"
                      pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate) : '' }}"
                      tooltipPosition="right"
                      appendTo="body">
                        <div class="sub-item-icon">
                          <i class="ki-outline ki-user-edit"></i>
                        </div>
                        <div class="sub-item-label">
                          {{ 'INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate }}
                        </div>
                      </div>
                      <div *ngIf="(isInsighter$ | async) || (isCompany$ | async)" class="sub-nav-item" [routerLink]="['account-settings/payment-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                      pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS' | translate) : '' }}"
                      tooltipPosition="right"
                      appendTo="body">
                        <div class="sub-item-icon">
                          <i class="ki-outline ki-credit-cart"></i>
                        </div>
                        <div class="sub-item-label">
                          {{ 'INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS' | translate }}
                        </div>
                      </div>
                     
                    </div>
                  </div>
                  </ng-container>
                  <!-- Collapsed Settings Items (shown as separate items when collapsed) -->
                  <div *ngIf="isNavCollapsed">
                    <div class="nav-item" [routerLink]="['account-settings/payment-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                         [attr.title]="('INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body" *ngIf="(isInsighter$ | async) || (isCompany$ | async)">
                      <div class="item-icon">
                        <i class="ki-outline ki-credit-cart"></i>
                      </div>
                    </div>
                    <div class="nav-item" [routerLink]="['wallet']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                         [attr.title]="('INSIGHTER.DASHBOARD.NAV.WALLET' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.WALLET' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body" *ngIf="(isInsighter$ | async) || (isCompany$ | async)">
                      <div class="item-icon">
                        <i class="ki-outline ki-wallet"></i>
                      </div>
                    </div>
                    <div class="nav-item" [routerLink]="['account-settings/general-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                         *ngIf="!(isClient$ | async)" [attr.title]="('INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate)"
                         pTooltip="{{ isNavCollapsed ? ('INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate) : '' }}"
                         tooltipPosition="right"
                         appendTo="body">
                      <div class="item-icon">
                        <i class="ki-outline ki-user-edit"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile Menu Toggle Button (visible only on mobile) -->
          <div class="mobile-menu-toggle" *ngIf="isMobileView">
            <button type="button" class="btn btn-icon btn-active-color-primary" (click)="toggleNavCollapse()">
              <i class="ki-outline ki-burger-menu fs-2 text-info"></i>
            </button>
          </div>

          <!-- Main Content Area -->
          <div class="main-content-area flex-fill" [ngClass]="{'pe-5': !isRouteActive('my-company-settings'), 'pe-2': isRouteActive('my-company-settings')}">
                <router-outlet></router-outlet>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
