:host {
    height: 100%;
  }
  .sign-in-bg{
    background-image: url('../../../../../assets/media/images/2600x1200/bg-10.png');
  background-size: cover;
  }
  .switch-lang{
    position: absolute;
    top: 20px;
  }
 .thank-you-message{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .blurred-card {
    background-color: rgba(255, 255, 255, 0.4); /* White background with low opacity */
    backdrop-filter: blur(-7px); /* Apply a blur effect */
    border-radius: 15px; /* Rounded corners for a smooth look */
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04); /* Subtle shadow to give some depth */
  }