
  

<div class="d-flex h-100 align-items-center justify-content-center flex-grow-1 bg-center bg-no-repeat sign-in-bg page-bg"
>

<div class="card w-lg-800px blurred-card mil-up">
  <div class="d-flex flex-column gap-5 p-5  w-100 justify-content-center align-items-center" id="2fa_form">
    <div class="mb-2">  <img alt="image" class="w-70px m-auto mb-2" src="../../../../../assets/media/logos/light-logo-sm.svg"></div>
      <div class="thank-you-message">
      <div>
      
        <h1>{{ 'AUTH.REGISTRATION.SUCCESS_JOURNEY_TITLE' | translate }}</h1>
      </div>
        <p class="fs-4 text-gray-700" [innerHTML]="'AUTH.REGISTRATION.THANK_YOU_MESSAGE' | translate"></p>
      </div>
  </div>

</div>
</div>

<!-- Stop -->
