<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-gray-900">Business Details</h2>
  <div class="text-gray-500 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder">Help Page</a>.
  </div>
</div>

<div [formGroup]="form">
  <div formArrayName="certifications">
    <div *ngFor="let certification of certifications.controls; let i = index" [formGroupName]="i">
      <!-- Certification Type Field -->
      <!-- Upload Document Field -->
      <!-- Remove Button -->
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="addCertification()">Add Certification</button>
</div>