<div
  class="modal fade "
  id="insightersModal"
  tabindex="-1"
  aria-labelledby="insightersModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered mw-650px">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card pb-10" *ngIf="step===1">
          <!--begin::Modal content-->
          <div class="card-body">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
              <!--begin::Close-->
              <div
                class="btn btn-sm btn-icon btn-active-color-primary"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="ki-duotone ki-cross fs-1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </div>
              <!--end::Close-->
            </div>
            <div class="mx-5 mx-xl-18 pt-0">
              <!--begin::Heading-->
              <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="mb-3">Transfer To</h1>
                <!--end::Title-->
                <!--begin::Description-->
                <div class="text-muted fw-semibold fs-5">
                  If you need more info, please check out
                  <a class="link-primary fw-bold">this page</a>.
                </div>
                <!--end::Description-->
              </div>
              <div class="input-group w-100">
                <span class="input-group-text border-0">
                  <i class="ki-duotone ki-magnifier fs-3">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </span>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Search..." 
                  [formControl]="searchControl"
                />
              </div>
              <!--end::Heading-->
              <ng-container *ngIf="searchControl.value.length>0">  
           
              <!--end::Header Row-->

              <!--begin::List-->
              <div class="mh-300px list-box scroll-y me-n7 pe-7">
                <div
                  *ngFor="let user of fetchedUsers"
                  class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed"
                >
                  <!--begin::Details-->
                  <div class="d-flex align-items-center">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-35px symbol-circle">
                      <ng-container *ngIf="user.profile_image">
                        <img [src]="user.profile_image" alt="Pic" />
                      </ng-container>
                       
                          <ng-container *ngIf="!user.profile_image">
                            <span class="symbol-label fw-semibold" [ngClass]="user.bgClass">
                              {{getInitials(user.name)}}
                            </span>
                          </ng-container>
                    </div>
                    <!--end::Avatar-->

                    <!--begin::Details-->
                    <div class="ms-5">
                      <a class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">
                        {{ user.name}}
                      </a>
                      <div class="fw-semibold text-muted">{{ user.email }}</div>
                    </div>
                    <!--end::Details-->
                  </div>
                  <!--end::Details-->
                  <a
                    class="btn btn-sm btn-light-secondary border border-gray-300 text-gray-800"
                    (click)="inviteUser(user)"
                  >
                    Invite
                  </a>
                </div>
                <div *ngIf="isLoading" class="text-center py-4">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </div>
                <div *ngIf="!isLoading && fetchedUsers.length === 0" class="text-center py-4">
                  No users found.
                </div>
              </div>
              <!--end::List-->
            </ng-container>
            </div>
            <!--end::Modal body-->
          </div>
          <!--end::Modal content-->
        </div>
        <div class="card" *ngIf="step===2">
          <!--begin::Modal content-->
          <div class="card-body">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
              <!--begin::Close-->
              <div
                class="btn btn-sm btn-icon btn-active-color-primary"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="ki-duotone ki-cross fs-1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </div>
              <!--end::Close-->
            </div>
            <div class="mx-5 mx-xl-18 pt-0">
              <!--begin::Heading-->
              <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="mb-3">Transfer To</h1>
                <!--end::Title-->
                <!--begin::Description-->
                <div class="text-muted fw-semibold fs-5">
                  If you need more info, please check out
                  <a class="link-primary fw-bold">this page</a>.
                </div>
                <!--end::Description-->
              </div>
              <!--end::Heading-->
              <!--begin::List-->
              <div class="mh-300px list-box scroll-y me-n7 pe-7">
                <div

                class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed"
              >
                <!--begin::Details-->
                <div class="d-flex align-items-center">
                  <!--begin::Avatar-->
                  <div class="symbol symbol-35px symbol-circle" *ngIf="selectedUser">
                    <ng-container *ngIf="selectedUser.profile_image">
                      <img [src]="selectedUser.profile_image" alt="Pic" />
                    </ng-container>
                     
                        <ng-container *ngIf="!selectedUser.profile_image">
                          <span class="symbol-label fw-semibold" [ngClass]="selectedUser.bgClass">
                            {{getInitials(selectedUser.name)}}
                          </span>
                        </ng-container>
                  </div>
                  <!--end::Avatar-->

                  <!--begin::Details-->
                  <div class="ms-5">
                    <a class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2" *ngIf="selectedUser">
                      {{ selectedUser.name}}
                    </a>
                    <div class="fw-semibold text-muted" *ngIf="selectedUser">{{ selectedUser.email }}</div>
                  </div>
                  <!--end::Details-->
                </div>
                
              </div>
              </div>
              <!--end::List-->
            </div>
            <!--end::Modal body-->
            <div class="py-4 text-center m-auto">
              <button [disabled]="code.length!==6" (click)="transfer()" class="btn btn-primary">Transfer</button>
            </div>
          </div>
          <!--end::Modal content-->
        </div>
      </div>
    </div>
  </div>
</div>
