
<!-- Layout builder -->
<div class="mb-4">
  <!--begin::Search-->
  <div class="d-flex align-items-center position-relative mb-6">
      <i class="ki-outline ki-magnifier fs-4 text-gray-500 position-absolute ms-3 fw-bold"></i>
      <input id="aside-view" type="text"  class="form-control form-control-sm form-control-solid w-100 ps-10 border border-300 bg-light-active" placeholder="Find a view">

          </div>
  <!--end::Search-->

  <!--begin::Items-->
  <div class="m-0">
      <!--begin::Item-->
      <a  class="btn btn-sm d-flex flex-stack border border-300 bg-gray-100i  btn-active-color-gray-900 px-3 mb-2">
          <span class="d-flex align-item-center">
           <span class="svg-icon svg-icon-2 svg-icon-warning px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <path opacity="0.3" d="M2.625 12.5C3.75 7 8.37497 2.875 14 2.5L11 5.49999L13.875 8.75C12 9.125 10.375 10.25 9.5 12L5.62499 15.5L2.625 12.5ZM24.125 14.375L20.5 17.5C19.625 19.375 18 20.75 15.875 21.125L18.75 24.375L15.75 27.375C21.375 27 26 22.75 27.125 17.375L24.125 14.375Z" fill="#DDB346"/>
              <path d="M17.25 2.625C22.75 3.75 26.875 8.37501 27.25 14L24.25 11L21 13.75C20.625 11.75 19.375 10.125 17.5 9.25L14.25 5.5L17.25 2.625ZM15.375 24.25L12.125 20.5C10.375 19.625 9.125 18 8.75 16L5.49999 18.875L2.5 15.875C2.875 21.5 7.125 26.125 12.5 27.25L15.375 24.25Z" fill="#DDB346"/>
            </svg>
           </span>
           All Features
          </span>
          <i class="ki-outline ki-check fs-4 text-gray-500 me-n2"></i>        </a>
      <!--end::Item-->
      <div class="menu-content my-5"><div class="separator separator-dashed"></div></div>

  </div>
  <!--end::Items-->
</div>

<ng-container *ngIf="base==='dashboard'">
  <div class="menu-item" *ngFor="let link of dashboardLinks">
    <a 
      class="menu-link py-0 ps-1 without-sub"
      [routerLink]="link.link"
      routerLinkActive="active"
      >
        <span class="svg-icon svg-icon-1 " [class]="link.color" >
  
          <span
            [inlineSVG]="link.icon"
          ></span>
  
      <!--end::Svg Icon-->
       </span
      ><span class="menu-title btn btn-sm px-3 border border-transparent btn-color-gray-900">{{link.title}}</span></a
    >
  </div>
</ng-container>
<ng-container *ngIf="base==='cases'">
  <div class="menu-item" *ngFor="let link of casesLinks">
    <a 
      class="menu-link py-0 ps-1 without-sub"
      [routerLink]="link.link"
      routerLinkActive="active"
      >
        <span class="svg-icon svg-icon-1 " [class]="link.color" >
  
          <span
            [inlineSVG]="link.icon"
          ></span>
  
      <!--end::Svg Icon-->
       </span
      ><span class="menu-title btn btn-sm px-3 border border-transparent btn-color-gray-900">{{link.title}}</span></a
    >
  </div>
</ng-container>
<ng-container *ngIf="base==='finance'">
  <div class="menu-item" *ngFor="let link of financeLinks">
    <a 
      class="menu-link py-0 ps-1 without-sub"
      [routerLink]="link.link"
      routerLinkActive="active"
      >
        <span class="svg-icon svg-icon-1 " [class]="link.color" >
  
          <span
            [inlineSVG]="link.icon"
          ></span>
  
      <!--end::Svg Icon-->
       </span
      ><span class="menu-title btn btn-sm px-3 border border-transparent btn-color-gray-900 mb-0">{{link.title}}</span></a
    >
  </div>
</ng-container>
