<div class="row">
    <div class="col-xl-4 mb-5 mb-xl-10">
        <div class="card card-flush h-md-100 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex w-100 flex-column">   
                    <!--begin::Info--> 
                    <div class="d-flex flex-column w-100    ">
                        <!--begin::Amount-->
                        <div class="position-relative text-gray-800 fs-1 z-index-2 fw-bold mb-5">
                            {{ 'PROFILE_COMPLETION.ALMOST_THERE' | translate }}                      
                        </div>
                        <!--end::Amount-->
                           <!--begin::Progress-->
     
                <!--end::Progress-->
                    </div>
                    <!--end::Info--> 
                    <div class="d-flex align-items-center flex-column mt-3 w-100">
                        <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                            <span class="fw-bolder fs-6 text-gray-900">{{ 'PROFILE_COMPLETION.TITLE' | translate }}</span>
                            <span class="fw-bold fs-6 text-gray-500">90%</span>
                        </div>
            
                        <div class="h-8px mx-3 w-100 bg-light-success rounded">
                            <div class="bg-success rounded h-8px" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--begin::Subtitle-->
                     
                    <!--end::Subtitle--> 
                </div>
                <!--end::Title-->         
            </div>
            <!--end::Header-->
        
            <!--begin::Card body-->
            <div class="card-body d-flex flex-column pt-4">
                <span class="text-gray-500 pt-1 fw-semibold fs-6">Complete your profile to unlock all features and get the most out of your account.</span>
                <a [routerLink]="['/app/profile/settings/personal-info']" class="text-info pt-2 fw-semibold fs-6">Add socials accounts!</a>           
            </div>
            <!--end::Card body-->
        </div>
    </div>
    <!-- Upgrade to company account -->
    <div class="col-xl-8 mb-5 mb-xl-10" *ngIf="hasRole('insighter')">
        <div class="card card-custom bg-body border-1 h-md-100">
            <!--begin::Body-->
            <div class="card-body d-flex justify-content-center flex-wrap px-xl-15 px-5">          
                <!--begin::Wrapper--> 
                <div class="flex-grow-1 mt-2 me-9 me-md-0">
                    <!--begin::Title-->               
                    <div class="position-relative text-gray-800 fs-1 z-index-2 fw-bold mb-5">
                        {{ 'UPGRADE_TO_COMPANY_ACCOUNT.TITLE' | translate }} 
                    </div>
                    <!--end::Title-->
        
                    <!--begin::Text-->
                    <span class="text-gray-600 fw-semibold fs-6 mb-6 d-block mw-400px">
                        {{'UPGRADE_TO_COMPANY_ACCOUNT.DESCRIPTION' | translate}}
                  
                    </span>
                    <!--end::Text-->
                
                    <!--begin::Action--> 
                    <div class="mb-7">
                        <a [routerLink]="['/app/insighter-dashboard/account-settings/company-account']" class="btn btn-sm btn-primary fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                            {{'UPGRADE_TO_COMPANY_ACCOUNT.UPGRADE_NOW' | translate}}
                        </a> 
                    </div>
                    <!--begin::Action--> 
                </div>
                <!--begin::Wrapper-->                 
        
                <!--begin::Illustration-->
                <img src="./assets/media/auth/upgrade-to-corporate.png" class="h-175px me-15" alt=""> 
                <!--end::Illustration-->
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>