<div class="row">

    <div *ngIf="roles.includes('insighter') || roles.includes('company') || roles.includes('company-insighter')" [ngClass]="{'col-12 col-lg-6': roles.includes('company')}">
        <app-knowledge-types-statistics></app-knowledge-types-statistics>
    </div>
    <div *ngIf="roles.includes('company')" [ngClass]="{'col-12 col-lg-6': roles.includes('company')}">
        <app-employee-knowledge-statistics></app-employee-knowledge-statistics>
    </div>
</div>

<div class="row">

    <!-- Upgrade to company account -->
    <div class="col-12 mb-5 mb-xl-10" *ngIf="hasRole('insighter')">
        <div class="card card-custom bg-body border-1 h-md-100">
            <!--begin::Body-->
            <div class="card-body d-flex justify-content-center flex-wrap px-xl-15 px-5">          
                <!--begin::Wrapper--> 
                <div class="flex-grow-1 mt-2 me-9 me-md-0">
                    <!--begin::Title-->               
                    <div class="position-relative text-gray-800 fs-1 z-index-2 fw-bold mb-5">
                        {{ 'UPGRADE_TO_COMPANY_ACCOUNT.TITLE' | translate }} 
                    </div>
                    <!--end::Title-->
        
                    <!--begin::Text-->
                    <span class="text-gray-600 fw-semibold fs-6 mb-6 d-block mw-400px">
                        <ng-container *ngIf="hasPendingActivationRequest; else regularDescription">
                            {{'UPGRADE_TO_COMPANY_ACCOUNT.PENDING_DESCRIPTION' | translate}}
                        </ng-container>
                        <ng-template #regularDescription>
                            {{'UPGRADE_TO_COMPANY_ACCOUNT.DESCRIPTION' | translate}}
                        </ng-template>
                    </span>
                    <!--end::Text-->
                
                    <!--begin::Action--> 
                    <div class="mb-7">
                        <ng-container *ngIf="hasPendingActivationRequest; else upgradeButton">
                            <button class="btn btn-sm btn-secondary fw-semibold me-2" disabled>
                                {{'UPGRADE_TO_COMPANY_ACCOUNT.PENDING' | translate}}
                            </button>
                        </ng-container>
                        <ng-template #upgradeButton>
                            <a [routerLink]="['/app/insighter-dashboard/account-settings/company-account']" class="btn btn-sm btn-primary fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                                {{'UPGRADE_TO_COMPANY_ACCOUNT.UPGRADE_NOW' | translate}}
                            </a>
                        </ng-template>
                    </div>
                    <!--begin::Action--> 
                </div>
                <!--begin::Wrapper-->                 
        
                <!--begin::Illustration-->
                <img src="./assets/media/auth/upgrade-to-corporate.png" class="h-175px me-15" alt=""> 
                <!--end::Illustration-->
            </div>
            <!--end::Body-->
        </div>
    </div>

    <!-- Empty state - start building knowledge base -->
    <div class="col-12 mb-5 mb-xl-10" *ngIf="!hasRole('insighter') && !hasStatistics()">
        <div class="card card-custom bg-body border-1 h-md-100">
            <!--begin::Body-->
            <div class="card-body d-flex justify-content-center flex-column align-items-center py-15">
                <!--begin::Illustration-->
                <img src="./assets/media/illustrations/misc/buildup_dashboard.svg" class="h-200px mb-5" alt="Empty Dashboard"> 
                <!--end::Illustration-->
                
                <!--begin::Title-->
                <div class="position-relative text-gray-800 fs-1 z-index-2 fw-bold mb-5 text-center">
                    {{ 'EMPTY_DASHBOARD.TITLE' | translate }}
                </div>
                <!--end::Title-->
                
                <!--begin::Text-->
                <span class="text-gray-600 fw-semibold fs-6 mb-7 text-center mw-500px">
                    {{ 'EMPTY_DASHBOARD.DESCRIPTION' | translate }}
                </span>
                <!--end::Text-->
                
                <!--begin::Action-->
                <a [routerLink]="['/app/add-knowledge/stepper']" class="btn btn-primary fw-bold">
                    <i class="fas fa-plus me-2"></i>
                    {{ 'EMPTY_DASHBOARD.ADD_BUTTON' | translate }}
                </a>
                <!--end::Action-->
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>