.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-lg-15 {
  padding-bottom: 3.75rem;
}

.btn {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn i {
  color: #fff;
}

.btn-outline-default {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-default:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.text-primary {
  color: #0d6efd !important;
}

.text-gray-900 {
  color: #212529 !important;
}

.text-gray-500 {
  color: #6c757d !important;
}

.fv-plugins-message-container.invalid-feedback {
  display: block;
  color: red;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}