<div class="pb-5 pb-lg-10 pt-15">
    <h2 class="fw-bolder text-dark">Choose Stand Alone Insights</h2>
    <div class="text-gray-600 fw-bold fs-6">
      You can choose what insights you want to sell individually
    </div>
  </div>
<div class="row">
    <div class="col-4 mb-5" *ngFor="let card of cards; let i = index">
        <div 
            class="card start-now-bg d-flex flex-column gap-3 justify-content-between" 
            [class.selected]="card.selected"
            (click)="card.selected = !card.selected"
            style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
            
            <!-- Checkbox for selection -->
            <div class="selection-checkbox" (click)="$event.stopPropagation()">
                <input 
                    type="checkbox" 
                    [(ngModel)]="card.selected" 
                    class="form-check-input"
                    id="selectCard{{i}}"
                />
                <label for="selectCard{{i}}"></label>
            </div>

            <div class="card-number">
                <span>{{i + 1}}</span>
            </div>
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">
                {{card.title}} 
                <span class="text-muted px-2 fs-6">|</span> 
                <span class="text-{{card.typeColor}} fw-900 fs-6">{{card.type}}</span>
              </h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                {{card.description}}
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                    <span style="font-size: 39px; font-weight: 800;">{{card.price}}</span>
              </div>
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors" (click)="$event.stopPropagation()">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="{{card.image}}">
            </div>
          </div>
    </div>
</div>

<div class="d-flex flex-stack pt-15">
  <div></div>
  <div>
    <button
      type="button"
      class="btn btn-lg btn-primary"
   
    >
      Continue
      <span class="svg-icon svg-icon-4 ms-1">
        <i class="ki-duotone ki-arrow-right fs-2">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </span>
    </button>
  </div>
</div>