
  .sidebar ul li a {
    text-decoration: none;
    color: #232323;
    display: block;
  }
  
  .sidebar ul li a.active {
    background-color: #575757;
  }
  

  
  .sidebar {
    width: 300px;
    background-color: #fff;
    color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    padding-top: 50px;
    transition: transform 0.3s ease-in-out;
    border-left: 1px solid #DBDFE9;
    border-right: 1px solid #DBDFE9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 0px 20px;
  }
  
  /* Hidden state for the sidebar */
  .sidebar.sidebar-hidden {
    transform: translateX(-100%);
  }
  
  @media (max-width: 991px) {
    .sidebar {
      transform: translateX(-100%);
    }
  }

  .menu-link.active {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #007bff; /* Example color */
    border-radius: 5px;
  }
.bg-primary{
  background-color: #012542;
}