@media (min-width: 992px){
    .wrap {
        padding-top: 56px;
        padding-left: 240px;
        padding-right: 0px;
        background-color: #ffffff;
    }
}
@media (max-width: 991px){
  .wrap {
      padding-top: 56px;
      padding-left: 0px;
      padding-right: 0px;
      background-color: #ffffff;
  }
}
