@media (min-width: 992px){
    .wrap {
        padding-top: 150px;
        padding-left: 300px;
        padding-right: 0px;
    }
}
@media (max-width: 991px){
  .wrap {
      padding-top: 160px;
      padding-left: 20px;
      padding-right: 0px;
  }
}
