<p-toast></p-toast>
<app-admin-header></app-admin-header>
<!-- <app-sub-header></app-sub-header> -->
<app-dashboard-side-bar></app-dashboard-side-bar>
  <div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">


      <div class="wrap d-flex flex-column flex-row-fluid" >

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-scripts-init></app-scripts-init>

<!--
  <app-engages></app-engages>

  <app-main-modal></app-main-modal>
  <app-invite-users-modal></app-invite-users-modal>
  <app-upgrade-plan-modal></app-upgrade-plan-modal>
   -->
