<!-- navbar.component.html -->

<div class="app-navbar-item ms-1">
    <!-- Menu Wrapper -->
    <div class="menu-dropdown" (click)="toggleMenu()" tabindex="0" aria-haspopup="true" >
      
      <!-- User Avatar -->
      <div class="symbol symbol-circle symbol-40px bg-primary">
        <img *ngIf="user && user?.profile_photo_url; else defaultAvatar" [src]="user.profile_photo_url" alt="User Avatar">
        <ng-template #defaultAvatar>
          <span class="symbol-label bg-primary fs-2 text-white">
            {{ user?.name?.charAt(0) }}
          </span>
        </ng-template>
      </div>
      
      <!-- Online Indicator -->
      <span 
        class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle mb-1 bottom-0 start-100 animation-blink"
        aria-label="Online"
      ></span>
  
      <!-- Dropdown Icon (Optional) -->
    
    </div>
    <!-- End: Menu Wrapper -->
  
    <!-- Dropdown Menu -->
    <div class="menu-sub-dropdown" [ngClass]="{'show': isMenuOpen}" role="menu" aria-label="User Account Menu">
      
      <!-- Menu Item: User Info -->
      <div class="menu-item px-3">
        <div class="menu-content d-flex align-items-center px-3">
          <!-- Avatar -->
          <div class="position-relative">
            <div class="symbol symbol-50px me-5">
              <img *ngIf="user &&user?.profile_photo_url; else defaultAvatarLarge" [src]="user.profile_photo_url" alt="User Avatar">
              <ng-template #defaultAvatarLarge>
                <span class="symbol-label bg-primary fs-2 text-white">
                  {{ user?.name?.charAt(0) }}
                </span>
              </ng-template>
            </div>
        <div class="position-absolute icon">
          <label for="avatar" class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
            <i class="ki-outline ki-pencil fs-7"></i>
        </label>
        <input (change)="onFileSelected($event)" id="avatar" type="file" name="avatar" accept=".png, .jpg, .jpeg" class="hidden">
        </div>
          </div>
          <!-- Username and Role -->
          <div class="d-flex flex-column">
            <div class="fw-bold d-flex align-items-center fs-5">
              {{ user?.name }} 
          
            </div>
            <a class="fw-semibold text-muted text-hover-primary fs-7">
              {{ user?.roles }}
            </a>
          </div>
        </div>
      </div>
      <!-- End: Menu Item -->
  
      <!-- Divider -->
      <div class="separator my-2"></div>
  
      <!-- Menu Item: Sign Out -->
      <div class="menu-item px-5">
        <a (click)="signOut()" class="menu-link px-5" href="javascript:void(0)">
          Sign Out
        </a>
      </div>
      <!-- End: Menu Item -->
      
    </div>
    <!-- End: Dropdown Menu -->
  </div>
  