<div class="mb-5">
  <h3 class="align-items-center mb-3">
    {{ "PUBLISH_OPTIONS" | translate }}
  </h3>
  <div class="text-muted fs-6">
    {{ "SELECT_PUBLISH_METHOD" | translate }}
  </div>
</div>
<form [formGroup]="publishForm">
  <div class="fv-row" >
    <div class="row g-5">
      <div class="col-lg-4" *ngFor="let option of publishOptions">
        <input
          formControlName="publishOption"
          name="publishOption"
          type="radio"
          class="btn-check"
          [id]="option.id"
          [value]="option.value"
        />
        <label
          [for]="option.id"
          class="btn btn-outline btn-outline-dashed btn-outline-default border-dashed border-gray-300 p-5 d-flex align-items-center position-relative rounded-2 transition h-100"
        >
          <div class="d-flex align-items-center w-100">
            <div class="mx-3">
              <app-keenicon 
                [name]="option.icon" 
                class="fs-2 text-{{ option.value === 'published' ? 'info' : (option.value === 'scheduled' ? 'warning' : 'success') }}"
              ></app-keenicon>
            </div>
            <div class="d-flex flex-column">
              <span class="text-gray-800 fw-bold d-block fs-7 text-inline-start mb-1">{{ option.label | translate }}</span>
              <span class="text-gray-600 fs-8 text-inline-start">{{ option.description | translate }}</span>
            </div>
          </div>
        </label>
      </div>
    </div>
  
    <div
      class="fv-plugins-message-container invalid-feedback mt-2"
      *ngIf="
        publishForm.get('publishOption')?.invalid && publishForm.get('publishOption')?.touched
      "
    >
      {{ "PUBLISH_OPTION_REQUIRED" | translate }}
    </div>
  </div>
  
  <!-- Scheduled Options -->
  <div *ngIf="publishForm.get('publishOption')?.value === 'scheduled'" class="mt-8" style="direction: ltr !important;">
    <div class="row g-5">
      <div class="col-md-12">
        <label class="form-label">{{ "SELECT_DATE_TIME" | translate }}</label>
        <div class="p-calendar-container w-100">
          <div class="input-group">
             <div class="d-flex justify-content-center align-items-center mx-4 rounded-2" style="background-color: #F3F4F6;">
                <app-keenicon name="calendar" class="fs-4 mx-3"></app-keenicon>
             </div>
            <p-calendar 
              formControlName="publishDateTime"
              [showTime]="true"
              [showSeconds]="false"
              [minDate]="minDate"
              [dateFormat]="dateFormat"
              [hourFormat]="timeFormat"
              styleClass="w-100 p-calendar-custom"
              inputStyleClass="form-control"
              [showIcon]="false"
              appendTo="body"
              (onSelect)="onDateTimeChange()"
              (onBlur)="onDateTimeChange()"
              placeholder="{{ 'SELECT_DATE_AND_TIME' | translate }}"
              required
            ></p-calendar>
          </div>
        </div>
        <div
          class="text-danger fs-7 mt-2"
          *ngIf="
            publishForm.get('publishDateTime')?.invalid &&
            publishForm.get('publishDateTime')?.touched
          "
        >
          {{ "VALID_DATE_TIME_REQUIRED" | translate }}
        </div>
        <div class="error-message text-danger fs-7" *ngIf="timeError">{{ timeError }}</div>
      </div>
    </div>
  </div>
  
</form>