<div
class="
d-flex 
flex-column pt-6 pb-lg-10 pt-lg-20"
style="min-height: 100px;"
>
<div class="d-flex align-items-center pt-1">
  <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <li class="breadcrumb-item text-white fw-bold lh-1">
      <a href="/" class="text-white text-hover-secondary">
        <i class="ki-outline ki-home text-white fs-3"></i>
      </a>
    </li>
    <li class="breadcrumb-item">
      <i class="ki-outline {{lang === 'ar' ? 'ki-left' : 'ki-right'}} fs-4 text-white mx-n1"></i>
    </li>
    <li class="breadcrumb-item text-white  fw-bold lh-1">
      {{"DASHBOARD" | translate}}
    </li>
    <li class="breadcrumb-item">
      <i class="ki-outline {{lang === 'ar' ? 'ki-left' : 'ki-right'}} fs-4 text-white mx-n1"></i>
    </li>
    <li class="breadcrumb-item text-white fw-bold lh-1">
      {{"INSIGHTER.DASHBOARD.NAV.MY_REQUESTS" | translate}}
    </li>
  </ul>
</div>
<div class="d-flex flex-wrap 
flex-lg-nowrap 
justify-content-between
gap-4 
gap-lg-10  align-items-center">
<div
  
  class="page-title d-flex align-items-center me-3 pt-9 pt-lg-5 mb-lg-5"
>
  <div
    
    class="btn btn-icon btn-custom h-65px w-65px me-6"
  >
    <a href="#" class="btn btn-icon pulse pulse-secondary">
      <i class="ki-duotone ki-question-2 text-gray-100 fs-1"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
      ></i>
      <span class="pulse-ring border-2"></span>
    </a>
  </div>
  <h1
    
    class="d-flex fw-bolder fs-2 flex-column justify-content-center my-0"
  >
    <div class="step-title-container mx-2">
      <div class="text-white step-title">
        {{ 'INSIGHTER.DASHBOARD.NAV.MY_REQUESTS' | translate }}
      </div>
    </div>
  </h1>
</div>
<div class="d-flex gap-4 gap-lg-13">
   <!--begin::Item-->
   <div class="d-flex flex-column rounded p-6 hover-scale">           
    <div class="d-flex align-items-center mb-2">
      <i class="ki-solid ki-check-circle text-success mx-2 fs-2"></i>
      <span class="text-white fw-bolder fs-2x">{{approvedRequests}}</span>
    </div>
    <div class="text-white opacity-75 fw-bold fs-6">
      {{ 'INSIGHTER.DASHBOARD.REQUESTS.APPROVED' | translate }}
    </div>                   
  </div>
  <!--end::Item-->

  <!--begin::Item-->
  <div class="d-flex flex-column rounded p-6 hover-scale">           
    <div class="d-flex align-items-center mb-2">
      <i class="ki-solid ki-timer text-warning mx-2 fs-2"></i>
      <span class="text-white fw-bolder fs-2x">{{pendingRequests}}</span>
    </div>
    <div class="text-white opacity-75 fw-bold fs-6">
      {{ 'INSIGHTER.DASHBOARD.REQUESTS.PENDING' | translate }}
    </div>                   
  </div>
  <!--end::Item-->

  <!--begin::Item-->
  <div class="d-flex flex-column rounded p-6 hover-scale">           
    <div class="d-flex align-items-center mb-2">
      <i class="ki-solid ki-cross-circle text-danger mx-2 fs-2"></i>
      <span class="text-white fw-bolder fs-2x">{{declinedRequests}}</span>
    </div>
    <div class="text-white opacity-75 fw-bold fs-6">
      {{ 'INSIGHTER.DASHBOARD.REQUESTS.DECLINED' | translate }}
    </div>                   
  </div>
  <!--end::Item-->
</div>
</div>
</div>