<div class="delete-section border-1 border-light-danger w-100 mb-10">
    <div class="p-24px">
      <div class="fs-2 fw-bolder">{{ 'REACTIVATE_ACCOUNT.TITLE' | translate }}</div>
    
    <p class="warning-text">
      {{ 'REACTIVATE_ACCOUNT.DESCRIPTION' | translate }}
    </p>
  
  
    </div>
  
    <div class="action-footer bg-light-success">
      <button class="delete-button" (click)="showReactivateDialog()">
        {{ 'REACTIVATE_ACCOUNT.BUTTON_TEXT' | translate }}
      </button>
    </div>
  </div>