<div class="row">

    <div class="col-4 mb-5">
        <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between  " style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">Insighta Document 1<span class="text-muted px-2 fs-6">|</span> <span class="text-info fw-900 fs-6">DOCX</span></h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                <span style="font-size: 39px; font-weight: 800;">$25</span>
              </div>
             
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png">
            </div>
          </div>
          
    </div>
    <div class="col-4 mb-5">
        <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between  " style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
       
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">Insighta Document Title <span class="text-muted px-2 fs-6">|</span> <span class="text-success fw-900 fs-6">XLSX</span></h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                <span style="font-size: 39px; font-weight: 800;">$60</span>
              </div>
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png">
            </div>
          </div>
    </div>
    <div class="col-4 mb-5">
        <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between  " style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
            
         
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">Insighta Document 4 <span class="text-muted px-2 fs-6">|</span> <span class="text-warning fw-900 fs-6">PDF</span></h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                <span style="font-size: 39px; font-weight: 800;">$35</span>
              </div>
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png">
            </div>
          </div>
    </div>
    <div class="col-4 mb-5">
        <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between  " style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
            
          
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">Insighta Document 5 <span class="text-muted px-2 fs-6">|</span> <span class="text-danger fw-900 fs-6">PPTX</span></h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                <span style="font-size: 39px; font-weight: 800;">$45</span>
              </div>
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png">
            </div>
          </div>
    </div>
    <div class="col-4 mb-5">
        <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between  " style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
            
           
            <div class="text-start position-relative">
              <h3 class="text-primary fs-3 fw-bold mb-2">Insighta Document 6 <span class="text-muted px-2 fs-6">|</span> <span class="text-success fw-900 fs-6">XLSX</span></h3>
              <span class="text-muted fs-6 d-block mb-3" style="max-width: 60%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </span>
              <div class="d-flex position-absolute end-0 top-90 translate-middle-y">
                <span style="font-size: 39px; font-weight: 800;">$55</span>
              </div>
              <a class="btn btn-dark btn-sm" href="/metronic/tailwind/demo1/network/user-table/visitors">View</a>
            </div>
            <div class="text-center">
              <img alt="" class="d-none d-lg-block" style="max-height: 300px;" src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png">
            </div>
          </div>
    </div>
   
</div>