<div class="container mt-4">
  <p-card header="Website Social Media Links" styleClass="p-shadow-5">
    <div class="card-body">
      <p-table [value]="socials" [loading]="loading" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>URL/Value</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-social>
          <tr>
            <td>{{ social.key | titlecase }}</td>
            <td>
              <span *ngIf="editingId !== social.id">{{ social.value }}</span>
              <form *ngIf="editingId === social.id" [formGroup]="editForm" (ngSubmit)="saveSocial()">
                <div class="p-inputgroup">
                  <input type="text" pInputText formControlName="value" placeholder="Enter URL or value">
                </div>
              </form>
            </td>
            <td>
              <div *ngIf="editingId !== social.id" class="btn-group">
                <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editSocial(social)"></button>
              </div>
              <div *ngIf="editingId === social.id" class="btn-group">
                <button pButton type="button" icon="pi pi-check" class="p-button-rounded p-button-success mr-2" (click)="saveSocial()"></button>
                <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="cancelEdit()"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3" class="text-center">No social media links found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div> 