.hero-bg{

    background-image: url('../../../assets/media/images/2600x1200/bg-cells.png');
    background-size: cover;
    background-position: center;
    margin-top: 65px;
    padding-top: 30px;
    min-height: 300px;
    @media screen and (max-width:998px) {
        margin-top: 10px;
        padding-top: 0px;
    }
}