<p-toast></p-toast>
<div class="   d-flex justify-content-center align-items-center hero-bg">
    <div class="bg-center bg-cover bg-no-repeat container">
        <!-- Container -->
        <div class="container" *ngIf="profile">
          <app-profile-header (photoupdated)="reloadAPI()" [profile]="profile"></app-profile-header>
          <div class=" justify-content-between mb-5 mb-xl-10">
            <app-navigation-tabs [profile]="profile"></app-navigation-tabs>
          </div>
        </div>
        <!-- End of Container -->
      </div>
</div>


  <div class="container  pb-5">
    <router-outlet></router-outlet>
  
  </div>