<button type="button" class="btn btn-primary" (click)="openDocumentDialog()">
    <i class="ki-duotone ki-plus fs-2"></i>
   <ng-container *ngIf="defaultValues.knowledgeType === 'course'"> 
    {{"ADD_DOCUMENT" | translate}}
   </ng-container>
   <ng-container *ngIf="defaultValues.knowledgeType === 'media'"> 
    {{"ADD_MEDIA_FILE" | translate}}
   </ng-container>
   <ng-container *ngIf="defaultValues.knowledgeType === 'data'"> 
    {{"ADD_NODE" | translate}}
   </ng-container>
   <ng-container *ngIf="defaultValues.knowledgeType === 'report'"> 
    {{"ADD_CHAPTER" | translate}}
   </ng-container>
   <ng-container *ngIf="defaultValues.knowledgeType === 'manual'"> 
    {{"ADD_CHAPTER" | translate}}
   </ng-container>
   <ng-container *ngIf="defaultValues.knowledgeType === 'insight'"> 
    {{"ADD_DOCUMENT" | translate}}
   </ng-container>
</button>

<!-- Display the list of documents as cards -->
<div class="row mt-5">
    <div class="col-12 mb-5 position-relative" *ngFor="let doc of documents; let i = index">
    
      
      <div class="card start-now-bg d-flex flex-column gap-3 justify-content-between" 
           style="background-position: center top 1.3rem; background-repeat: no-repeat; background-size: 700px;">
        
        <!-- Edit and Delete Icons -->
        <div class="icon-group">
          <div class="delete-icon" pTooltip="Delete" (click)="removeDocument(i)">
            <i class="ki-duotone ki-cross-circle text-gray-400 text-hover-danger fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </div>
        </div>
  
        <div class="text-start position-relative">
        
          <h3 class="text-primary fs-3 fw-bold mb-2 d-flex align-items-center">
            {{ doc.file_name || 'Untitled' }}
            
            <!-- File Info -->
            <span class="text-muted px-2 fs-6">|</span>
            <span class="fw-900 fs-6 text-uppercase"
            [ngClass]="{
              'text-danger': ['PDF', 'PPTX', 'PPT' , 'pdf' , 'pptx', 'ppt'].includes(doc.file_extension),
              'text-info': ['DOCX', 'DOC' , 'docx', 'doc'].includes(doc.file_extension), 
              'text-success': ['XLSX', 'CSV', 'XLS' , 'xlsx', 'csv', 'xls'].includes(doc.file_extension),
              'text-primary': doc.file_extension === 'TXT' || doc.file_extension === 'txt',
              'text-warning': !['PDF', 'PPTX', 'PPT', 'DOCX', 'DOC', 'XLSX', 'CSV', 'XLS', 'TXT' , 'pdf', 'pptx', 'ppt', 'docx', 'doc', 'xlsx', 'csv', 'xls', 'txt'].includes(doc.file_extension)
            }">
              {{ doc.file_extension }}
            </span>
            <span class="text-muted px-2 fs-6">|</span>
            <span class="text-muted fs-6">{{ (doc.file?.size || doc.file_size || 0) | fileSize }}</span>

            <!-- Free Badge -->
            <span *ngIf="doc.isCharity" 
                  class="badge badge-success badge-lg ms-3">
              <i class="ki-duotone ki-heart text-white me-1 fs-6">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              {{'CHARITY_MODE' | translate}}
            </span>
          </h3>
          <span class="text-muted fs-6 d-block mb-3" >
            {{ doc.description | truncateText: 200 }}
          </span>
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-primary" pTooltip="Edit" (click)="openDocumentDialog(i)">
            {{'VIEW' | translate}}
          </button>
        </div>
        <div class="text-center">
          <img 
            alt="" 
            class="d-none d-lg-block" 
            style="max-height: 300px;" 
            src="/static/metronic/tailwind/dist/assets/media/images/2600x1200/3-dark.png"
          >
        </div>
      </div>
      <div class="d-flex position-absolute end-10 top-80 translate-middle-y">
        <span style="font-size: 25px; font-weight: 800;">{{ doc.price || 0 | currency:'USD' }}</span>
      </div>
    </div>
  </div>
  
  <!-- Add Total Price Section before the Dialog -->
  <div class="border-top border-gray-300 pt-4 mt-4" *ngIf="totalPrice > 0">
    <div class="d-flex justify-content-end align-items-center">
      <div class="mx-2 fs-7 text-muted">{{ 'TOTAL_KNOWLEDGE_PRICE' | translate }}</div>
      <div class="fs-1 text-gray-600 fw-bolder"> ${{ totalPrice }}</div>
    </div>
  </div>

  <!-- Dialog for Adding/Editing a Document -->
  <p-dialog
    [(visible)]="displayDocumentDialog"
    [header]="headerTitle"
    [modal]="true"
    [style]="{width: '900px'}"
    [dismissableMask]="true"
    (onHide)="closeDialog()">
  
    <div [formGroup]="docForm">
      <!-- File Name -->
      <div class="mb-3">
        <label class="form-label required">
        <ng-container *ngIf="defaultValues.knowledgeType === 'data'">
          {{'NODE_NAME' | translate}}
        </ng-container>
        <ng-container *ngIf="defaultValues.knowledgeType !== 'data'">
          {{'CHAPTER_NAME' | translate}}
        </ng-container>
        </label>
        <input
          type="text"
          pInputText
          formControlName="file_name"
          class="w-100"
          placeholder="Enter File Name"
        />
        <small
          *ngIf="docForm.get('file_name')?.hasError('required') && docForm.get('file_name')?.touched"
          class="text-danger"
        >
          <ng-container *ngIf="defaultValues.knowledgeType === 'data'"> 
            {{'NODE_NAME_REQUIRED' | translate}}
          </ng-container>
          <ng-container *ngIf="defaultValues.knowledgeType !== 'data'">
            {{'CHAPTER_NAME_REQUIRED' | translate}}
          </ng-container>
        </small>
      </div>
  
      <div class="mb-3">
        <label class="form-label required">
          {{'DESCRIPTION' | translate}}
        </label>
        <textarea
          class="form-control "
          formControlName="description"
          rows="3"
          placeholder="{{'ENTER_DESCRIPTION' | translate}}"
        ></textarea>
      </div>
  
      <div class="col-12">
        <div class="form-group mb-5">
          <label class="form-label required">{{ "TABLE_OF_CONTENT" | translate }}</label>
          <div formArrayName="table_of_content">
            <div *ngFor="let chapter of chapters.controls; let i = index" class="mb-3">
              <div [formGroupName]="i">
                <div class="input-group" formGroupName="chapter">
                  <input type="text" 
                         class="form-control" 
                         formControlName="title" 
                         [placeholder]="'ENTER_SUB_CHAPTER_NAME' | translate"
                         [class.is-invalid]="chapters.at(i).get('chapter.title')?.invalid && chapters.at(i).get('chapter.title')?.touched">
                  <button type="button" 
                          class="btn btn-icon btn-light-danger" 
                          (click)="removeChapter(i)"
                          [disabled]="chapters.length === 1">
                    <i class="ki-duotone ki-trash fs-2">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </i>
                  </button>
                </div>
                <div *ngIf="chapters.at(i).get('chapter.title')?.invalid && chapters.at(i).get('chapter.title')?.touched" 
                     class="invalid-feedback d-block">
                  <span *ngIf="chapters.at(i).get('chapter.title')?.errors?.['required']">
                    {{ 'CHAPTER_TITLE_REQUIRED' | translate }}
                  </span>
                  <span *ngIf="chapters.at(i).get('chapter.title')?.errors?.['minlength']">
                    {{ 'CHAPTER_TITLE_MIN_LENGTH' | translate }}
                  </span>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-light-primary" (click)="addChapter()">
              <i class="ki-duotone ki-plus fs-2"></i>
              <ng-container *ngIf="defaultValues.knowledgeType === 'data'">
                {{ "ADD_NODE" | translate }}
              </ng-container>
              <ng-container *ngIf="defaultValues.knowledgeType !== 'data'">
                {{ "ADD_CHAPTER" | translate }}
              </ng-container>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Price Section with Charity Option -->
      <div class="mb-5">
        <label class="form-label required">{{'PRICE_SETTINGS' | translate}}</label>
        
        <!-- Charity Toggle -->
        <div class="form-check form-switch form-check-custom form-check-solid mb-3">
          <input class="form-check-input" 
                 type="checkbox" 
                 formControlName="isCharity" 
                 id="isCharity"/>
          <label class="form-check-label" for="isCharity">
            <span class="fw-bold">{{'MAKE_IT_FREE' | translate}}</span>
            <span class="badge badge-light-success ms-2">{{'CHARITY_MODE' | translate}}</span>
            <span class="text-muted d-block fs-7">{{'FREE_DOCUMENT_DESC' | translate}}</span>
          </label>
        </div>

        <!-- Price Input -->
        <div class="input-group" *ngIf="!docForm.get('isCharity')?.value">
          <span class="input-group-text">
            <i class="ki-duotone ki-dollar fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
            </i>
          </span>
          <input formControlName="price" 
                 type="number" 
                 min="0" 
                 class="form-control" 
                 placeholder="{{ 'ENTER_PRICE' | translate }}" />
        </div>

        <!-- Free Price Display -->
        <div class="border border-info rounded d-flex align-items-center p-5 mx-4 " *ngIf="docForm.get('isCharity')?.value">
          <!-- <i class="ki-duotone ki-information-5 fs-2hx text-success me-4">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i> -->
          <img src="../../../../../assets/media/icons/duotune/abstract/charity.svg" alt="charity" class="mx-4">
          <div class="d-flex flex-column">
            <h4 class="mb-1 text-info">{{'FREE_DOCUMENT' | translate}}</h4>
            <span>{{'FREE_DOCUMENT_MESSAGE' | translate}}</span>
          </div>
        </div>

        <!-- Price Validation Message -->
        <div *ngIf="docForm.get('price')?.invalid && docForm.get('price')?.touched && !docForm.get('isCharity')?.value" 
             class="text-danger">
          {{ 'PRICE_REQUIRED' | translate }}
        </div>
      </div>
  
      <!-- File Upload -->
      <div class="mb-3">
        <label class="form-label required">Upload File</label>
  
        <div *ngIf="previewFilesDialog.length === 0">
          <input
            type="file"
            (change)="onFilesSelectedDialog($event)"
            class="form-control"
            accept=".pdf,.doc,.docx,.ppt,.pptx,.xls,.xlsx,.txt,.jpg,.jpeg,.png,.gif"
          />
        </div>
  
        <!-- File preview section -->
        <div class="mt-3" *ngIf="previewFilesDialog.length > 0">
          <div class="border p-3 d-flex align-items-center justify-content-between" *ngFor="let preview of previewFilesDialog">
            <div>
              <img [src]="preview.icon" 
                   [alt]="preview.type" 
                   style="width: 30px; margin-right: 10px; cursor: pointer;" 
                   (click)="openPreview(preview)"
                   [ngbTooltip]="'Click to open ' + preview.name">
              {{ preview.name }}
              <span *ngIf="preview.size" class="text-muted">{{ preview.size | number }} bytes</span>
            </div>
            <button
              type="button"
              class="btn btn-icon btn-sm btn-danger btn-active-danger"
              (click)="removeFileDialog(preview)">
              <i class="ki-duotone ki-trash fs-2" ><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template pTemplate="footer">
      <button
        type="button"
        class="btn btn-light me-3"
        (click)="closeDialog()">
        <i class="ki-duotone ki-cross fs-2"></i>
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="docForm.invalid || (previewFilesDialog.length === 0 && editingIndex === -1) || isSaving"
        (click)="saveDocument()">
        <ng-container *ngIf="!isSaving">
          <i class="ki-duotone ki-check fs-2"></i>
          Save
        </ng-container>
        <ng-container *ngIf="isSaving">
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          Saving...
        </ng-container>
      </button>
    </ng-template>
  </p-dialog>