.card {
  margin: 1rem;
}

.card-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
}

.field {
  margin-bottom: 1rem;
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

:host ::ng-deep {
  .p-chip {
    margin-right: 0.5rem;
  }
  
  .p-button {
    margin-right: 0.5rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
} 