<div class="region-selector">
  <input
    type="text"
    pInputText
    [placeholder]="placeholder"
    [value]="getSelectedDisplay()"
    readonly
    (click)="showDialog()"
    class="w-100"
  />
</div>

<p-dialog
  [header]="title"
  [(visible)]="dialogVisible"
  [modal]="true"
  [style]="{ width: '60vw' }"
  appendTo="body"
  [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  class="select-region-dialog"
>
  <div class="region-dialog">
    <p-accordion>
      <p-accordionTab *ngFor="let region of regions" [header]="region.name">
        <div class="select-all-container">
          <input
            type="checkbox"
            [checked]="isRegionSelected(region)"
            (change)="toggleSelectRegion(region, $event)"
            id="select-region-{{ region.id }}"
          />
          <label for="select-region-{{ region.id }}">{{ 'SELECT_ALL_COUNTRIES' | translate }}</label>
        </div>
        <div class="countries-container">
        <div class="row">
            <div class="country-item col-12 col-sm-4" *ngFor="let country of region.countries">
              <input
                type="checkbox"
                [checked]="isCountrySelected(country, region)"
                (change)="toggleSelectCountry(region, country, $event)"
                id="select-country-{{ country.id }}"
              />
                <div class="col-sm-6 col-md-4 col-12 mb-2 country-box">
                  <img 
                    [src]="getCountryFlagPath(country.flag)"
                    (error)="onFlagError($event)"
                    [alt]="country.name"
                    class="country-flag"
                  />
                  <label for="select-country-{{ country.id }}">{{ country.name }}</label>
                </div>
            </div>
        </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button 
        class="btn btn-secondary me-2" 
        (click)="dialogVisible = false"
      >{{ 'CANCEL' | translate }}</button>
      <button 
        class="btn btn-primary" 
        (click)="onConfirm()"
        [disabled]="!hasSelections()"
      >{{ 'CONFIRM' | translate }}</button>
    </div>
  </ng-template>
</p-dialog>
