.economic-block-selector {
    width: 100%;
  }
  
  .economic-block-dialog {
    min-height: 200px;
  }
  
  .countries-container {
    margin-top: 1rem;
  }
  
  .countries-grid {
    overflow: auto;
    max-height: 40vh;
  }
  
  .country-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 10px;
      border: 1px solid #f2f8ff;
      border-radius: 7px;
  }
  .country-box{
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .country-flag {
      width: 28px;
      height: 28px;
      object-fit: cover;
      border-radius: 50%;
  }
  
  .country-name {
    font-size: 0.9rem;
  }
  
  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .region-dialog {
    .select-all-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input[type="checkbox"] {
        margin-right: 10px;
      }

      label {
        cursor: pointer;
      }
    }

    .countries-container {
      padding-left: 20px;
      max-height: 40vh;
      overflow: auto;
      .country-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        justify-content: start;
        input[type="checkbox"] {
          margin-right: 10px;
        }

        label {
          cursor: pointer;
        }
      }
    }
  }
  