<div class="bg-white h-xl-100">


    <!--begin::Body-->
    <div class="p-15">       
        <!--begin::Nav-->             
        <ul class="nav nav-pills nav-pills-custom mb-3" role="tablist">
                            <!--begin::Item--> 
                <li class="nav-item mb-3 me-3 me-lg-6 " role="presentation">
                    <!--begin::Link--> 
                    <a class="nav-link  btn btn-outline btn-flex  btn-active-color-primary align-items-center gap-2 overflow-hidden w-140px h-44px p-0  "  data-bs-toggle="pill" href="#kt_stats_widget_6_tab_1" aria-selected="true" role="tab" >
                        <!--begin::Icon-->
                        <div class="nav-icon ps-5 py-2">        
                            <span class="svg-icon  svg-icon-primary"   
                            >
                              <span [inlineSVG]="'assets/media/icons/duotune/files/fil012.svg'" class="svg-icon svg-icon-1" ></span>
                            </span>                                                                                                                                                                 
                        </div>
                        <!--end::Icon-->
                        
                        <!--begin::Title-->
                        <span class="nav-text text-gray-800 fw-bold fs-8 lh-1 pe-5 py-2">
                            Business Owner                        </span> 
                        <!--end::Title-->
                        
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary "></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <!--end::Item--> 
                            <!--begin::Item--> 
                <li class="nav-item mb-3 me-3 me-lg-6" role="presentation">
                    <!--begin::Link--> 
                    <a class="nav-link  btn btn-outline btn-flex  btn-active-color-primary align-items-center gap-2 overflow-hidden w-140px h-44px p-0"    data-bs-toggle="pill" href="#kt_stats_widget_6_tab_2" aria-selected="false" role="tab" tabindex="-1">
                        <!--begin::Icon-->
                        <div class="nav-icon ps-5 py-2">        
                            <span class="svg-icon  svg-icon-success"   
                            >
                              <span [inlineSVG]="'assets/media/icons/duotune/general/gen021.svg'" class="svg-icon svg-icon-1" ></span>
                            </span>                                                                                                                                                          
                        </div>
                        <!--end::Icon-->
                        
                        <!--begin::Title-->
                        <span class="nav-text text-gray-800 fw-bold fs-8 lh-1 pe-5 py-2">
                            Researcher                        </span> 
                        <!--end::Title-->
                        
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <!--end::Item--> 
                            <!--begin::Item--> 
                <li class="nav-item mb-3 me-3 me-lg-6" role="presentation">
                    <!--begin::Link--> 
                    <a class="nav-link  btn btn-outline btn-flex btn-active-color-primary align-items-center gap-2 overflow-hidden w-140px h-44px p-0"  data-bs-toggle="pill" href="#kt_stats_widget_6_tab_3" aria-selected="false" role="tab" tabindex="-1" >
                        <!--begin::Icon-->
                        <div class="nav-icon ps-5 py-2">        
                            <span class="svg-icon  svg-icon-warning"   
                            >
                              <span [inlineSVG]="'assets/media/icons/duotune/communication/com006.svg'" class="svg-icon svg-icon-1" ></span>
                            </span>                                                                                                                                                             
                        </div>
                        <!--end::Icon-->
                        
                        <!--begin::Title-->
                        <span class="nav-text text-gray-800 fw-bold fs-8 lh-1 pe-5 py-2">
                            Individual                        </span> 
                        <!--end::Title-->
                        
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <!--end::Item--> 
                <!--begin::Item--> 
                <li class="nav-item mb-3 me-3 me-lg-6" role="presentation">
                <!--begin::Link--> 
                <a class="nav-link  btn btn-outline btn-flex btn-active-color-primary align-items-center gap-2 overflow-hidden w-140px h-44px p-0"  data-bs-toggle="pill" href="#kt_stats_widget_6_tab_4" aria-selected="false" role="tab" tabindex="-1" >
                    <!--begin::Icon-->
                    <div class="nav-icon ps-5 py-2">        
                        <span class="svg-icon  svg-icon-danger"   
                        >
                            <span [inlineSVG]="'assets/media/icons/duotune/communication/com014.svg'" class="svg-icon svg-icon-1" ></span>
                        </span>                                                                                                                                                             
                    </div>
                    <!--end::Icon-->
                    
                    <!--begin::Title-->
                    <span class="nav-text text-gray-800 fw-bold fs-8 lh-1 pe-5 py-2">
                        All                        </span> 
                    <!--end::Title-->
                    
                    <!--begin::Bullet-->
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                    <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item--> 
                        
        </ul>             
        <!--end::Nav-->
        <!--begin::Tab Content-->
        <div class="tab-content">
                                            <!--begin::Tap pane-->
                <div class="tab-pane fade active show" id="kt_stats_widget_6_tab_1" role="tabpanel">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <app-business-owner-list></app-business-owner-list>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Tap pane-->
                                            <!--begin::Tap pane-->
                <div class="tab-pane fade" id="kt_stats_widget_6_tab_2" role="tabpanel">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <app-business-owner-list></app-business-owner-list>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Tap pane-->
                                            <!--begin::Tap pane-->
                <div class="tab-pane fade" id="kt_stats_widget_6_tab_3" role="tabpanel">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <app-business-owner-list></app-business-owner-list>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Tap pane-->
                <!--begin::Tap pane-->
                <div class="tab-pane fade" id="kt_stats_widget_6_tab_4" role="tabpanel">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <app-business-owner-list></app-business-owner-list>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
                    </div>
        <!--end::Tab Content-->        
    </div>
    <!--end: Card Body-->
</div>