:host {
  height: 100%;
}
.sign-in-bg{
  background-image: url('../../../assets/media/images/2600x1200/bg-10.png');
background-size: cover;
}
.switch-lang{
  position: absolute;
  top: 20px;
  z-index: 10;
}
