<!-- 

<div class="d-flex align-items-center justify-content-center flex-grow-1 bg-center bg-no-repeat sign-in-bg page-bg"
>

<div class="card w-lg-400px">
  <router-outlet></router-outlet>
</div>
</div> -->
<div class="switch-lang">
  <app-lang-switch-button></app-lang-switch-button>
</div>
<a routerLink="/">
<div class="back-btn">

 <i class="ki-duotone ki-left-square text-gray-600 fs-2tx"><span class="path1"></span><span class="path2"></span></i>
</div>
</a>
<router-outlet></router-outlet>
