<div class="row mb-8">
    <!--begin::Col-->
  <div class="col-xl-3">
    <div class="fs-6 fw-medium mt-2 mb-3">Case Publish Fee</div>
  </div>
  <!--end::Col-->
  
  <!--begin::Col-->
  <div class="col-xl-3">
    <!--begin::Dialer-->
    <div
      class="position-relative w-md-300px"
      data-kt-dialer="true"
      data-kt-dialer-min="10"
      data-kt-dialer-max="50000"
      data-kt-dialer-step="1000"
      data-kt-dialer-prefix="$"
      data-kt-dialer-decimals="2"
    >
      <span
        class="position-absolute px-4 pt-4 svg svg-icon svg-icon-2 svg-icon-primary"
        [inlineSVG]="'./assets/media/icons/duotune/finance/fin010.svg'"
      ></span>
      <!--begin::Input control-->
      <input
        type="number"
        class="form-control form-control-solid border-0 ps-12"
        data-kt-dialer-control="input"
        placeholder="Amount"
        name="manageBudget"
        readonly=""
        value="100"
      />
      <!--end::Input control-->
    </div>
    <!--end::Dialer-->
  </div>
  <!--end::Col-->
  <div class="col-xl-2"></div>
  <div class="col-xl-4">
    <!--begin::Card footer-->
    <div class="d-flex justify-content-end py-6">
      <button
        type="reset"
        class="btn btn-sm btn-light btn-active-light-primary me-2"
      >
        Discard
      </button>
      <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
    </div>
    <!--end::Card footer-->
  </div>
  
  </div>
  