<!-- Table of Content Component -->
<form [formGroup]="tocForm" >
    <!--begin::Repeater-->
    <div id="kt_docs_repeater_nested">
        <!--begin::Form group-->
        <div formArrayName="chapters" >
            <div *ngFor="let chapter of chapters.controls; let i = index" [formGroupName]="i" class="form-group mb-4" >
                <div class="form-group row mb-6" >
                    <!-- Chapter Name -->
                    <div class="col-md-4">
                        <label class="form-label">{{ 'CHAPTER' | translate }} {{ i+1 }}:</label>
                        <input formControlName="name" class="form-control mb-2 mb-md-0" placeholder="{{ 'ENTER_CHAPTER_NAME' | translate }}" />
                        <div *ngIf="chapter.get('name')?.invalid && chapter.get('name')?.touched" class="text-danger">
                           {{'CHAPTER_NAME_REQUIRED' | translate}}
                        </div>
                    </div>
                    <!-- Chapter Page Index -->
                    <div class="col-md-2">
                        <label class="form-label">{{ 'PAGE_INDEX' | translate }}:</label>
                        <input formControlName="index" type="number" min="0" class="form-control" placeholder="{{ 'INDEX' | translate }}" />
                        <div *ngIf="chapter.get('index')?.invalid && chapter.get('index')?.touched" class="text-danger">
                            {{ 'PAGE_INDEX_REQUIRED' | translate }}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="col-md-6 d-flex align-items-end actions-responsive">
                        <button type="button" class="btn btn-light-warning mx-2" (click)="addSubChapter(i)">
                            <i class="ki-duotone ki-plus fs-5"></i> {{ 'SUB_CHAPTER' | translate }}
                        </button>
                        <button type="button" class="btn btn-light-danger mx-2" (click)="removeChapter(i)">
                            <i class="ki-duotone ki-trash fs-5" ><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                        </button>
                    </div>
                </div>
                <!-- Sub Chapters -->
                <div formArrayName="subChapters" class="ms-4">
                    <div *ngFor="let subChapter of getSubChapters(i).controls; let j = index" [formGroupName]="j" class="form-group row mb-6" >
                        <!-- Sub Chapter Name -->
                        <div class="col-md-4">
                            <label class="form-label">{{ 'SUB_CHAPTER' | translate }} {{j+1}} {{ 'NAME' | translate }}:</label>
                            <input formControlName="name" class="form-control" placeholder="{{ 'ENTER_SUB_CHAPTER_NAME' | translate }}" />
                            <div *ngIf="subChapter.get('name')?.invalid && subChapter.get('name')?.touched" class="text-danger">
                                {{ 'SUB_CHAPTER_NAME_REQUIRED' | translate }}
                            </div>
                        </div>
                        <!-- Sub Chapter Page Index -->
                        <div class="col-md-2">
                            <label class="form-label">{{ 'PAGE_INDEX' | translate }}:</label>
                            <input formControlName="index" type="number" min="0" class="form-control" placeholder="{{ 'INDEX' | translate }}" />
                            <div *ngIf="subChapter.get('index')?.invalid && subChapter.get('index')?.touched" class="text-danger">
                                {{ 'PAGE_INDEX_REQUIRED' | translate }}
                            </div>
                        </div>
                        <!-- Sub Chapter Actions -->
                        <div class="col-md-6 d-flex align-items-end">
                            <button type="button" class="btn btn-light-danger" (click)="removeSubChapter(i, j)">
                                <i class="ki-duotone ki-trash fs-5" ><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button to Add Chapter -->
            <div class="form-group d-flex justify-content-end " >
                <button type="button" class="btn btn-flex btn-light-info" (click)="addChapter()">
                    <i class="ki-duotone ki-plus fs-3"></i>
                    {{ 'ADD_CHAPTER' | translate }}
                </button>
            </div>
        </div>
        <!--end::Form group-->
    </div>
    <!--end::Repeater-->

    <!-- Submit Button -->
  
</form>
