
<div class="row h-100vh gap pt-res-100 justify-content-center bg-light">
  <div class="  first-block rounded ">
    <div class="d-flex    ms-auto flex-column p-4 mil-up">
      <a href="/" class="w-100px">
        <img
          class="h-100 w-60px"
          src="./../../../../assets/media/logos/light-logo-sm.svg"
        />
      </a>
      <div class="mt-4">
        <h3 class="h4 font-weight-bolder text-dark fs-1 fw-bold py-2">
          {{ 'AUTH.LOGIN.WELCOME_LOGIN' | translate }}
        </h3>
        <p class="text-gray-600 fs-4" [innerHTML]="'AUTH.LOGIN.EMPOWER_INSIGHTS_TEXT' | translate">
        </p>
      </div>
    </div>
  </div>
  
  <div
    class=" second-block "
  >
    <div class="w-lg-500px mil-up">
    
      <form class="form w-100 " [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
      (ngSubmit)="submit()">
      <!--begin::Heading-->
    
      <!--end::Heasding-->
      
      <!--begin::Login options-->
      <!-- <div class="row g-3 mb-9">
      
        <div class="col-md-6">
      
          <a href="#"
            class="btn fs-7 btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
            <img alt="Logo" src="./assets/media/svg/brand-logos/google-icon.svg" class="h-15px mx-3" />
            {{ 'AUTH.LOGIN.USE_GOOGLE' | translate }}
          </a>
      
        </div>
      
        <div class="col-md-6">
      
          <a href="#"
            class="btn fs-7 btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
            <img alt="Logo" src="./assets/media/svg/brand-logos/linkedin-2.svg" class="theme-light-show h-15px mx-3" />
            <img alt="Logo" src="./assets/media/svg/brand-logos/linkedin-2.svg" class="theme-dark-show h-15px mx-3" />
            {{ 'AUTH.LOGIN.USE_LINKEDIN' | translate }}
          </a>
      
        </div>
      
      </div> -->
      <!--end::Login options-->
      
      <!--begin::Separator-->
      <!-- <div class="separator separator-content my-8">
        <span class="w-125px text-gray-500 fw-semibold fs-7">{{ 'AUTH.LOGIN.OR_WITH_EMAIL' | translate }}</span>
      </div> -->
      <!--end::Separator-->
      
      <!-- begin::Alert info-->
      <!-- <ng-container *ngIf="!hasError">
        <div class="mb-10 bg-light-info p-8 rounded">
          <div class="text-info">
            Use account <strong>{{ defaultAuth.email }}</strong> and password
            <strong>{{ defaultAuth.password }}</strong> to continue.
          </div>
        </div>
      </ng-container> -->
      <!-- end::Alert info-->
      
      
      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            {{ 'AUTH.LOGIN.ERROR' | translate }}
          </div>
        </div>
      </ng-container>
      <!-- end::Alert error-->
      
      <!--begin::Form group-->
      <div class="fv-row mb-8">
        <label class="form-label fs-6  text-gray-900">{{ 'AUTH.LOGIN.EMAIL_LABEL' | translate }}</label>
        <input class="form-control bg-transparent" type="email" name="email" formControlName="email" autocomplete="off"
          [ngClass]="{
            'is-invalid': loginForm.controls['email'].invalid  &&
                 ( loginForm.controls['email'].dirty ||
                    loginForm.controls['email'].touched),
            
          }" />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'AUTH.LOGIN.EMAIL_REQUIRED' | translate,
            control: loginForm.controls['email']
          }"></ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'AUTH.LOGIN.EMAIL_INVALID' | translate,
            control: loginForm.controls['email']
          }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minLength',
            message: 'AUTH.LOGIN.EMAIL_MINLENGTH' | translate,
            control: loginForm.controls['email']
          }"></ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'AUTH.LOGIN.EMAIL_MAXLENGTH' | translate,
            control: loginForm.controls['email']
          }"></ng-container>
      </div>
      <!--end::Form group-->
      
      <!--begin::Form group-->
    
      <div class="fv-row mb-3 position-relative">
      
      <label class="form-label text-gray-900 fs-6 mb-0">{{ 'AUTH.LOGIN.PASSWORD_LABEL' | translate }}</label>
      
      <input class="form-control bg-transparent" type="password" name="password" autocomplete="off" 
        formControlName="password" #passwordField [ngClass]="{
            'is-invalid': loginForm.controls['password'].invalid &&
                  (loginForm.controls['password'].dirty ||
                    loginForm.controls['password'].touched),
          }" />
      
      <!-- Eye Toggler Icon -->
      <!-- <button
      type="button"
      class="btn position-absolute"
      (click)="togglePasswordVisibility(passwordField)"
      [style.top]="'30%'"
      [style.right]="isRTL ? null : '15px'" 
      [style.left]="isRTL ? '15px' : null"
   
    >
      <i [ngClass]="passwordVisible ? 'bi-eye' :  'bi-eye-slash'"></i>
    </button>
   -->
      
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'AUTH.LOGIN.PASSWORD_REQUIRED' | translate,
      control: loginForm.controls['password']
      }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'minlength',
      message: 'AUTH.LOGIN.PASSWORD_MINLENGTH' | translate,
      control: loginForm.controls['password']
      }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'maxLength',
      message: 'AUTH.LOGIN.PASSWORD_MAXLENGTH' | translate,
      control: loginForm.controls['password']
      }"></ng-container>
      
      </div>
      <!--end::Form group-->
      
      <!--begin::Wrapper-->
      <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
        <div></div>
      
        <!--begin::Link-->
        <a routerLink="/auth/password-reset" class="link-primary">
          {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}</a>
        <!--end::Link-->
      </div>
      <!--end::Wrapper-->
     
      <!--begin::Action-->
      <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="loginForm.invalid">
          <ng-container *ngIf="isLoading$ | async">
            <span class="indicator-progress" [style.display]="'block'">
              {{ 'AUTH.LOGIN.PLEASE_WAIT' | translate }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="(isLoading$ | async) === false">
            <span class="indicator-label">{{ 'AUTH.LOGIN.CONTINUE' | translate }}</span>
          </ng-container>
        </button>
        <p-messages [(value)]="messages" [enableService]="false"></p-messages>
      </div>
      
      
      
      <!--end::Action-->
      </form>

      <div class="text-center mb-5">
       
        <!--begin::Subtitle-->
        <div class="fs-6 text-gray-500 fw-semibold fs-6">
          {{ 'AUTH.LOGIN.NEED_ACCOUNT' | translate }}
         <a routerLink="/auth/sign-up" class="text-primary"> {{ 'AUTH.LOGIN.SIGN_UP' | translate }}</a>
        </div>
        
      </div>
      <!--end::Form-->
      
      <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </ng-container>
      </ng-template>
    </div>
  </div>

</div>



