<p-progressBar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
  [style]="{ height: '4px' }"
></p-progressBar>
  <div id="kt_app_toolbar" class="app-toolbar pt-10 mb-0">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
      <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
        <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
          <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0">
            Regions
          </h1>
          <div class="fw-semibold fs-7 my-0 text-muted">{{ listOfRegions.length }} Regions</div>
        </div>

        <div class="d-flex align-items-center gap-2 gap-lg-3">
          <a (click)="showDialog()" class="btn btn-md btn-flex btn-primary">
            <i class="ki-outline ki-plus text-white fs-4"></i>
            Create
          </a>
          <p-dialog [header]="isEditMode ? 'Edit Region' : 'Add Region'" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
            <p-messages *ngIf="hasErrorMessage" [(value)]="messages" [enableService]="false"></p-messages>
            <span class="text-muted mb-3 d-block">{{ isEditMode ? 'Edit Region Details' : 'Add Region Details' }}.</span>

            <form [formGroup]="regionForm">
              <div class="mb-3 row">
                <label for="regionEn" class="col-sm-3 col-form-label">Name (English)</label>
                <div class="col-sm-9">
                  <input pInputText id="regionEn" class="form-control" formControlName="regionEn" autocomplete="off" />
                  <div *ngIf="regionEn?.invalid && (regionEn?.dirty || regionEn?.touched)">
                    <div *ngIf="regionEn?.errors?.required" class="text-danger">
                      English Name is required.
                    </div>
                    <div *ngIf="regionEn?.errors?.serverError" class="text-danger">
                      {{ regionEn?.errors?.serverError }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="regionAr" class="col-sm-3 col-form-label">Name (Arabic)</label>
                <div class="col-sm-9">
                  <input pInputText id="regionAr" class="form-control" formControlName="regionAr" autocomplete="off" />
                  <div *ngIf="regionAr?.invalid && (regionAr?.dirty || regionAr?.touched)">
                    <div *ngIf="regionAr?.errors?.required" class="text-danger">
                      Arabic Name is required.
                    </div>
                    <div *ngIf="regionAr?.errors?.serverError" class="text-danger">
                      {{ regionAr?.errors?.serverError }}
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="d-flex justify-content-end gap-2">
              <button
                type="submit"
                [disabled]="regionForm.invalid || (isLoading$ | async)" (click)="submit()" class="btn btn-primary btn-sm"
              >
                <ng-container *ngIf="(isLoading$ | async) === false">
                  <span class="indicator-label">Save</span>
                </ng-container>
                <ng-container *ngIf="isLoading$ | async">
                  <span class="indicator-progress" [style.display]="'block'">
                    Please wait
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </ng-container>
              </button>
              <button (click)="onCancel()" class="btn btn-outline-secondary btn-sm">
                Cancel
              </button>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="(isLoading$ | async) === false && listOfRegions.length >0">

  <div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">
      <div class="card">
        <div class="card-header border-0 pt-6">
          <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
              <i class="pi pi-search fs-3 position-absolute ms-5"></i>
              <input
                type="text"
                pInputText
                class="form-control  w-250px ps-12"
                placeholder="Search Regions"
                (input)="applyFilter($event)"
              />
            </div>
          </div>

          <div class="card-toolbar">
            <!-- Toolbar content can be added here if needed -->
          </div>
        </div>

        <div class="card-body pt-0">
          <p-messages *ngIf="hasSuccessMessage" [(value)]="messages" [enableService]="false"></p-messages>
          <p-table
            #dt
            [value]="listOfRegions"
            [paginator]="true"
            [rows]="10"
            [globalFilterFields]="['name', 'names.en', 'names.ar']"
            class="table-p"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Name (English)</th>
                <th>Name (Arabic)</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-region>
              <tr>
                <td>{{ region.name }}</td>
                <td>{{ region.names.en }}</td>
                <td>{{ region.names.ar }}</td>
                <td>
                  <a
                    pTooltip="Edit Region"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    (click)="editRegion(region)"
                  >
                    <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                  </a>
                  <a
                    pTooltip="Delete Region"
                    tooltipPosition="top"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                    (click)="deleteRegion(region.id)"
                  >
                    <i class="ki-duotone ki-trash fs-2">
                      <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                      <span class="path4"></span><span class="path5"></span>
                    </i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(isLoading$ | async) === false && listOfRegions.length ===0">
  <div class="d-flex align-items-center justify-content-center h-400px text-muted">
    No Available Data
  </div>
  </ng-container>
  