
.home-waves{
    background-image: url('../../../../assets/media/images/2600x1200/home-waves.webp');
    height: 260px;
    width: 100%;
    background-position: 41% 32%;
    background-repeat: no-repeat;
    background-size: 140%;
    position: relative;
}
.search-bar-container{
    width: 100%;
    max-width: 628px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media screen and (max-width:1200px) {
        padding: 0 40px;
     }
     @media screen and (max-width:400px) {
        padding: 0 10px;
     }
}
.search-bar{
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    padding: 18px;
}
form{
    width: 100%;
}
input{
    width: 100%;
    border: none !important;
    background: none !important;
    &:focus{
        border: none !important;
        outline: none !important;
    }
    &:focus-visible{
        border: none !important;
        outline: none !important;
    }
    &:active{
        border: none !important;
        outline: none !important;
    }
}
.main-title{
    font-size: 32px;
    color: #000;
    text-align: center;
    @media screen and (max-width:762px) {
        font-size: 25px;
    }
}
.subtitle{
    font-size: 14px ;
    color: #6E6D7A;
    line-height: 2;
    max-width: 550px;
    @media screen and (max-width:762px) {
       padding: 0 40px;
    }
}
.slider{
    position: relative;
}

.white-blur{
    position: absolute;
    width: 100px;
    height: 50px;
    right: 0;
    z-index: 1;
    bottom: 30px;
    background: rgb(0,0,1);
    background: -moz-linear-gradient(94deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
    background: -webkit-linear-gradient(94deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
    background: linear-gradient(94deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000001",endColorstr="#fcfcfc",GradientType=1);

}
.white-blur-2{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    z-index: 1;
    bottom: 30px;
    background: rgb(0,0,1);
background: -moz-linear-gradient(270deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
background: -webkit-linear-gradient(270deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
background: linear-gradient(270deg, rgba(0,0,1,0) 0%, rgba(252,252,252,1) 54%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000001",endColorstr="#fcfcfc",GradientType=1);

}
.discover-container {
    display: flex;
    padding: 10px 20px;
    overflow: scroll;
    width: 90%;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
swiper-container {
    width: 100%; /* Ensure container width is 100% */
    display: block;
  }
  
  swiper-slide {
    width: auto; /* Ensure each slide's width fits its content */
    flex-shrink: 0; /* Prevent shrinking of the slides */
  }
  .custom-prev,
.custom-next {
  cursor: pointer;
  background: none;
  border: none;
  width: 20px;
 &:hover{
    background: none;
  }
}

.custom-prev{
    position: absolute;
  
    left: 40px;
    top: 33px;
   
    z-index: 10;
}

.custom-next{
    position: absolute;
    right: 40px;
    top: 33px;
    z-index: 10;
}

.nav-item {
    padding: 10px 15px;
    margin: 0px 10px;
    min-width: fit-content;
    text-decoration: none;
    color: #000; /* Adjust text color as needed */
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.nav-item:hover {
    background-color: #f7f7f7; /* Light hover background */
}

.nav-item.active {
    background-color: #f0f0f0; /* Active item background */
}
.text-hover-underline:hover{
    text-decoration: underline !important;
}


#search::placeholder{
    font-size: 14px ;
    font-weight: 400;
}
#search{
    font-size: 18px ;
    font-weight: 600;
}
