<!-- Payment Header Section -->

  <div class="section-header px-4 sm:px-6 lg:px-8 py-8 relative overflow-hidden rounded-lg" >
    <img
      alt="Section background"
      src="https://res.cloudinary.com/dsiku9ipv/image/upload/v1737266454/breadcrumb-bg-2_anwto8.png"
      class="object-cover z-0 position-absolute top-0 left-0 w-100 h-100"
      style="object-fit: cover;">
    
    <!-- Decorative Stripe Pattern -->
    <div class="position-absolute z-10 d-none d-md-block"
         style="left: 28%; transform: translateX(-50%); top: 0; pointer-events: none;">
      <img
        class="opacity-50"
        src="assets/media/misc/stripes-dark.svg"
        width="768"
        height="768"
        style="width: auto; height: auto; max-width: none;"
        alt="Stripes"
      />
    </div>
    <div style="padding-top:50px">
    <div class="position-relative z-10 max-w-6xl mx-auto mt-5 w-100">
      <!-- Header Content -->
      <div class="text-center mb-4">
        <h1 class="display-4 fw-bolder mb-3 text-info">
          {{ title }}
        </h1>
        <p class="lead mb-4 text-info">
          {{ subtitle }}
        </p>
      </div>
    </div>
  </div>
 </div>
