<p-progressBar *ngIf="loadingProfile" mode="indeterminate" [style]="{ height: '4px' }"></p-progressBar>
<ng-container *ngIf="!loadingProfile" >
  <div class="card" *ngIf="profile">
  <div class="card-header">
    <h3 class="card-title">{{ 'PROFILE.GENERAL_INFO' | translate }}</h3>
  </div>
  <div class="card-body py-3">
    <table class="table">
      <tbody>
        <tr *ngIf="profile.company">
          <td class="py-2 text-body fw-normal" style="min-width: 7rem;">
              Photo
          </td>
          <td class="py-2 ">
            <div class="image-input image-input-circle mb-4"  [style.backgroundImage]="getLogoBackgroundImage()" >
                <!--begin::Image preview wrapper-->
    <div class="image-input-wrapper border-1 border-success w-70px h-70px" [style.backgroundImage]="getLogoBackgroundImage()"></div>
    <!--end::Image preview wrapper-->

    <!--begin::Edit button-->
    <label 
      class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
      title="Change avatar"
    >
      <i class="ki-duotone ki-pencil fs-6">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>

      <!--begin::Input-->
      <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)" class="d-none" />
      <!--end::Input-->
    </label>

            </div>
          </td>
      </tr>
        <tr *ngIf="profile.company && profile.company.legal_name">
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.COMPANY_NAME' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.company.legal_name }}
          </td>
        </tr>
        <tr *ngIf="profile.company && profile.company.website">
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.WEBSITE' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.company.website }}
          </td>
        </tr>
        <tr>
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.FIRST_NAME' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.first_name }}
          </td>
        </tr>
        <tr>
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.LAST_NAME' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.last_name }}
          </td>
        </tr>
        <tr>
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.EMAIL' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.email }}
          </td>
        </tr>
        <tr *ngIf='profile.phone'>
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'ACCOUNT_SETTINGS.PHONE_NUMBER' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.phone }}
          </td>
        </tr>
      
        <tr *ngIf="profile.roles.includes('insighter') || profile.roles.includes('company')">
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.ROLES' | translate }}
          </td>
          <td class="small text-dark pb-3">
            <span
              *ngFor="let role of profile.roles"
              class=" fw-bold fs-7"
              
            >
              <ng-container *ngIf="role === 'insighter'">
                {{ "HOME.INSIGHTER" | translate }}
              </ng-container>
              <ng-container *ngIf="role === 'company'">
                {{ "HOME.COMPANY" | translate }}
              </ng-container>
              
            </span>
          </td>
        </tr>
        <tr>
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
            {{ 'PROFILE.COUNTRY' | translate }}
          </td>
          <td class="small text-dark pb-3">
            {{ profile.country }}
          </td>
        </tr>
        <tr *ngIf="profile.roles.includes('insighter') || profile.roles.includes('company')">
          <td class="small text-muted pb-3 pe-4 pe-lg-5">
           {{'PROFILE.SOCIAL_MEDIA' | translate}}
          </td>
          <td class="small text-dark pb-3">
            <div class="d-flex gap-3">
            <ng-container *ngIf="profile.roles.includes('insighter')">
              <a *ngFor="let social of profile.social" 
              [href]="social.link" 
              target="_blank" 
              class="text-decoration-none">
               <img [src]="'assets/media/svg/social-logos/' + social.type + '.svg'"
                    [alt]="social.type"
                    width="30"
                    height="30">
           </a>
            </ng-container>
            <ng-container *ngIf="profile.roles.includes('company')">
              <a *ngFor="let social of profile.company?.social" 
              [href]="social.link" 
              target="_blank" 
              class="text-decoration-none">
               <img [src]="'assets/media/svg/social-logos/' + social.type + '.svg'"
                    [alt]="social.type"
                    width="30"
                    height="30"></a>
            </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="card my-4"
  *ngIf="profile && (profile.company?.about_us)"
>
<div class="card-header">
  <h3 class="card-title">
    <ng-container *ngIf="profile.company && profile.company.about_us">
      {{ 'PROFILE.ABOUT_COMPANY' | translate }}
    </ng-container>

  </h3>
</div>
<div class="card-body py-3">

  <!-- About Company Account-->
  <div *ngIf="profile.company && profile.company.about_us" class="mb-6">
    <p class="text-sm text-gray-800 leading-5.5">
      {{ profile.company.about_us }}
    </p>
  </div>
</div>
</div>

<div
  class="card my-4"
  *ngIf="profile.bio"
>
<div class="card-header">
  <h3 class="card-title">
    <ng-container >
      {{ 'ACCOUNT_SETTINGS.BIO' | translate }}
    </ng-container>
  
  </h3>
</div>
<div class="card-body py-3">
  <!-- About Insighter Account -->
  <div *ngIf="profile.bio" class="mb-6">
    <p class="text-sm text-gray-800 leading-5.5">
      {{ profile.bio }}
    </p>
  </div>

</div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card my-4" *ngIf="profile && profile.consulting_field && profile.consulting_field.length>0">
      <div class="card-header">
       
        <h3 class="card-title">
         
          {{ 'PROFILE.CONSULTING_FIELDS' | translate }}</h3>
      </div>
      <div class="card-body py-3">
        <div class="d-flex gap-2 flex-wrap">
          <span
            *ngFor="let field of profile.consulting_field"
            class="badge-outline-gray fs-7 my-2"
          >
            <ng-container *ngIf="lang === 'ar'">
              {{ field.name }}
            </ng-container>
            <ng-container *ngIf="lang === 'en'">
              {{ field.name }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card my-4" *ngIf="profile && profile.industries && profile.industries.length>0">
      <div class="card-header">
        <h3 class="card-title">{{ 'PROFILE.INDUSTRIES' | translate }}</h3>
      </div>
      <div class="card-body py-3">
        <div class="d-flex gap-2 flex-wrap">
          <span
            *ngFor="let isic of profile.industries"
            class="badge-outline-gray fs-7 my-2"
          >
            <ng-container *ngIf="lang === 'ar'">
              {{ isic.name }}
            </ng-container>
            <ng-container *ngIf="lang === 'en'">
              {{ isic.name }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
    
  </div>
</div>
</ng-container>
