.offer-bg {
    background-image: url('/assets/media/images/2600x1200/bg-4.png');
    background-size: cover;
    background-position: center;
    border-style: dashed; 
    background-size: 750px;
    min-height: 100%;
}
.b-color{
    border-color: #ffd19496;
    
}