<p-toast></p-toast>
<div
*ngIf="!onPendingMessage && !onSuccessMessage"
  class="
    stepper stepper-pills stepper-column
    d-flex
    flex-column flex-xl-row flex-row-fluid
  " id="kt_create_account_stepper">
  
  <!--begin::Aside-->
  <div
    class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-350px me-9">
    <div class="px-6 px-lg-10 px-xxl-15 py-20">
      <div class="stepper-nav">
        
        <!-- Step 1 -->
        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }">
          <div class="stepper-wrapper">
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check"></i>
              <span class="stepper-number">1</span>
            </div>
            <div class="stepper-label">
              <h3 class="stepper-title">
                {{ 'INSIGHTER_WIZARD.ACCOUNT_TYPE' | translate }}
              </h3>
              <div class="stepper-desc fw-semibold">
                {{ 'INSIGHTER_WIZARD.ACCOUNT_DETAILS_DESC' | translate }}
              </div>
            </div>
          </div>
          <div class="stepper-line h-40px"></div>
        </div>
        
        <!-- Step 2 -->
        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 2,
            completed: currentStep$.value > 2
          }">
          <div class="stepper-wrapper">
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check"></i>
              <span class="stepper-number">2</span>
            </div>
            <div class="stepper-label">
              <h3 class="stepper-title">
                {{ 'INSIGHTER_WIZARD.ACCOUNT_INFO' | translate }}
              </h3>
              <div class="stepper-desc fw-semibold">
                {{ 'INSIGHTER_WIZARD.ACCOUNT_INFO_DESC' | translate }}
              </div>
            </div>
          </div>
          <div class="stepper-line h-40px"></div>
        </div>
        
        <!-- Step 3 -->
        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 3,
            completed: currentStep$.value > 3
          }">
          <div class="stepper-wrapper">
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check"></i>
              <span class="stepper-number">3</span>
            </div>
            <div class="stepper-label">
              <h3 class="stepper-title">
                {{ 'INSIGHTER_WIZARD.CERTIFICATES' | translate }}
              </h3>
              <div class="stepper-desc fw-semibold">
                {{ 'INSIGHTER_WIZARD.CERTIFICATES_DESC' | translate }}
              </div>
            </div>
          </div>
          <div class="stepper-line h-40px" *ngIf="account$.value.accountType === 'corporate'"></div>
        </div>
        
        <!-- Step 4 (Conditional) -->
        <div class="stepper-item" *ngIf="account$.value.accountType === 'corporate'" [ngClass]="{ current: currentStep$.value === 5, completed: currentStep$.value > 5 }">
          <div class="stepper-wrapper">
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check"></i>
              <span class="stepper-number">4</span>
            </div>
            <div class="stepper-label">
              <h3 class="stepper-title">{{ 'INSIGHTER_WIZARD.VERIFY_ACCOUNT' | translate }}</h3>
              <div class="stepper-desc fw-semibold">{{ 'INSIGHTER_WIZARD.VERIFY_ACCOUNT_DESC' | translate }}</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--end::Aside-->
  
  <!--begin::Content-->
  <div class="d-flex flex-row-fluid flex-center bg-body rounded">
    <form class="py-20 w-100 w-xl-700px px-9" noValidate id="kt_create_account_form">
      <p-messages [(value)]="messages" [enableService]="false"></p-messages>
      <div class="current">
        
        <!-- Step 1 Content -->
        <ng-container *ngIf="currentStep$.value === 1">
          <app-step1 class="w-100" [updateParentModel]="updateAccount" [defaultValues]="account$.value"></app-step1>
        </ng-container>
        
        <!-- Step 2 Content -->
        <ng-container *ngIf="currentStep$.value === 2">
          <app-step2 class="w-100" [updateParentModel]="updateAccount" [defaultValues]="account$.value"></app-step2>
        </ng-container>
        
        <!-- Step 3 Content -->
        <ng-container *ngIf="currentStep$.value === 3">
          <app-step3 class="w-100" [updateParentModel]="updateAccount" [defaultValues]="account$.value"></app-step3>
        </ng-container>
        
        <!-- Step 4 Content (Conditional) -->
        <ng-container *ngIf="currentStep$.value === 4">
          <app-step5 class="w-100" [updateParentModel]="updateAccount" [defaultValues]="account$.value"></app-step5>
        </ng-container>
        
      </div>
      
      <div class="d-flex flex-stack pt-10">
        
        <!-- Back Button Section -->
        <div class="mr-2">
          <ng-container *ngIf="currentStep$.value !== 1">
            <button 
              type="button" 
              class="btn btn-lg btn-light-primary me-3" 
              (click)="prevStep()"
            >
              {{ 'INSIGHTER_WIZARD.BACK' | translate }}
            </button>
          </ng-container>
        </div>
        
        <!-- Continue/Submit Button Section -->
        <ng-container *ngIf="(currentStep$ | async) !== (formsCount$ | async)">
          <div>
            <button
              type="button"
              class="btn btn-lg btn-primary me-3"
              [disabled]="!isCurrentFormValid$.value || (isLoadingSubmit$ | async)"
              (click)="nextStep()"
            >
              <span class="indicator-label">
                {{ 'INSIGHTER_WIZARD.CONTINUE' | translate }}
              </span>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="(currentStep$| async) === (formsCount$ | async) ">
          <div>
            <button
              type="button"
              class="btn btn-lg btn-primary me-3"
              [disabled]="!isCurrentFormValid$.value || (isLoadingSubmit$ | async)"
              (click)="submit()"
            >
              <span class="indicator-label">
                {{ 'INSIGHTER_WIZARD.SUBMIT' | translate }}
              </span>
            </button>
          </div>
        </ng-container>
        
      </div>
    </form>
  </div>
  <!--end::Content-->
</div>

<div class="w-400px w-xl-800px m-auto" *ngIf="onSuccessMessage">
  <div class="card ">
    <div class="card-body p-9">
      <div class="d-flex flex-column align-items-center ">
        <lottie-player src="https://lottie.host/31b881d5-a1dc-4fa4-a360-61ddfc81f77d/6tberhm4xq.json" background="##fff" speed="1" style="width: 150px; height: 150px" loop autoplay direction="1" mode="normal"></lottie-player>
        <div class=" p-4">
          <div class="text-primary text-center fs-1 my-5 fw-bold ">
            {{ 'CONGRATS_CARD.TITLE' | translate }}
          </div>
          <div class="fs-5 ">
            <p class="text-inline-start">
              {{ 'CONGRATS_CARD.DESCRIPTION' | translate }}
            </p>
            
            <ul class="text-inline-start">
              <li>
                <strong class="text-primary">{{ 'CONGRATS_CARD.FEATURES.UPLOAD_INSIGHTS' | translate }}</strong> {{ 'CONGRATS_CARD.FEATURES.UPLOAD_INSIGHTS_DESC' | translate }}
              </li>
              <li>
                <strong class="text-primary">{{ 'CONGRATS_CARD.FEATURES.MANAGE_INSIGHTERS' | translate }}</strong> {{ 'CONGRATS_CARD.FEATURES.MANAGE_INSIGHTERS_DESC' | translate }}
              </li>
            </ul>
            
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" routerLink="/app/insighter-dashboard/my-knowledge/general">
                {{ 'CONGRATS_CARD.BUTTON' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-400px w-xl-800px m-auto" *ngIf="onPendingMessage">
  <div class="card">
    <div class="card-body p-9">
      <div class="d-flex flex-column align-items-center">
        <div class="text-center p-4">
          <div>
            <img src="./assets/media/svg/general/waiting-account.svg" alt="waiting-account" class="w-100px">
          </div>
          <div class="text-warning fs-1 my-5 fw-bold">
            {{ 'ACCOUNT_PENDING.TITLE' | translate }}
          </div>
          <div class="fs-5 ">
            <p class="text-inline-start">
              {{ 'ACCOUNT_PENDING.MESSAGE1' | translate }}
            </p>
            <p class="text-inline-start">
              {{ 'ACCOUNT_PENDING.MESSAGE2' | translate }}
            </p>
            
            <div class="d-flex justify-content-center mt-4">
              <a href="/support" class="btn btn-secondary">
                {{ 'ACCOUNT_PENDING.BUTTON' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
