<p-toast></p-toast>

<div class="bg-custom"></div>
<div class="content-wrapper">
  <div class="breadcrumb-bg" *ngIf="knowledge">
    <div class="container">
      <!-- Breadcrumb -->
      <div class="d-flex align-items-center pt-10 mb-70">
        <ul
          class="breadcrumb breadcrumb-separatorless d-flex align-items-center gap-2"
        >
          <li
            class="breadcrumb-item text-gray-800 lh-1 d-flex align-items-center"
          >
            <a
              [routerLink]="['/']"
              class="text-gray-700 text-hover-info d-flex align-items-center gap-2"
            >
              <i class="ki-outline ki-home text-gray-700 fs-3"></i>
            </a>
            <i
              class="ki-outline {{
                lang === 'ar' ? 'ki-left' : 'ki-right'
              }} fs-4 text-gray-700 ms-2"
            ></i>
          </li>
          <li
            class="breadcrumb-item text-gray-800 lh-1 d-flex align-items-center"
          >
            <a
              [routerLink]="['/app/insighter-dashboard/my-knowledge/general']"
              class="text-gray-700 text-hover-info"
            >
              My Knowledge Base
            </a>
            <i
              class="ki-outline {{
                lang === 'ar' ? 'ki-left' : 'ki-right'
              }} fs-4 text-gray-700 ms-2"
            ></i>
          </li>
          <li
            class="breadcrumb-item text-gray-800 lh-1 d-flex align-items-center"
          >
            <a
              [routerLink]="['/app/insighter-dashboard/my-knowledge/general']"
              class="text-gray-700 text-hover-info"
            >
            General
            </a>
            <i
              class="ki-outline {{
                lang === 'ar' ? 'ki-left' : 'ki-right'
              }} fs-4 text-gray-700 ms-2"
            ></i>
          </li>
       
        </ul>
      </div>

      <!-- Title -->
      <div class="page-title d-flex align-items-start me-3 mb-4 mb-lg-15">
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'report'"
        >
          <svg
            width="35"
            height="32"
            viewBox="0 0 35 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.4"
              d="M31.5876 15.225L30.1584 21.3208C28.9334 26.5854 26.5126 28.7146 21.9626 28.2771C21.2334 28.2187 20.4459 28.0875 19.6001 27.8833L17.1501 27.3C11.0688 25.8562 9.1876 22.8521 10.6168 16.7562L12.0459 10.6458C12.3376 9.40624 12.6876 8.32707 13.1251 7.43749C14.8313 3.90832 17.7334 2.96041 22.6043 4.11249L25.0397 4.68124C31.1501 6.11041 33.0168 9.12916 31.5876 15.225Z"
              fill="#699DDE"
            />
            <path
              d="M21.9623 28.2771C21.0581 28.8896 19.9206 29.4 18.5352 29.8521L16.231 30.6104C10.4414 32.4771 7.39352 30.9167 5.51227 25.1271L3.6456 19.3667C1.77893 13.5771 3.32476 10.5146 9.11435 8.64792L11.4185 7.88958C12.0164 7.7 12.5852 7.53958 13.1248 7.4375C12.6873 8.32708 12.3373 9.40625 12.0456 10.6458L10.6164 16.7563C9.18727 22.8521 11.0685 25.8562 17.1498 27.3L19.5998 27.8833C20.4456 28.0875 21.2331 28.2187 21.9623 28.2771Z"
              fill="#0778B9"
            />
            <path
              d="M25.5065 15.3271C25.419 15.3271 25.3315 15.3125 25.2294 15.298L18.1565 13.5042C17.5732 13.3584 17.2232 12.7605 17.369 12.1771C17.5148 11.5938 18.1127 11.2438 18.6961 11.3896L25.769 13.1834C26.3523 13.3292 26.7023 13.9271 26.5565 14.5105C26.4398 14.9917 25.9877 15.3271 25.5065 15.3271Z"
              fill="white"
            />
            <path
              d="M21.2335 20.2562C21.146 20.2562 21.0585 20.2416 20.9564 20.2271L16.7126 19.1479C16.1293 19.0021 15.7793 18.4041 15.9251 17.8208C16.071 17.2375 16.6689 16.8875 17.2522 17.0333L21.496 18.1125C22.0793 18.2583 22.4293 18.8562 22.2835 19.4396C22.1668 19.9354 21.7293 20.2562 21.2335 20.2562Z"
              fill="white"
            />
          </svg>
        </div>
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'insight'"
        >
          <app-keenicon
            name="chart-line"
            class="fs-3x mx-5 text-success"
          ></app-keenicon>
        </div>
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'data'"
        >
          <app-keenicon
            name="data"
            class="fs-3x mx-5 text-primary"
            *ngIf="knowledge.type === 'data'"
          ></app-keenicon>
        </div>
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'manual'"
        >
          <app-keenicon
            name="book"
            class="fs-3x mx-5 text-warning"
          ></app-keenicon>
        </div>
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'course'"
        >
          <app-keenicon
            name="teacher"
            class="fs-3x mx-5 text-success"
          ></app-keenicon>
        </div>
        <div
          class="btn btn-icon btn-custom bg-white h-70px w-70px me-6"
          *ngIf="knowledge.type === 'media'"
        >
          <app-keenicon
            name="video"
            class="fs-3x mx-5 text-danger"
          ></app-keenicon>
        </div>

        <h1
          class="page-heading d-flex text-black fw-bolder fs-lg-rem flex-column justify-content-center my-0 max-w-800px"
        >
    <div class="d-flex align-items-center gap-2">
      <span>  {{ knowledge.title }}</span>
      <button type="button" class="btn btn-icon btn-sm btn-light-success" [routerLink]="['/app/edit-knowledge/stepper', knowledge.id]">
        <i class="ki-duotone ki-pencil fs-2">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </button>
    </div>
          <span class="page-desc fs-6 fw-bold d-flex align-items-center pt-4">
            <span class="custom-text me-3 lh-1 d-flex align-items-center">
              <i
                class="ki-duotone ki-document text-info fs-3 mx-4"
                *ngIf="knowledge.type === 'report'"
              >
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
              <i
                class="fas fa-lightbulb text-success fs-3 mx-4"
                *ngIf="knowledge.type === 'insight'"
              ></i>
              <i
                class="fas fa-database text-primary fs-3 mx-4"
                *ngIf="knowledge.type === 'data'"
              ></i>
              <i
                class="fas fa-book text-warning fs-3 mx-4"
                *ngIf="knowledge.type === 'manual'"
              ></i>
              <i
                class="fas fa-graduation-cap text-success fs-3 mx-4"
                *ngIf="knowledge.type === 'course'"
              ></i>
              <i
                class="fas fa-video text-danger fs-3 mx-4"
                *ngIf="knowledge.type === 'media'"
              ></i>
              {{ knowledge.type }}
            </span>
            <span class="bullet text-black h-6px w-6px mx-3"></span>
            <span class="d-flex align-items-center text-gray-700">
              <i class="ki-duotone ki-tag text-warning fs-3 mx-4">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
              7,834 Downloads
            </span>
          </span>
        </h1>
      </div>

      <!-- Tabs -->
      <div class="">
        <div class="pt-9 pb-0">
          <div class="d-flex overflow-auto h-55px">
            <ul
              class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold flex-nowrap"
            >
              <li class="nav-item">
                <a
                  class="nav-link text-active-info me-6"
                  routerLink="details"
                  routerLinkActive="active"
                >
                  Knowledge Details
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-active-info me-6"
                  routerLink="analytics"
                  routerLinkActive="active"
                >
                  Analytics
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="knowledge">
    <div class="row py-10">
      <div class="col-lg-8 p-n-10">
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4">
        <!-- Added sticky sidebar with responsive behavior -->
         
        <div
          class="tp-course-details2-widget position-lg-sticky"
          style="z-index: 1"
        >
     
          <div class="tp-course-details2-widget-content">
            <div
            class="tp-course-details2-widget-price d-flex justify-content-center align-items-center"
          >
            <span class="fs-2x fw-bolder text-primary">{{knowledge.total_price | currency}}</span>
            <span class="text-muted fs-5 ms-3">One-time purchase</span>
          </div>
            <div class="separator separator-dashed my-5"></div>

            <!-- Report details section -->
            <div class="tp-course-details2-widget-list p-4">
              <div class="tp-course-details2-widget-list-item-wrapper">
                <!-- status -->
                <div
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                  <span>
                    <i class="ki-outline ki-message-text-2 fs-4 mx-4"></i>
                    Status
                  </span>
                  <span
                    class="text-capitalize"
                    [ngClass]="{
                      'text-success': knowledge.status === 'published',
                      'text-warning': knowledge.status === 'scheduled',
                      'text-danger': knowledge.status === 'unpublised'
                    }"
                  >
                    {{ knowledge.status }}</span
                  >
                </div>
                <!-- Add Publish Date for Scheduled Status -->
                <div
                  *ngIf="knowledge.status === 'scheduled'"
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                  <span>
                    <i class="ki-outline ki-calendar fs-4 mx-4"></i>
                    Publish Date To
                  </span>
                  <span>{{ knowledge.published_at | date : "dd MMMM yyyy" }}</span>
                </div>
                <!-- Language -->
                <div
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                  <span>
                    <i class="ki-outline ki-message-text-2 fs-4 mx-4"></i>
                    Documents Language
                  </span>
                  <span class="text-capitalize"> {{ knowledge.language }}</span>
                </div>
                <!-- Industry -->
                <div
                *ngIf="knowledge && knowledge.isic_code"
                class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3" 
              >
                <span>
                  <i class="ki-outline ki-file fs-4 mx-4"></i>
                 Industry
                </span>
                <span
                  class="badge badge-light-secondary text-primary fs-8 fw-bold  pre-line text-right"
                  >{{ knowledge.industry.name }}</span
                >
              </div>
                <!-- ISIC Code -->
                <div
                  *ngIf="knowledge && knowledge.isic_code"
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                  <span>
                    <i class="ki-outline ki-file fs-4 mx-4"></i>
                    ISIC Code
                  </span>
                  <span
                    class="badge badge-light-secondary text-primary fs-8 fw-bold"
                    [ngbTooltip]="knowledge.isic_code.name"
                    >{{ knowledge.isic_code.key }}</span
                  >
                </div>
                <!-- Published -->
                <div
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                  *ngIf="knowledge.published_at && knowledge.status !== 'scheduled'"
                >
                  <span>
                    <i class="ki-outline ki-check-circle fs-4 mx-4"></i>
                    Published at
                  </span>
                  <span>{{
                    knowledge.published_at | date : "dd MMMM yyyy"
                  }}</span>
                </div>
                <!-- Last Update -->
                <!-- <div
                class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                <span>
                    <i class="ki-outline ki-calendar fs-4 mx-4"></i>
                    Last Update
                </span>
                <span>December 22, 2024</span>
                </div> -->
                <!-- Target Market -->
                <div
                  class="tp-course-details2-widget-list-item d-flex align-items-center justify-content-between mb-3"
                >
                  <span>
                    <i class="ki-outline ki-icon fs-4 mx-4"></i>
                    Target Market
                  </span>
                  <div
                    class="max-w-100px d-flex flex-wrap gap-2 justify-content-end"
                  >
                    <ng-container *ngIf="knowledge.economic_blocs.length > 0">
                      <span
                        class="badge badge-light-secondary text-gray-800 fs-8 fw-bold"
                        *ngFor="let bloc of knowledge.economic_blocs"
                      >
                        {{ bloc.name }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="knowledge.regions.length > 0">
                      <span
                        class="badge badge-light-secondary text-gray-800 fs-8 fw-bold"
                        *ngFor="let region of knowledge.regions"
                      >
                        {{ region.name }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="knowledge.countries.length > 0">
                      <span
                        class="badge badge-light-secondary text-gray-800 fs-8 fw-bold"
                        *ngFor="let country of knowledge.countries"
                      >
                        {{ country.name }}
                      </span>
                    </ng-container>
                  </div>
                </div>
                <div class="d-flex flex-column gap-3 mb-4" >
                 
                  <button class="btn btn-primary w-100" (click)="confirmPublish()" *ngIf="knowledge.status === 'unpublished' || knowledge.status === 'scheduled'">
                    <i class="ki-outline ki-cart fs-4 me-2"></i>
                    Publish
                  </button>
                  <button class="btn btn-light-warning w-100" (click)="openScheduleDialog()" *ngIf="knowledge.status === 'unpublished' || knowledge.status === 'scheduled'">Schedule</button>
                </div>
                <div class="d-flex flex-column gap-3 mb-4" *ngIf="knowledge.status === 'published'">
                 
                    <button class="btn btn-light-danger w-100" (click)="confirmUnpublish()">
                      <i class="ki-outline ki-cart fs-4 me-2"></i>
                      Unpublish
                    </button>
                   
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-solid my-10"></div>
    <div class="row py-10">
      <!-- <app-related-knowledges></app-related-knowledges> -->
    </div>
  </div>
</div>
