<!--begin::Header container-->
<div class="app-container container" id="kt_app_header_container">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
    <a routerLink="/">  <img src="./assets/media/logos/default-small.svg" height="30" class="mr-2 d-inline-block " alt="logo"/></a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="d-flex align-items-center gap-3">
        <!-- Notifications -->
         <!-- Notifications Overlay -->
  <div class="app-navbar-item 'ms-1 ms-lg-3'" >
    <div
   class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-40px h-md-40px"
      data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
      data-kt-menu-attach="parent"
      data-kt-menu-placement="bottom-end"
    >
      <i class="ki-outline ki-notification-on fs-1"></i>
      <div
        *ngIf="notificationCount > 0"
        class="badge badge-circle badge-danger position-absolute translate-middle bottom-0 ms-10 mt-7 h-15px w-15px fs-9"
      >
        {{ notificationCount }}
      </div>  
    </div>
    <app-notifications-inner 
    [parent]="'client'"
     (notificationClicked)="handleNotificationClick($event)" 
     [notifications]="notifications"
     ></app-notifications-inner>
  </div>

        
        <!-- User Profile -->
        <p-avatar [image]="userPhotoUrl || undefined" shape="circle" size="large" 
          [label]="!userPhotoUrl ? userInitials : undefined" styleClass="mr-2" 
          (click)="toggleUserMenu($event)" [style]="{'cursor': 'pointer'}">
        </p-avatar>
      </div>
    </ng-template>
  </p-menubar>


  <!-- User Menu Overlay -->
  <p-overlayPanel #userMenuOverlay>
    <app-user-inner></app-user-inner>
  </p-overlayPanel>
</div>
<!--end::Header container-->