<!--begin::Header container-->
<div class="app-container container" id="kt_app_header_container">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
    <a routerLink="/">  <img src="./assets/media/logos/default-small.svg" height="30" class="mr-2 d-inline-block " alt="logo"/></a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="d-flex align-items-center gap-3">
        <!-- Notifications -->
        <p-button icon="pi pi-bell" [badge]="notificationCount.toString()" severity="secondary" [rounded]="true" [text]="true" 
          (click)="toggleNotifications($event)"></p-button>
        
        <!-- User Profile -->
        <p-avatar [image]="userPhotoUrl || undefined" shape="circle" size="large" 
          [label]="!userPhotoUrl ? userInitials : undefined" styleClass="mr-2" 
          (click)="toggleUserMenu($event)" [style]="{'cursor': 'pointer'}">
        </p-avatar>
      </div>
    </ng-template>
  </p-menubar>

  <!-- Notifications Overlay -->
  <p-overlayPanel #notificationsOverlay>
    <app-notifications-inner [parent]="'client'" 
      (notificationClicked)="handleNotificationClick($event)" 
      [notifications]="notifications">
    </app-notifications-inner>
  </p-overlayPanel>

  <!-- User Menu Overlay -->
  <p-overlayPanel #userMenuOverlay>
    <app-user-inner></app-user-inner>
  </p-overlayPanel>
</div>
<!--end::Header container-->