<div class="logo position-absolute ">
 <a routerLink="/">
  <img alt="logo" src="../../../../../assets/media/logos/dark-logo-sm.svg" class="h-40px">
 </a>
</div>
<div class="row h-100vh gap pt-res-100 justify-content-center bg-light">
  <div class="second-block">
    <div class="w-lg-500px mil-up">
      <div class="bg-body overflow-hidden d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
        
        <!-- Message Display -->
        <p-messages [(value)]="messages"></p-messages>
   
        <!-- Step 1: Email Submission -->
        <form *ngIf="step === 1" [formGroup]="emailForm" (ngSubmit)="submitEmail()" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate>
          <!--begin::Heading-->
          <div class="text-center mb-10">
            <h1 class="text-gray-900 fw-bolder mb-3">{{ 'AUTH.FORGOT.TITLE' | translate }}</h1>
            <div class="text-gray-500 fw-semibold fs-6">{{ 'AUTH.FORGOT.DESC' | translate }}</div>
          </div>
          <!--end::Heading-->

          <!--begin::Input group--->
          <div class="fv-row mb-8">
            <input type="email" [placeholder]="'AUTH.INPUT.EMAIL' | translate" formControlName="email" autocomplete="off" class="form-control bg-transparent">
            <div *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)" class="invalid-feedback">
              <span *ngIf="emailForm.get('email')?.errors?.['required']">{{ 'AUTH.LOGIN.EMAIL_REQUIRED' | translate }}</span>
              <span *ngIf="emailForm.get('email')?.errors?.['email']">{{ 'AUTH.LOGIN.EMAIL_INVALID' | translate }}</span>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Actions-->
          <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button type="submit" [disabled]="(passwordResetService.isLoading$ | async)" class="btn btn-primary mx-4">
              <span class="indicator-label">{{
                "AUTH.REGISTRATION.SUBMIT" | translate
              }}</span>
              <span class="indicator-progress">{{ 'AUTH.LOGIN.PLEASE_WAIT' | translate }} <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <a routerLink="/auth/login" class="btn btn-light">{{ 'BUTTONS.BACK_BUTTON' | translate }}</a>
          </div>
          <!--end::Actions-->
        </form>

        <!-- Step 2: Reset Password -->
        <form *ngIf="step === 2" [formGroup]="resetForm" (ngSubmit)="submitReset()" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework slide-in" novalidate>
          <!--begin::Heading-->
          <div class="text-center mb-10">
            <h1 class="text-gray-900 fw-bolder mb-3">{{ 'AUTH.TWO_FA.VERIFY_PHONE' | translate }}</h1>
            <div class="text-gray-500 fw-semibold fs-6">{{ 'AUTH.TWO_FA.ENTER_VERIFICATION_CODE' | translate }}</div>
          </div>
          <!--end::Heading-->

          <!--begin::Input group--->
          <div class="fv-row mb-8">
            <input type="text" [placeholder]="'AUTH.TWO_FA.ENTER_CODE' | translate" formControlName="code" autocomplete="off" class="form-control bg-transparent">
            <div *ngIf="resetForm.get('code')?.invalid && (resetForm.get('code')?.dirty || resetForm.get('code')?.touched)" class="invalid-feedback">
              <span *ngIf="resetForm.get('code')?.errors?.['required']">{{ 'AUTH.TWO_FA.CODE_NOT_FOUND' | translate }}</span>
            </div>
          </div>

          <div class="fv-row mb-8">
            <input type="password" [placeholder]="'AUTH.REGISTRATION.PASSWORD_LABEL' | translate" formControlName="password" autocomplete="off" class="form-control bg-transparent">
            <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" class="invalid-feedback">
              <span *ngIf="resetForm.get('password')?.errors?.['required']">{{ 'AUTH.REGISTRATION.PASSWORD_REQUIRED' | translate }}</span>
              <span *ngIf="resetForm.get('password')?.errors?.['minlength']">{{ 'AUTH.REGISTRATION.PASSWORD_MINLENGTH' | translate }}</span>
            </div>
          </div>

          <div class="fv-row mb-8">
            <input type="password" [placeholder]="'AUTH.REGISTRATION.CONFIRM_PASSWORD_LABEL' | translate" formControlName="password_confirmation" autocomplete="off" class="form-control bg-transparent">
            <div *ngIf="resetForm.hasError('mismatch') && (resetForm.get('password_confirmation')?.dirty || resetForm.get('password_confirmation')?.touched)" class="invalid-feedback">
              <span>{{ 'AUTH.REGISTRATION.PASSWORD_MISMATCH' | translate }}</span>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Actions-->
          <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button type="submit" [disabled]="passwordResetService.isLoading$ | async" class="btn btn-primary me-4">
              <span class="indicator-label">{{ 'AUTH.LOGIN.CONTINUE' | translate }}</span>
              <span class="indicator-progress">{{ 'AUTH.LOGIN.PLEASE_WAIT' | translate }} <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <a href="/auth/login" class="btn btn-light">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</a>
          </div>
          <!--end::Actions-->
        </form>

      </div>
    </div>
  </div>
</div>
