<div class="pt-20">
  <div id="kt_app_toolbar" class="app-toolbar">
    <!--begin::Toolbar container-->
    <div
      id="kt_app_toolbar_container"
      class="app-container container-xxl d-flex align-items-start"
    >
      <!--begin::Toolbar container-->
      <div class="d-flex flex-column flex-row-fluid">
        <!--begin::Page title-->
        <div
          class="page-title d-flex align-items-md-center flex-column flex-sm-row gap-4 mb-4 pt-9 pt-lg-17 mb-lg-15"
        >
          <!-- <div class="btn btn-icon btn-custom h-65px w-65px me-6">
          <img alt="Logo" src="../../../assets/media/svg/misc/infography.svg" class="h-40px">
          </div> -->

          <!--begin::Title-->
          <div class="w-lg-300px position-relative">
            <div
              class="d-flex align-items-center position-absolute translate-middle-y top-50 start-0 ms-3"
            >
              <i class="ki-outline ki-magnifier text-gray-600 fs-3"></i>
            </div>

            <input
              type="text"
              class="form-control form-control-solid border border-gray-300 ps-10"
              minlength="3"
              maxlength="4"
              placeholder="Search..."
              name="search"
            />
          </div>
          <p-dropdown
            class="form-p-control"
            [options]="countries"
            [(ngModel)]="selectedCountry"
            optionLabel="name"
            [placeholder]="'HOME.REGION_PLACEHOLDER' | translate"
            [filter]="true"
          >
            <ng-template let-item pTemplate="item">
              <div class="country-item">
                <img
                  [src]="item.file_url"
                  alt="{{ item.name }}"
                  class="country-flag"
                />
                <span>{{ item.name }}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <div class="form-p-control">
            <input
              type="text"
              class="hs-code"
              placeholder="HS-Code"
              pInputText
              [(ngModel)]="value"
            />
          </div>
            <a
              href="#"
              class="btn btn-flex btn-primary "
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_invite_friends"
            >
              <i class="ki-duotone ki-magnifier text-gray-200 fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
              Search
            </a>

          <!--end::Title-->
        </div>
        <!--end::Page title-->
        <!--begin::Toolbar wrapper--->
        <div class="d-flex justify-content-between flex-wrap gap-4 gap-lg-10">
          <!--begin::Toolbar menu-->
          <div
            class="app-toolbar-menu menu menu-rounded menu-gray-800 menu-state-bg flex-wrap fs-5 fw-semibold"
          >
            <!--begin::Menu item-->
            <div class="pb-xl-8 pb-2 pt-2 mt-5 mt-lg-0">
              <p-dropdown
                class="search-bar-tools"
                [options]="countries"
                [(ngModel)]="selectedCountry"
                optionLabel="name"
                placeholder="City"
                [filter]="true"
              >
                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <img
                      [src]="item.file_url"
                      alt="{{ item.name }}"
                      class="country-flag"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="pb-xl-8 pb-2 pt-2 mt-5 mt-lg-0">
              <p-dropdown
                class="search-bar-tools"
                [options]="countries"
                [(ngModel)]="selectedCountry"
                optionLabel="name"
                placeholder="Field"
                [filter]="true"
              >
                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <img
                      [src]="item.file_url"
                      alt="{{ item.name }}"
                      class="country-flag"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="pb-xl-8 pb-2 pt-2 mt-5 mt-lg-0">
              <p-dropdown
                class="search-bar-tools"
                [options]="countries"
                [(ngModel)]="selectedCountry"
                optionLabel="name"
                placeholder="Any time"
                [filter]="true"
              >
                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <img
                      [src]="item.file_url"
                      alt="{{ item.name }}"
                      class="country-flag"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="pb-xl-8 pb-2 pt-2 mt-5 mt-lg-0">
              <p-dropdown
                class="search-bar-tools"
                [options]="countries"
                [(ngModel)]="selectedCountry"
                optionLabel="name"
                placeholder="Industry sector (ISIC)"
                [filter]="true"
              >
                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <img
                      [src]="item.file_url"
                      alt="{{ item.name }}"
                      class="country-flag"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!--end::Menu item-->

            <!-- <div class=" pb-xl-8 pb-4 mt-5 mt-lg-0  align-items-center d-flex">
            
            <input type="text" placeholder="HS code" class="w-150px hs-code" name="HS Code" value="">
          </div> -->
          </div>
          <!--begin::Toolbar menu-->
          <!--begin::Wrapper-->
          <div
            class="d-flex flex-align-items flex-wrap gap-3 gap-xl-0 mb-7 mt-n1"
          >
            <!--begin::Users group-->
            <div class="symbol-group symbol-hover flex-nowrap me-2">
              <div
                class="symbol symbol-35px "
                data-bs-toggle="tooltip"
                data-bs-original-title="Alan Warden"
                data-kt-initialized="1"
              >
                <span
                  class="symbol-label  fw-bold"   
                  [inlineSVG]="'./assets/media/svg/files/pdf.svg'"
                  ></span
                >
              </div>

            </div>
            <div class="symbol-group symbol-hover flex-nowrap me-2">
           
              <div
                class="symbol symbol-35px "
                data-bs-toggle="tooltip"
                data-bs-original-title="Susan Redwood"
                data-kt-initialized="1"
              >
                <span
                  class="symbol-label  fw-bold"
                  ><img src="../../../../../assets/media/svg/files/SVG/img.svg"></span
                >
              </div>

            
            </div>
            <div class="symbol-group symbol-hover flex-nowrap me-2">
             
           
              <div
                class="symbol symbol-35px "
                data-bs-toggle="tooltip"
                data-bs-original-title="Perry Matthew"
                data-kt-initialized="1"
              >
              <span
              class="symbol-label  fw-bold"
              ><img src="../../../../../assets/media/svg/files/SVG/ppt.svg"></span
                >
              </div>
            </div>
            <!--end::Users group-->

            <!--begin::Actions-->
            <div class="d-flex align-items-center flex-shrink-0">
              <a
                href="#"
                class="btn btn-sm btn-flex btn-light ms-5"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_new_target"
              >
                Set Your Target
              </a>
            </div>
            <!--end::Actions-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Toolbar wrapper--->
      </div>
      <!--end::Toolbar container--->
    </div>
    <!--end::Toolbar container-->
  </div>
</div>
