.app-toolbar{
    background-image: url('https://res.cloudinary.com/dsiku9ipv/image/upload/v1728124322/Artboard_3_anigtm.png');
    background-size: cover;
    background-position: 10% 90%;
}
.hs-code:placeholder-shown{
   font-size: 1rem !important;
    
}
